.full-blue
  .center
    %a.close{ href: '/' } X
    %h1 Qui êtes-vous ?
    %a.crazy-btn.yellow{ href: '/users/sign_in' } un pro qui témoigne 
    %br
    %br
    %br
    %a.crazy-btn.yellow{ href: ENV['DISCOURSE_URL'] } une personne qui suit le parcours
