<div class="container">
  <div class="row">
    <form role="form" style="padding-top: 50px; font-size: 1.125em" class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label for="email">Votre email</label>
        <input type="email" class="form-control input-lg" id="email" placeholder="jules.bonGateau@mail.com" value="<%= @email %>">
      </div>
      <div class="form-group">
        <label for="metier">Votre métier</label>
        <input type="text" class="form-control input-lg" id="metier" placeholder="Patissier" value="<%= @metier %>">
      </div>
      <div class="form-group">
        <label for="prenom">Votre prénom</label>
        <input type="text" class="form-control input-lg" id="prenom" placeholder="Jules">
      </div>
      <div class="form-group">
        <label for="love_job">Au fond, qu'est ce qui fait que vous aimez votre métier ?</label>
        <textarea class="form-control input-lg" id="love_job" rows="6"></textarea>
      </div>
      <div class="form-group">
        <label for="but_exactly">Que faites vous exactement ?</label>
        <textarea class="form-control input-lg" id="but_exactly" rows="6"></textarea>
      </div>
      <div class="form-group">
        <label for="photo">Votre photo !</label>
        <input type="file" id="photo">
        <p class="help-block">C'est pour la galerie.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Je vous envoie ma photo par mail à contact@bloomr.org
        </label>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg" style="margin-top: 25px">Enregistrer</button>
    </form>
  </div>
</div>