<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="padding-top: 50px; font-size: 1.125em">
      <h1 style="text-align: center; padding: 20px 0px;">Merci beaucoup !</h1>
      <h2 style="text-align: center">Votre profil sera bientôt ajouté à notre galerie.</h2>
      <p style="padding: 45px 0px; text-align: center; font-size: 1.125em;">
        <a href="<%= root_path %>">Consulter la galerie de volontaires.</a>
      </p>
    </div>
  </div>
</div>