- content_for :title, @tribe.name
- content_for :description, @tribe.description

#tribes-show
  %section.intro
    %h1 #{@tribe.name}
    .list-wrapper
      %p.subtitle #{@tribe.description}
  %ul
    - @tribe.users.active_ordered.each do |user|
      %li{ itemscope: true, itemtype: 'http://schema.org/Person' }
        = render 'portraits/card', portrait: user
