.actions2
  %a{ href: "/portraits/previous?id=#{@portrait.id}" }
    ←&nbsp;métier précédent
  .middle
    %a.crazy-btn.hide-phone{ href: aleatoire_portraits_path } Et un métier au hasard ! Un !
    %a.crazy-btn.show-phone{ href: aleatoire_portraits_path } au hasard !
    %a{ href: jobs_path } Retour à la galerie de métiers
  %a{ href: "/portraits/next?id=#{@portrait.id}" }
    métier suivant&nbsp;→
