.actions2
  %a{ href: job_vanity_path(User.previous(@portrait.id).to_param) }
    ←&nbsp;métier précédent
  .middle
    %a.crazy-btn.hide-phone{ href: program_path } Et toi, tu cherches ta voie ?
    %a.crazy-btn.show-phone{ href: program_path } Et toi, tu cherches ta voie ?
    %a{ href: jobs_path } Retour à la galerie de métiers
  %a{ href: job_vanity_path(User.next(@portrait.id).to_param) }
    métier suivant&nbsp;→
