%ul.links.list-wrapper
  %li{ role: 'presentation' }
    %a#interview.active{ 'aria-controls' => 'portrait_details', href: '#portrait_details', role: 'tab' }
      %span.portrait-quote
      %span.portrait-quote-on
      Mon interview

  - if @portrait.has_explained_its_works?
    %li{ role: 'presentation' }
      %a#work{ 'aria-controls' => 'my-work', href: '#my-work', role: 'tab' }
        %span.portrait-luggage
        %span.portrait-luggage-on
        Mon travail

  - if @portrait.books.count > 1
    %li{ role: 'presentation' }
      %a#books{ 'aria-controls' => 'my-books', href: '#my-books', role: 'tab' }
        %span.portrait-icon-book
        %span.portrait-icon-book-on
        Mes livres de chevet
