- if @portrait.has_explained_its_works?
  #my-work{ role: 'tabpanel', style: 'display: none;' }

    .row
      %div.structure
        - q = @portrait.questions.select {|q| q.identifier == 'how_many_people_in_company' }.first
        %p.question Dans la structure dans laquelle je travaille, il y a <span class='answer'>#{q.answer}</span>
        %span{class: "portrait-company-size-#{q.discret_company_size}"}
      %div.team
        %p.question Au quotidien, je travaille plutôt en équipe
        - q = @portrait.questions.select { |q| q.identifier == 'solo_vs_team' }.first
        %span{class: "portrait-team-#{q.answer}"}

    .spacer

    .typical
      %p.question Lors d'une journée typique, je suis en relation avec
      - q = @portrait.questions.select {|q| q.identifier == 'who_do_you_work_with' }.first
      %p.answer #{q.answer}

    .spacer
   
    .row.knowledge
      %p.question La connaissance d'une langue étrangère est obligatoire pour exercer mon métier
      %div
        - q = @portrait.questions.select {|q| q.identifier == 'foreign_language_mandatory' }.first
        - q.answer.to_i.times do
          %span.portrait-flag-on
        - (5 - q.answer.to_i).times do
          %span.portrait-flag-off

    .spacer

    .row
      %div
        %p.question Je travaille plutôt à l'extérieur
        - q = @portrait.questions.select {|q| q.identifier == 'inside_or_outside_work' }.first
        - q.answer.to_i.times do
          %span.portrait-location-outside
        - (5 - q.answer.to_i).times do
          %span.portrait-location-inside
      %div
        %p.question Je me déplace souvent
        - q = @portrait.questions.select {|q| q.identifier == 'always_on_the_road' }.first
        - q.answer.to_i.times do
          %span.portrait-back-bag
        - (5 - q.answer.to_i).times do
          %span.portrait-tent

    .spacer

    .row
      %div
        %p.question Je gère moi-même mon temps
        - q = @portrait.questions.select {|q| q.identifier == 'self_time_management' }.first
        - q.answer.to_i.times do
          %span.portrait-v-ok
        - (5 - q.answer.to_i).times do
          %span.portrait-v-ko
      %div
        %p.question Mon métier est plutôt manuel
        - q = @portrait.questions.select {|q| q.identifier == 'manual_or_intellectual' }.first
        - q.answer.to_i.times do
          %span.portrait-hand
        - (5 - q.answer.to_i).times do
          %span.portrait-brain
