<div class="intro">
  <div class="container">
    <p>
      <em>Quel métier choisir ?</em>
    </p>
    <p>
      Plus de 200 professionnels enthousiastes nous parlent de leur métier.
      <br>
      Comment se voyaient-ils enfant et que sont-ils devenus ? À vous de le découvrir !
    </p>
    <p>
      Vous souhaitez témoigner ?
      <a href="https://bloomr.typeform.com/to/ZDAyNU">Oui je le veux !</a>
    </p>
  </div>
</div>