<div class="subheader">
  <div class="intro-wrapper">
    <div class="container intro">
      <p>
        <em>Quel métier choisir ? Bloomr t'ouvre la voie</em>
      </p>
      <p class="description">
        Parce que construire ton avenir commence par bien choisir ton métier, Bloomr réunit des centaines de passionnés pour t'accompagner
      </p>
    </div>
  </div>

  <%= render "shared/search_and_tags" %>
</div>