%header.header
  - bg = yield(:header_background)
  %nav{ style: (bg.blank? ? '' : "background-image: url(#{bg})") }
    .top.show-phone
      %a.logo{ href: '/' } Bloomr
      %a.menu.open Menu
      %a.menu.close ✕
    %ul
      %li.hide-phone
        %a.logo{ href: '/' } Bloomr
      %li
        %a{ href: 'https://programmes.bloomr.org/a-propos' } À propos
      %li
        %a{ href: 'https://programmes.bloomr.org' } Accompagnement en ligne
      %li
        %a{ href: 'https://programmes.bloomr.org/avis' } Avis
      %li
        %a{ href: 'https://blog-bloomr.org', target: '_blank' } Blog
      %li
        %a{ href: 'https://www.bloomr.life', target: '_blank' } OFFRE ENTREPRISES
      %li
        %a{ href: 'https://programs.bloomr.org', target: '_blank' } Connexion
