%header.header
  - bg = yield(:header_background)
  %nav{ style: (bg.blank? ? '' : "background-image: url(#{bg})") }
    .top.show-phone
      %a.logo{ href: '/' } Bloomr
      %a.menu.open Menu
      %a.menu.close ✕
    %ul
      %li.hide-phone
        %a.logo{ href: '/' } Bloomr
      %li
        %a
          %span À propos de Bloomr
          %span.down.show-phone ❭
        %ul.submenu
          %li
            %a{ href: concept_path }
              %span Le concept
              %span.show-phone ❭
          %li
            %a{ href: qui_sommes_nous_path }
              %span L'équipe
              %span.show-phone ❭
          %li
            %a{ href: bloomifesto_path }
              %span Le manifesto
              %span.show-phone ❭
          %li
            %a{ href: testimonies_path }
              %span Les avis
              %span.show-phone ❭
          %li
            %a{ href: press_path }
              %span La presse
              %span.show-phone ❭
          %li
            %a{ href: 'mailto:contact@bloomr.org' }
              %span Contact
              %span.show-phone ❭
      %li
        %a
          %span Vous êtes
          %span.down.show-phone ❭
        %ul.submenu.right
          %li
            %a{ href: program_path }
              %span À la recherche de votre voie
              %span.show-phone ❭
          %li
            %a{ href: enrollment_index_path }
              %span Un professionnel heureux
              %span.show-phone ❭
          %li
            %a{ href: 'http://entreprises.bloomr.org/' }
              %span Une entreprise
              %span.show-phone ❭
          %li
            %a{ href: 'https://static.bloomr.org/parents' }
              %span Parent
              %span.show-phone ❭
      %li
        %a{ href: program_path, style: 'font-weight: bold;' } Programme de réflexion
      %li
        %a{ href: jobs_path } Métiers
      %li
        %a{ href: 'https://blog-bloomr.org', target: '_blank' } Blog
      %li
        %a
          %span Connexion
          %span.down.show-phone ❭
        .submenu.right
          %p.iam Je suis ...
          %ul
            %li
              %a{ href: enrollment_index_path }
                %span Un pro heureux qui veut témoigner
                %span.show-phone ❭
            %li
              %a{ href: user_session_path, 'data-turbolinks' => 'false'}
                %span Un pro heureux qui veut accéder à son profil
                %span.show-phone ❭
            %li
              %a{ href: 'https://programs.bloomr.org' }
                %span Inscrit(e) au programme Bloomr
                %span.show-phone ❭
