%nav#header.navbar.navbar-fixed-top{role: 'navigation', style: 'margin-bottom: 0px; padding-top: 10px;' }
  .container
    .navbar-header
      %button.visible-xs.visible-sm.navbar-toggle.collapsed{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{'aria-label' => "BLOOM'R", href: '/' }
      %ul.nav.navbar-nav.search-and-idea
        %li.hidden-xs.hidden-sm
          %a{ href: 'http://inscription.bloomr.org' } Le parcours
        %li.hidden-xs.hidden-sm
          %a{ href: tribes_path, class: current_page?(tribes_path) ? 'active' : '' } Les tribus
        %li
          %a.blog{ href: 'https://blog.bloomr.org' }
            %span.hidden-xs Le blog
        %li.hidden-xs.hidden-sm
          %a{ href: le_concept_path, class: current_page?(le_concept_path) ? 'active' : '' } Le concept
        %li.hidden-xs.hidden-sm
          %a{ href: qui_sommes_nous_path, class: current_page?(qui_sommes_nous_path) ? 'active' : '' } L'équipe
        %li.search-wrapper
          %a.searchButton{ href: '#' } Rechercher
        %li.hidden-xs
          = link_to 'Rejoignez-les !', enrollment_index_path, class: 'framed'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{ href: 'http://inscription.bloomr.org' } Le parcours
        %li
          %a{ href: tribes_path, class: current_page?(tribes_path) ? 'active' : '' } Les tribus
        %li
          %a{ href: le_concept_path, class: current_page?(le_concept_path) ? 'active' : '' } Le concept
        %li
          %a{ href: qui_sommes_nous_path, class: current_page?(qui_sommes_nous_path) ? 'active' : '' } L'équipe
        %li
          %a{ href: 'https://blog.bloomr.org' } Le blog
        %li{style: 'font-weight: bold;' }
          = link_to 'J’aime mon job, je veux participer !', enrollment_index_path
        %li.social
          %a{ href: 'https://twitter.com/bloomr4youth' }
            %span.icon-twitter-white
            %span.social Suivez-nous !
        %li.social
          %a{ href: 'https://www.facebook.com/bloomr4youth' }
            %span.icon-facebook-white
            %span.social Aimez-nous !

  .mobile-search
    .container.version2
      .row
        .col-md-12.searchBox
          %span.glyphicon.glyphicon-search
          %input.search-box{placeholder: 'Rechercher', type: 'text' }
