%footer
  .wrapper
    %section
      %h1 Au fait, c'est quoi Bloomr&nbsp;?
      %p
        Le monde du travail est à son point de bascule, la majorité des entreprises peinent à donner du sens au travail demandé, et la pression à choisir vite et bien sa voie n’a jamais été aussi forte.
        <br/><br/>
        C’est à chacun de trouver le sens qu’il veut donner à sa vie professionnelle, et cette quête commence le plus tôt possible.
    %section
      %h1 À propos
      %ul
        %li
          %a{ href: le_concept_path } Le concept
        %li
          %a{ href: qui_sommes_nous_path } L'équipe
        %li
          %a{ href: bloomifesto_path } Le manifesto
        %li
          %a L'écosystème Bloomr
        %li
          %a{ href: 'mailto:contact@bloomr.org' } Contact
    %section
      %h1 Vous êtes
      %ul
        %li
          %a Lycéen / Étudiant
        %li
          %a Adulte
        %li
          %a{ href: 'http://parents.bloomr.org' } Parent
        %li
          %a{ href: enrollment_index_path } Un professionnel heureux
        %li
          %a{ href: 'http://entreprises.bloomr.org/' } Une entreprise
    %section
      %h1 Nos solution
      %ul
        %li
          %a{ href: program_path } Programme d'orientation
        %li
          %a{ href: tribes_path } Métiers
    %section
      %h1 L'orientation
      %ul
        %li
          %a{ href: program_path } Je suis perdu dans mon orientation
        %li
          %a{ href: program_path } J'ai des doutes par rapport à mon avenir
  .wrapper.wrapper2
    .spacer
    .bloomr
    .spacer

  %p.copyright
    © Bloomr 2016,
    %a{ href: 'https://drive.google.com/open?id=0B6t2xBTfe9gaQnl0cURXT0xHZ2c' } charte de confidentialité, 
    %a{ href: 'https://drive.google.com/open?id=0B6t2xBTfe9gaNlZjYmtoQ250a0U' } CGV
