%header.new_header
  %nav
    .top.show-phone
      %a.logo{ href: '/' } Bloomr
      %a.menu Menu
    %ul
      %li.hide-phone
        %a.logo{ href: '/' } Bloomr
      %li
        %a A propos de Bloomr ⌄
        %ul.submenu
          %li
            %a{ href: le_concept_path } Le concept
          %li
            %a{ href: qui_sommes_nous_path } L'équipe
          %li
            %a Le manifesto
          %li
            %a L'écosystème Bloomr
          %li
            %a{ href: 'mailto:contact@bloomr.org' } Contact
      %li
        %a Vous êtes ⌄
        %ul.submenu.right
          %li
            %a Lycéen / Étudiant
          %li
            %a Adulte en reconversion
          %li
            %a{ href: 'http://parents.bloomr.org' } Parent
          %li
            %a{ href: enrollment_index_path } Un professionnel heureux
          %li
            %a Une entreprise
      %li
        %a{ href: program_path } Programme d'orientation
      %li
        %a{ href: tribes_path } Métiers
      %li
        %a{ href: 'https://blog.bloomr.org' } Blog
      %li
        %a Connexion ⌄
        .submenu.right
          %p Je suis ...
          %ul
            %li
              %a{ href: enrollment_index_path } Un pro heureux qui veut témoigner
            %li
              %a{ href: user_session_path } Un pro heureux qui veut accéder à son profil
            %li
              %a{ href: ENV['DISCOURSE_URL'] } Inscrit(e) au programme Bloomr
