%footer
  .wrapper
    %section
      %h1 Au fait, c'est quoi Bloomr&nbsp;?
      %p
        Le monde du travail est à son point de bascule, la majorité des entreprises peinent à donner du sens au travail demandé, et la pression à choisir vite et bien sa voie n’a jamais été aussi forte.
        <br/><br/>
        C’est à chacun de trouver le sens qu’il veut donner à sa vie professionnelle, et cette quête commence le plus tôt possible.
    %section
      %h1 À propos
      %ul
        %li
          %a Le concept Bloomr
        %li
          %a Equipe
        %li
          %a Manifesto
        %li
          %a Ecosystem Bloomr
        %li
          %a contact
    %section
      %h1 Vous êtes
      %ul
        %li
          %a Lycéen / Etudiant
        %li
          %a Adulte
        %li
          %a Un professionel heureux
        %li
          %a Une entreprise
    %section
      %h1 Nos solution
      %ul
        %li
          %a Programme d'orientation Bloomr
        %li
          %a Métiers
    %section
      %h1 L'orientation
      %ul
        %li
          %a Je suis perdu dans mon orientation
        %li
          %a J'ai des doutes par rapport à mon avenir
  .wrapper.wrapper2
    .spacer
    .bloomr
    .spacer

  %p.copyright
    © Bloomr 2016, charte de confidentialité, CGV
