%footer
  .wrapper
    %section
      %p.top Au fait, c'est quoi Bloomr&nbsp;?
      %p
        L’épanouissement est une aspiration profonde de l’être humain, et il ne va pas de soi.
        <br/><br/>
        Bloomr utiliser le numérique pour accompagner le plus grand nombre vers une vie professionnelle épanouissante.
    %section
      %p.top À propos
      %ul
        %li
          %a{ href: concept_path } Le concept
        %li
          %a{ href: qui_sommes_nous_path } L'équipe
        %li
          %a{ href: bloomifesto_path } Le manifesto
        %li
          %a{ href: testimonies_path } Les avis
        %li
          %a{ href: press_path } La presse
        %li
          %a{ href: 'mailto:contact@bloomr.org' } Contact
    %section
      %p.top Vous êtes
      %ul
        %li
          %a{ href: 'https://static.bloomr.org/parents' } Parent
        %li
          %a{ href: enrollment_index_path } Un professionnel heureux
        %li
          %a{ href: 'http://entreprises.bloomr.org/' } Une entreprise
    %section
      %p.top Nos solutions
      %ul
        %li
          %a{ href: program_path } Programme de réflexion
        %li
          %a{ href: jobs_path } Métiers

  .wrapper.wrapper2
    .spacer
    .bloomr
    .spacer

  %p.copyright
    © Bloomr 2018,
    %a{ href: 'https://drive.google.com/file/d/1hG5suJB564sGUF9XBkhQQaUH9estJ7ou/view?usp=sharing' } Charte de confidentialité,
    %a{ href: 'https://drive.google.com/open?id=0B5vhXXQ9fdkqSkRrV1VuUXNfMGs' } Conditions générales d’utilisation
