%footer
  %section
    %h1 Au fait, c'est quoi Bloomr ?
    %p bla bla
    %p bla bla
  %section
    %h1 A propos
    %ul
      %li
        %a Le concept Bloomr
      %li
        %a Equipe
      %li
        %a Manifesto
      %li
        %a Ecosystem Bloomr
      %li
        %a contact
      %li
        %a Le concept Bloomr
  %section
    %h1 Vous êtes
    %ul
      %li
        %a Lycéen / Etudiant
      %li
        %a Adulte
  %section
    %h1 Nos solution
    %ul
      %li
        %a Programme d'orientation
      %li
        %a Métiers
  %section
    %h1 L'orientation
    %ul
      %li
        %a Je suis perdu dans mon orientation
      %li
        %a J'ai des doutes par rapport à mon avenir
