%footer
  .wrapper
    %section
      %h1 Au fait, c'est quoi Bloomr&nbsp;?
      %p
        Le monde du travail est à son point de bascule, la majorité des entreprises peinent à donner du sens au travail demandé, et la pression à choisir vite et bien sa voie n’a jamais été aussi forte.
        <br/><br/>
        C’est à chacun de trouver le sens qu’il veut donner à sa vie professionnelle, et cette quête commence le plus tôt possible.
    %section
      %h1 À propos
      %ul
        %li
          %a{ href: concept_path } Le concept
        %li
          %a{ href: qui_sommes_nous_path } L'équipe
        %li
          %a{ href: bloomifesto_path } Le manifesto
        %li
          %a{ href: testimonies_path } Les avis
        %li
          %a{ href: press_path } La presse
        %li
          %a{ href: 'mailto:contact@bloomr.org' } Contact
    %section
      %h1 Vous êtes
      %ul
        %li
          %a{ href: 'http://parents.bloomr.org' } Parent
        %li
          %a{ href: enrollment_index_path } Un professionnel heureux
        %li
          %a{ href: 'http://entreprises.bloomr.org/' } Une entreprise
    %section
      %h1 Nos solutions
      %ul
        %li
          %a{ href: program_path } Programme de réflexion
        %li
          %a{ href: jobs_path } Métiers

  .wrapper.wrapper2
    .spacer
    .bloomr
    .spacer

  %p.copyright
    © Bloomr 2016,
    %a{ href: 'https://drive.google.com/open?id=0B6t2xBTfe9gaQnl0cURXT0xHZ2c' } Charte de confidentialité, 
    %a{ href: 'https://drive.google.com/open?id=0B6t2xBTfe9gaNlZjYmtoQ250a0U' } Conditions générales d’utilisation
