%footer
  .wrapper
    %section
      %p.top Au fait, c'est quoi Bloomr&nbsp;?
      %p
        L’épanouissement est une aspiration profonde de l’être humain, et il ne va pas de soi.
        <br/><br/>
        Bloomr utilise le numérique pour accompagner le plus grand nombre vers une vie professionnelle épanouissante.
    %section
      %p.top À propos
      %ul
        %li
          %a{ href: 'https://programmes.bloomr.org/a-propos' } L'équipe
        %li
          %a{ href: 'https://programmes.bloomr.org/avis' } Les avis
        %li
          %a{ href: 'mailto:contact@bloomr.org' } Contact
    %section
      %p.top Vous êtes
      %ul
        %li
          %a{ href: 'https://programmes.bloomr.org/' } Un particulier
        %li
          %a{ href: 'https://www.bloomr.life/' } Une entreprise
    %section
      %p.top Nos solutions
      %ul
        %li
          %a{ href: program_path } Programme de réflexion
        %li
          %a{ href: jobs_path } Métiers

  .wrapper.wrapper2
    .spacer
    .bloomr
    .spacer

  %p.copyright
    Copyright Bloomr 2019 - 
    %a{ href: 'https://programmes.bloomr.org/mentions-legales' } Mentions légales - 
    %a{ href: 'https://drive.google.com/open?id=1LLWZEMpdwBVbN4u5WmcNRlcn0AAYbCL8' } Protection des données personnelles - 
    %a{ href: 'https://drive.google.com/open?id=1f2mJIA2oEafINg6iLydeB1FMi8nYt4_N' } Conditions générales d’utilisation
