%header.new_header
  %nav
    .top.show-phone
      %a.logo{ href: '/' } Bloomr
      %a.menu Menu
    %ul
      %li.hide-phone
        %a.logo{ href: '/' } Bloomr
      %li
        %a Â propos de Bloomr ⌄
        %ul.submenu
          %li
            %a{ href: concept_path } Le concept
          %li
            %a{ href: qui_sommes_nous_path } L'équipe
          %li
            %a{ href: bloomifesto_path } Le manifesto
          %li
            %a{ href: press_path } La presse
          %li
            %a{ href: 'mailto:contact@bloomr.org' } Contact
      %li
        %a Vous êtes ⌄
        %ul.submenu.right
          %li
            %a{ href: program_path } À la recherche de votre voie
          %li
            %a{ href: enrollment_index_path } Un professionnel heureux
          %li
            %a{ href: 'http://entreprises.bloomr.org/' } Une entreprise
          %li
            %a{ href: 'http://parents.bloomr.org' } Parent
      %li
        %a{ href: program_path, style: 'font-weight: bold;' } Programme de réflexion
      %li
        %a{ href: tribes_path } Métiers
      %li
        %a{ href: 'https://blog.bloomr.org', target: '_blank' } Blog
      %li
        %a Connexion ⌄
        .submenu.right
          %p Je suis ...
          %ul
            %li
              %a{ href: enrollment_index_path } Un pro heureux qui veut témoigner
            %li
              %a{ href: user_session_path } Un pro heureux qui veut accéder à son profil
            %li
              %a{ href: ENV['DISCOURSE_URL'] } Inscrit(e) au programme Bloomr
