<div class="container version2">
  <div class="row">
    <div class="keywordsBox pull-right">
    <ul>
        <li>Top5 des #tag</li>
        <% @popular_keywords.each do |keyword| %>
            <li class="popular-tag"><a href="<%= tag_path(keyword.tag) %>"><%= keyword.tag %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
