<div class="container version2">
  <div class="row">
    <div class="col-md-2">
      <a class="boiteAIdeeBox" href="https://bloomr.typeform.com/to/B6Tb9E">
        <span class="boiteAIdee"><span class="lumineuse"></span></span>
        <span class="boiteAIdeeText" type="text" style="">Boite à idées</span>
      </a>
    </div>
    <div class="col-md-4 searchBox">
      <span class="glyphicon glyphicon-search"></span>
      <input type="text" placeholder="Rechercher" id="search">
    </div>
    <div class="col-md-6 keywordsBox">
      <ul class="popular-tags">
        <% @popular_keywords.each do |keyword| %>
            <li class="popular-tag"><a href="<%= tag_path(keyword.tag) %>"><%= keyword.tag %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
