<div class="subheader">
  <div class="intro-wrapper">
    <div class="container intro">
      <p>
        <em>#<%= @keyword.tag %></em>
      </p>
      <% if @keyword.description %>
          <p class="description">
            <%= @keyword.description %>
          </p>
      <% else %>
          <p class="description">
            Plus de 200 professionnels enthousiastes nous parlent de leur métier.
            <br>
            Comment se voyaient-ils enfant et que sont-ils devenus ?
          </p>
          <p class="description">
            À vous de le découvrir !
          </p>
      <% end %>
    </div>
  </div>
  <div class="desktop-search">
    <%= render "shared/search_and_tags" %>
  </div>
</div>