= content_for :title, 'Paiement du Parcours'

#payment.full-blue
  .center
    =image_tag 'payment/parcours.jpg', class: 'journey-img'

    %h1 Merci, bienvenue chez Bloomr !
    %p Ton aventure va démarrer dans l'heure qui vient.
    %p Pour que nos mails arrivent à destination, ajoute <strong>hello@bloomr.org</strong> à tes contacts de messagerie.
    %p A tout de suite :)


    %a.oeil{ href: tribes_path, style: 'margin-top: 30px; cursor: pointer;' } En attendant, va voir la galerie !

<!-- Google Code for Paiement du parcours Bloomr Conversion Page -->

:javascript
  /* <![CDATA[ */
  var google_conversion_id = 959456602;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "3WTICJOPxWUQ2srAyQM";
  var google_remarketing_only = false;
  /* ]]> */


= javascript_include_tag 'https://www.googleadservices.com/pagead/conversion.js'

%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/959456602/?label=3WTICJOPxWUQ2srAyQM&guid=ON&script=0", :style => "border-style:none;", :width => "1"}/
