= content_for :title, 'Paiement du Parcours'
= content_for :hide_header, true
= content_for :hide_footer, true

#payment.flexy
  %header
    %div.left
      %span.white-logo
      %span.sub.second Inscription au programme d’orientation Bloomr

  %section.thanks
    %h1.title Merci, bienvenue chez Bloomr !
    %p 
      Ton aventure va démarrer dans l'heure qui vient.
      %br
      %br
      Pour que nos mails arrivent à destination, ajoute <strong>hello@bloomr.org</strong> à tes contacts de messagerie.
      %br
      %br
      A tout de suite :)


    %a{ href: jobs_path } En attendant, promène-toi dans les métiers !

  %footer
    %a{ href: '/' } Bloomr

<!-- Google Code for Paiement du parcours Bloomr Conversion Page -->

:javascript
  /* <![CDATA[ */
  var google_conversion_id = 959456602;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "3WTICJOPxWUQ2srAyQM";
  var google_remarketing_only = false;
  /* ]]> */


= javascript_include_tag 'https://www.googleadservices.com/pagead/conversion.js'

%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/959456602/?label=3WTICJOPxWUQ2srAyQM&guid=ON&script=0", :style => "border-style:none;", :width => "1"}/
