#payment
  .center
    %h1 Merci, bienvenue chez Bloomr !

    %p Ton aventure va démarrer dans l'heure qui vient.
    %p En attendant et pour être sûr de recevoir les mails, ajoute hello@bloomr.org à tes contacts de messagerie.

    %a.galerie{ href: '/portraits' }
      %ul
        %li.sprite.dev-card
        %li.sprite.parole-card
        %li.sprite.radis-card
