- content_for :title, 'Paiement du Programme'
- content_for :hide_header, true
- content_for :hide_footer, true

- gift = !params[:gift].nil?
- email = params[:email]

#payment.flexy
  %header
    %div.left
      %span.white-logo
      %span.sub.second Inscription au programme Bloomr

  %section.thanks
    - if gift
      %h1.title Félicitations !
      %p 
        Paiement réalisé avec succès.
        %br
        %br
        Il suffit au bénéficiaire de nous écrire à cadeau@bloomr.org dès qu’il souhaite démarrer le programme !
        %br
        Ci-dessous un “bon pour” à télécharger si vous le souhaitez ;-)
      %a.boxed{ href: payment_voucher_url, 'data-turbolinks' => 'false' }
        = image_tag 'payment2/voucher.jpg'

      %a.download{ href: payment_voucher_url, 'data-turbolinks' => 'false' } Télécharger le coupon PDF

      %a.go_home{ href: root_path } Retour à l'accueil

    - else
      %h1.title Merci, bienvenue chez Bloomr : bienvenue chez toi !
      %p 
        Bravo pour cette excellente décision.
        %br
        Ton aventure peut démarrer. A tout de suite !

      %a.crazy-btn.toPlateform{ href: "#{ENV['BLOOMR_PROGRAM_LOGIN_URL']}?email=#{CGI.escape(email)}" } Je me connecte

      %p.notice Nous t'avons aussi envoyé un mail pour que tu retrouves le lien vers ton programme Bloomr à chaque fois que tu en auras besoin.

  %footer
    %a{ href: '/' } Bloomr

<!-- Google Code for Paiement du parcours Bloomr Conversion Page -->

:javascript
  /* <![CDATA[ */
  var google_conversion_id = 959456602;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "3WTICJOPxWUQ2srAyQM";
  var google_remarketing_only = false;
  /* ]]> */


= javascript_include_tag 'https://www.googleadservices.com/pagead/conversion.js'

%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/959456602/?label=3WTICJOPxWUQ2srAyQM&guid=ON&script=0", :style => "border-style:none;", :width => "1"}/
