<div class='whats-new'>
  <div class='challenges'>
    <h2>Challenges !</h2>
    <p>chaque mois, relevez un challenge pour aider concrètement des jeunes !</p>
    <p>Ce mois ci :</p>
    <div class='one-challenge'>
      {{ component 'challenge-1' model=model}}
    </div>
  </div>
</div>
