<div class="whats-new">
  <div class="head">
    <p>Le mois dernier ...</p>
  </div>
  <div class="data">
    <ul>
      <li>
        <img src="/assets/images/profile/portrait.png" alt="Portrait">
        <p>
          Votre profil a été vu
          <br>
          <span>{{ model.user.stats.last-month }} fois</span>
        </p>
      </li>
      <li>
        <img class="bloomr-logo" src="/assets/images/profile/bloomr.png" alt="Bloomr">
        <p>
          Bloomr a été vu
          <br>
          <span>{{ model.user.stats.all }} fois</span>
        </p>
      </li>
      <li>
        <img src="/assets/images/profile/feather.png" alt="Feather">
        <p>
          Vos tribus sont au top !
          <br>
          Elles ont été consultées
          <br>
          <span>{{ model.user.stats.tribes }} fois</span>
        </p>
      </li>
    </ul>
  </div>
</div>
