#home
  .go-down
    %p#transition
      %span
        on te propose ...
      %i.sprite.sprite-arrow-transition

  #fullpage
    .section.first
      #header2
        %h1.sprite.sprite-logo-bloomr Bloomr
        -# %a#login{ href: '/me' }
        -#   Connexion
        -#   %span.glyphicon.glyphicon-arrow-right

      .center-block
        %i.sprite-white-cloud-left.sprite.cloud-left
        %i.sprite.sprite-white-cloud-right.cloud-right
        #lost-in-orientation.center
          %i.sprite.sprite-boyandgirl.people
            %i.sprite.sprite-icon-question.question.explosion
            %i.sprite.sprite-icon-question.question.q2.explosion
            %i.sprite.sprite-icon-question.question.q3.explosion
            .q4
              %i.sprite.sprite-icon-question.question.explosion
            %i.sprite.sprite-icon-question.question.q5.explosion
          %h2 Perdu dans ton orientation ?
          %i.sprite.sprite-blue-cloud-1.cloud1
          %i.sprite.sprite-blue-cloud-2.cloud2
          %i.sprite.sprite-blue-cloud-3.cloud3

    .section.actions
      .center-for-small
        %h3
          <b>Bloomr</b> t'embarque dans une aventure de folie !
          %br
          %span Pour mieux te connaître et y voir plus clair dans ton orientation, tu peux ...
        .action
          .illustration
            %i.sprite.sprite-bg-icon.bg-action
            %i.sprite.sprite-icon-journey.journey-action
          %h4
            S'inscrire à notre programme
            %br
            de réflexion en ligne
          %a.crazy-btn{ href: 'http://inscription.bloomr.org' }
            Je suis le parcours

        .action{ style: 'top: 100px' }
          .illustration
            %i.sprite.sprite-bg-icon.bg-action
            %i.sprite.sprite-icon-inspire.inspire-action
          %h4
            être inspiré
            %br
            par des pros qui kiffent ?
          %a.crazy-btn.yellow{ href: '/portraits' }
            Je découvre les témoignages

        .action
          .illustration
            %i.sprite.sprite-bg-icon.bg-action
            %i.sprite.sprite-icon-blog.blog-action
          %h4
            découvrir plus de
            %br
            conseils
          %a.crazy-btn.yellow{ href: 'https://medium.com/bloom-r' }
            Je lis le blog

    .section.i-love-my-job
      .center
        .sprite.sprite-blue-cloud-left.blue-cloud-left
        .sprite.sprite-blue-cloud-right.blue-cloud-right
        .sprite.sprite-icon-bloomer.flower1
        %h4 J'aime mon métier ! Comment je peux vous aider ?
        %p.subtitle Venez partager la passion de votre métier <br>au monde entier :
        %a.crazy-btn{ href: 'http://bloomers.bloomr.org/' } Je témoigne

    .section.what-is-it
      .center
        .sprite.sprite-icon-cestquoibloomr.cestquoi
        %h5 Au fait ... c'est quoi Bloomr ?
        %p.subtitle Bloomr fait éclore les pros épanouis de demain
        %p.bloomifesto Aujourd'hui, beaucoup de jeunes perçoivent leur orientation comme un challenge insurmontable.
        %p.bloomifesto Chez Bloomr, l'orientation est une aventure palpitante et pleine de promesses.
        %p.bloomifesto.last Nous bousculons les codes en adoptant une approche positive, enthousiaste et rassurante pour <br>redonner confiance et faire éclore les professionnels épanouis de demain.

        %a{ href: '/le-concept' }
          Oh oui, dites m'en plus
          %span.glyphicon.glyphicon-arrow-right

    .section.links
      .center
        .column
          %h3 Je veux challenger mon orientation
          %ul
            %li
              %a{ href: 'http://inscription.bloomr.org' } Le parcours Bloomr
            %li
              %a{ href: '/portraits' } Les témoignages des bloomers
            %li
              %a{ href: 'https://medium.com/bloom-r' } Le blog

        .column
          %h3 C'est quoi Bloomr ?
          %ul
            %li
              %a{ href: '/le-concept' } Concept
            %li
              %a{ href: '/qui-sommes-nous' } Équipe
            %li
              %a{ href: 'mailto:contact@bloomr.org' } Contact
            %li
              %a{ href: 'http://parents.bloomr.org' } Bloomr expliqué aux parents

        .column
          %h3 Je veux aider
          %ul
            -# %li
            -#   %a{ href: '/me' } Connexion bloomer
            %li
              %a{ href: 'http://bloomers.bloomr.org/' } Je veux transmettre le plaisir d'exercer mon métier

      .footer
        %i.sprite.sprite-logo-bloomr-white
        %p
          © Bloomr 2016,
          %a{ href: 'https://uploads.strikinglycdn.com/files/f839f1a2-d7e0-43c4-814c-37686c6bf7c9/Charte_de_confidentialite.pdf?id=20410', target: '_blank' }charte de confidentialité

        .lift
          %i.sprite.sprite-arrow-bottom
          %span lift me up !

