$blue: #E8F7FF;

@import 'reset';
@import 'backgrounds';
@import 'ember-power-select';
@import 'common';
@import 'me';
@import 'image-upload';
@import 'challenge-interview';
@import 'interview-questions';
@import 'questions-editor';

body, input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3e3e3e;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hidden {
  display: none;
}
