.background-0 {
  background-image: url("images/patterns/leather.png"); // thepatternlibrary
}
.background-1 {
  background-image: url("images/patterns/purple-cross.png"); // thepatternlibrary
}
.background-2 {
  background-image: url("images/patterns/colorful-triangles.png"); //http://www.backgroundlabs.com/item/abstract-triangle-pattern/
}
.background-3 {
  background-image: url("images/patterns/red-green-collage.jpg"); // thepatternlibrary
}
.background-4 {
  background-image: url("images/patterns/yellow-triangles.jpg"); // backgroundlabs.com
}
.background-5 {
  background-image: url("images/patterns/diamond-shaped-retro.png"); // backgroundlabs.com
}
.background-6 {
  background-image: url("images/patterns/abstrakt-tile.jpg"); // http://www.dinpattern.com/
}
.background-7 {
  background-image: url("images/patterns/starliner.png"); // dinpattern.com
}
.background-8 {
  background-image: url("images/patterns/gridded-blue.png"); // dinpattern.com
}
.background-9 {
  background-image: url("images/patterns/triangles.png");
}
.background-10 {
  background-image: url("images/patterns/wild-sea.png");
}
.background-11 {
  background-image: url("images/patterns/white-wood.jpg");
}
.background-12 {
  background-image: url("images/patterns/congruent_pentagon.png");
}
.background-13 {
  background-image: url("images/patterns/canvas-orange.png");
}
.background-14 {
  background-image: url("images/patterns/food.png");
}
.background-15 {
  background-image: url("images/patterns/restaurant-2.png");
}
.background-16 {
  background-image: url("images/patterns/green_modern_floral.png");
}
.background-17 {
  background-image: url("images/patterns/modern_cirles.png");
}
.background-18 {
  background-image: url("images/patterns/modern_floral_red.png");
}
.background-19 {
  background-image: url("images/patterns/snowflake2.png");
}
.background-20 {
  background-image: url("images/patterns/yellow_floral.png");
}
.background-21 {
  background-image: url("images/patterns/yellow_swirls.png");
}
