.challenge-interview {
  transition:height 1s ease;
  h3.challenge-title {
    margin-bottom: 30px;
  }
  .fileinput-button {
    display: block;
    margin: 15px 0;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 10px;
    vertical-align: middle;
    width: 250px;
    text-align: center;
    &:hover {
      border-color: darken(#eee, 10);
    }
  }
  .crazy-btn {
    margin-top: 30px;
    display: block;
    width: 120px;
  }
}
