.challenge-summary {
  .intro {
    margin: 40px 0 30px;
  }
  .separator {
    border-top: solid 1px #e6e0d4;
    padding: 5px 0;
  }
  .title {
    font-weight: bold;
  }
  ul {
    > div {
      display: inline-block;
    }
  }
  li {
    display: inline-block;
    margin: 15px;
    text-align: center;
    width: 220px;
    height: 260px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #e7e1d6;
    border: solid 1px #e6e0d4;
    vertical-align: top;
    position: relative;
  }
  .again {
    margin-top: 15px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
  }
  li.done {
    img {
      margin: 20px auto;
    }
    .legend {
      position: absolute;
      bottom: 0px;
      height: 90px;
      width: 100%;
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 60px;
    }
  }
  li.not-done {
    .top {
      margin: 15px 0 5px;
    }
    .title {
      padding-bottom: 25px;
      border-bottom: solid 1px #e6e0d4;
      margin-bottom: 15px;
    }
    .description {
      padding: 0 5px;
    }
    .go-wrapper {
      position: absolute;
      bottom: 20px;
      left: 74px;
    }
  }
}
