#templates {
  padding-left: 30px;
}

.crazy-btn {
  font-weight: bold;
  background-color: #ef892c;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  position: relative;
  font-size: 18px;
  transition: all 0.3s ease 0s;
  top: 0px;
  margin: 0 5px 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  &:after {
    content: "";
    height: 10px;
    width: 80%;
    background-color: #b8e5ff;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto auto;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    top: 5px;
    background-color: darken(#ef892c, 10%);
    text-decoration: none;
    color: white;
    &:after {
      bottom: -5px;
      height: 5px;
    }
  }
  &.yellow {
    background-color: #f0ad30;
    &:hover {
      background-color: darken(#f0ad30, 10%);
    }
  }
  &.disabled {
    top: 0;
    background-color: #E4E3E1;
    cursor: default;
    &:after {
      content: none;
    }
  }
}

button.crazy-btn {
  border-width: 0px;
}

input[type='submit'].crazy-btn {
  margin: 10px auto;
  z-index: 1;
}

.shadow {
  height: 10px;
  width: 80%;
  background-color: #b8e5ff;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto auto;
}
.full-blue {
  background-color: $blue; //TODO remove blue from home.css
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  .center {
    background-color: white;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    color: #3e3e3e;
    box-shadow: 0px 0px 15px 0px darken($blue, 10%);
    position: relative;
    h1 {
      font-family: "Satisfy",cursive;
      font-size: 36px;
      color: #f0ad30;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
    input[type='text'], input[type='email'], input[type='password'], input[type='submit'] {
      border: 2px #e6f6ff;
      font-size: 18px;
      padding: 10px;
      margin: 10px auto;
      font-style: italic;
      z-index: 1;
      position: relative;
      border-radius: 5px;
      display: block;
      &.blue {
        background-color: $blue;
      }
      &.crazy-btn {
        width: 250px;
        font-style: normal;
      }
    }
    @media (min-width: 768px) {
      input[type='text'], input[type='email'], input[type='password'], input[type='submit'] {
          width: 350px;
      }
    }
    a.close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: darken($blue, 10%);
      font-weight: bold;
      font-size: 24px;
    }
    a.link-center {
      display: block;
      margin: 10px auto;
      color: #3e3e3e;
      cursor: pointer;
      margin: 10px auto 10px;
    }
    a.blue-under {
        border-bottom: 3px solid $blue;
        margin-bottom: 20px;
        padding-bottom: 17px;
    }
    .oeil {
      display: inline-block;
      border: 2px solid #f0ad30;
      border-radius: 5px;
      padding: 10px;
      margin: auto auto 0;
    }
  }
}

ul.cards {

  .panel-title {
    margin-top: 0;
    font-size: 16px;
  }

  @media (max-width: 991px) {
    margin-top: 30px;
    list-style: none;
    padding-left: 0;
    a {
      color: #333;
      text-decoration: none;
      display: block;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 10px;
      box-shadow: 0px 1px 3px 0px #656565;
    }
    img.portrait-avatar {
      border-radius: 52px;
      margin: 20px 20px;
      float: left;
    }
    .overlay {
      background-color: white;
      opacity: 0.8;
      overflow: hidden;
      height: 145px;
      padding-left: 10px;
      padding-right: 10px;
      img {
        display: none;
      }
      blockquote {
        display: none;
      }
      span.btn {
        display: none;
      }
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  @media (min-width: 992px) {
    margin-top: 30px;
    padding-left: 0px;
    list-style: none;

    > li {
      overflow: hidden;
      margin-bottom: 25px;
      padding-bottom: 5px;
      a {
        color: inherit;
        > div {
          padding-top: 0;
          position: relative;
          top: 1px;
          height: 316px;
          transition: padding 0.35s;
          text-align: center;
          border-radius: 10px 10px 0px 0px;
          box-shadow: 0px 1px 3px 0px #656565;
          overflow: hidden;

          img.portrait-avatar {
            height: 104px;
            width: 104px;
            border-radius: 52px;
            position: relative;
            top: 50px;
          }

          .overlay {
            transition: opacity 0.35s, transform 0.35s;
            position: absolute;
            top: 0px;
            bottom: 0px;
            background: #ffffff;
            opacity: 0.85;
            padding: 10px;
            //strange hack to get full width on some cards
            width: 101%;
            h3 {
              font-size: 16px;
              margin: 0px;
              padding: 10px 0px 5px;
            }
            h2 {
              font-size: 18px;
              font-weight: bold;
              padding: 5px 0px 2px;
              height: 64px;
            }
            img {
              position: relative;
              top: 8px;
              background: #ffffff;
              padding: 5px;
            }
            blockquote {
              border-top: 1px solid gray;
              border-left: 0;
              background-color: white;
              height: 120px;
              margin-bottom: 10px;
              padding-left: 0px;
              padding-right: 0px;
            }
            span.btn-primary {
              font-weight: bold;
              padding-right: 15px;
              margin-right: 0px;
              padding-left: 15px;
              margin-left: 0px;
              background-color: white;
              color: #ff6622;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

//add nice transition if not touch device and big screen
.no-touch {
  @media (min-width: 992px) {
    ul.cards {
      li {
        a {
          > div {
            .overlay {
              transform: translate3d(0, 198px, 0);
            }
          }
          &:hover {
            > div {
              .overlay {
                border-radius: 10px 10px 0px 0px;
                transform: translate3d(0, 0px, 0);
              }
            }
          }
        }
      }
    }
  }
}
