.my-work {
  margin-bottom: 30px;
  label {
    margin-bottom: 10px;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
    font-size: 24px;
    display: inline-block;
    margin-top: 55px;
  }
  .job_title {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 2;
    padding: 15px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  input#doAuthorize {
    position: absolute;
    left: -9999px;
  }
  input#doAuthorize + label::before {
    margin-right: 15px;
    content: ' ';
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  input#doAuthorize:checked + label::before {
    content: '✔';
    font-weight: bold; 
    color: #ee933f;
    border: none;
  }
}
