#me {
  padding-bottom: 30px;
  position: relative;
  .profile-sprite {
      background-image: url('/assets/images/profile/sprite.png');
      background-repeat: no-repeat;
      display: block;
  }

  .sprite-bloomr {
      width: 87px;
      height: 49px;
      background-position: -5px -5px;
  }

  .sprite-cloud1 {
      width: 49px;
      height: 34px;
      background-position: -102px -5px;
  }

  .sprite-cloud2 {
      width: 80px;
      height: 38px;
      background-position: -102px -49px;
  }

  .sprite-exit {
      width: 27px;
      height: 29px;
      background-position: -161px -5px;
  }

  .sprite-feather {
      width: 61px;
      height: 100px;
      background-position: -198px -5px;
  }

  .sprite-flower {
      width: 41px;
      height: 35px;
      background-position: -5px -115px;
  }

  .sprite-logo {
      width: 63px;
      height: 49px;
      background-position: -56px -115px;
  }

  .sprite-portrait {
      width: 83px;
      height: 98px;
      background-position: -129px -115px;
  }
  .background {
    height: 165px;
    width: 100%;
    position: absolute;
  }
  .orange {
    height: 220px;
    padding: 0 30px;
    color: white;
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
    font-size: 16px ;
    background-color:rgba(240, 147, 53, 0.75);
    z-index: 10;
    box-shadow: 0px 1px 3px 0px #656565;
    position: relative;
    .panel {
      max-width: 940px;
      margin: 0 auto;
      .top {
        padding: 15px 0;
        position: relative;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: space-between;
        width: 100%;
        .logo {
          text-indent: -3000px;
        }
        ul {
          margin: auto 0;
          text-align: right; //for small screen
          @media (max-width: 767px) {
            max-width: 200px;
          }
          li {
            display: inline-block;
            margin-left: 30px;
            height: 35px;
            span {
              vertical-align: middle;
              display: inline-block;
            }
          }
        }
      }
      .bottom {
        padding-top: 19px;
          @media (max-width: 767px) {
            text-align: center;
          }
          .image-wrapper {
            display: inline-block;
            position: relative;
            margin-right: 65px;
            .photo {
              display: inline-block;
              vertical-align: middle;
              border: 5px solid white;
              border-radius: 60px;
              box-shadow: 0px 1px 3px 0px #656565;
              height: 92px;
              width: 92px;
            }
            .cloud {
              position: absolute;
              left: 73px;
              top: -5px;
              z-index: -1;
            }
            .cloud-left {
              position: absolute;
              left: -40px;
              top: 50px;
            }
          }
        .info {
          display: inline-block;
          vertical-align: middle;
          .greetings {
            font-family: 'Satisfy', cursive;
            font-size: 28px;
          }
          ul {
            padding-left: 0;
            margin: 35px 0 0;
            li {
              display: inline-block;
              margin-right: 30px;
              a {
                display: inline-block;
                padding-bottom: 10px;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                  text-decoration: none;
                  border-bottom: 1px solid white;
                }
                &.active {
                  font-weight: bold;
                  border-bottom: 1px solid white;
                }
              }
            }
          }
        }
      }
    }
  }
  .main {
    padding: 0 30px;
    max-width: 940px;
    margin: 0 auto;
    .head {
      border-bottom: 1px solid #DFD9C7;
      padding: 30px 0 10px;
      p {
        font-family: 'Satisfy', cursive;
        font-size: 32px;
        margin: 0;
      }
    }
    .data {
      ul {
        margin-top: 30px;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        li {
          width: 200px;
          height: 180px;
          display: inline-block;
          text-align: center;
          position: relative;
          @media (max-width: 767px) {
            display: block;
          }
          .bloomr-logo {
            position: relative;
            top: 20px;
          }
          p {
            bottom: 0px;
            position: absolute;
            width: 100%;
            font-size: 16px;
            span {
              color: rgb(240, 147, 53);
              font-style: italic;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }
    .challenges {
      text-align: center;
      h2 {
        display: inline-block;
        padding: 30px 0;
        font-family: 'Satisfy', cursive;
        font-size: 32px;
        margin: 0;
      }
      p {
        font-size: 16px;
        margin-top: 20px;
      }
      .one-challenge {
        font-size: 16px;
        margin-top: 30px;
        border: 1px solid #DFD9C7;
        padding: 20px 10px;
        h3.challenge-title {
          margin: 0 0 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #DFD9C7;
        } 
        .choice {
          margin-top: 30px;
        }
        .panel-tribe-choice {
          h3 {
            font-size: 24px;
            margin-bottom: 15px;
          }
          .tribesSelector {
            max-width: 400px;
            margin: 0 auto;
          }
        }
        .panel-done {
          p {
            margin: 20px;
            font-size: 18px;
          }
        }
      }
    }
  }
  .my-work {
    margin-bottom: 30px;
    label {
      margin-bottom: 10px;
      font-family: 'Satisfy', cursive;
      font-weight: normal;
      font-size: 24px;
      display: inline-block;
      margin-top: 55px;
    }
    .job_title, trix-editor {
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 14px;
      line-height: 2;
      padding: 15px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    trix-toolbar {
      .strike, .link, .quote, .code, .list.numbers, .block-level {
        display: none;
      }
    }
  }
}
