.thumbnail-upload {
  cursor: pointer;
  border: 5px solid white;
  border-radius: 60px;
  box-shadow: 0px 1px 3px 0px #656565;
  height: 92px;
  width: 92px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
