#enrollment
  .center
    %h1 Bienvenu(e) dans la communauté !

    %p Vous allez recevoir un mail qui vous permettra de compléter votre profil.

    %a.galerie{ href: '/portraits' }
      %ul
        %li.sprite.fondation-card
        %li.sprite.parole-card
        %li.sprite.radis-card
      %span.oeil En attendant, aller voir la galerie
