#enrollment.full-blue
  - content_for :title, 'Inscription'
  .center
    %h1 Bienvenue dans la communauté !

    %p Vous allez recevoir un mail qui vous permettra de compléter votre profil.
    %p{ style: 'font-size: 14px; font-style: italic;' } (Ouvrez l'oeil, ce mail a pu s'égarer dans vos notifications ou vos spams ;) ! )

    %a.galerie{ href: tribes_path }
      %ul
        %li.sprite.dev-card
        %li.sprite.parole-card
        %li.sprite.radis-card
      %span.oeil En attendant, allez voir la galerie !
