#bloomifesto
  %section.intro
    %h1 Le bloomifesto
    .list-wrapper
      %a{ href: concept_path }
        ←&nbsp;
        %span Le concept
      %p.subtitle Notre mission : faire de l’orientation une aventure humaine excitante et collective
      %a.right{ href: press_path }
        %span La presse
        →&nbsp;

  %section
    %p.today Aujourd’hui, beaucoup de personnes perçoivent leur orientation comme un challenge insurmontable. L’immensité des possibles les paralyse, les ressources à leur disposition ne répondent pas à leurs attentes et ne prennent pas en compte leur unicité.
    %p 
      Chez Bloomr, l’orientation est une aventure palpitante. L’aventure de toute une vie. Il existe des milliers de métiers à découvrir et autant à inventer. Notre vie professionnelle sera faite de rebondissements et de surprises. Bloomr veut donner à tous l’envie de croquer dans cette aventure à pleine dents.  
      %br
      %br
      Pour pouvoir relever ce challenge, encore faut-il qu'ils puissent être guidés avec bienveillance et de ressources adaptées. Nous voulons leur redonner confiance : confiance en eux et confiance en la possibilité d’une vie professionnelle épanouissante.
      %br
      %br
      Bloomr bouscule les codes de l’orientation, en adoptant une approche positive, enthousiaste  et rassurante pour faire éclore les professionnels épanouis de demain. 

  .spacer

  %section
    %h1.title Le monde a changé, il est temps que l’orientation en fasse autant !
    %p 
      Révolution numérique, frontières effacées, mutation du travail&nbsp;…&nbsp;Bienvenue au 21e siècle. C’est à chacun de trouver le sens qu’il veut donner à sa vie professionnelle. 
      %br
      %br
      C'est une quête passionnante et complexe, mais personne n’a dit qu’il fallait la mener seul. Bloomr accompagne les jeunes et moins jeunes sur le chemin de l'épanouissement professionnel. 

  .spacer

  %section
    %h1.title La vie est une aventure
    %p Une aventure faite de choix. Les pieds sur terre, Bloomr allie le pragmatisme de la prochaine décision à la définition progressive d’un cap global. Un aventurier aguerri ne connat pas sa destination finale, mais il possède la confiance en lui pour s’adapter à chaque nouvelle étape en restant lui-même. Bloomr transmet les mécanismes qui servent tout au long de la vie professionnelle pour faire les meilleurs choix possibles. 

  .spacer

  %section
    %h1.title Apprendre à se tromper
    %p Une erreur de parcours ? Tant mieux ! Cela donne matière à réflexion. A la vitesse où vont les choses, on se forme et se re-forme plusieurs fois au cours de nos vies. Chez Bloomr, on apprend à oser agir, à se nourrir de nos erreurs, à rebondir et à s’adapter pour prendre de bonnes décisions pour soi.

  .spacer

  %section
    %h1.title Elargir le monde des possibles 
    %p 100% des êtres humains ont des potentiels extraordinaires en eux, parfois insoupçonnés. Bloomr braque un projecteur sur les diamants intérieurs, mais aussi sur les voies inexplorées.

  .spacer

  %section
    %h1.title L’optimisme est un (bon) virus
    %p Et Bloomr compte bien le propager grâce à la force de la communauté . Ils sont déjà bien atteints :
    %ul.points
      %li Les Bloom’s (l’équipe), transforment avec enthousiasme l’orientation en une aventure excitante et stimulante.
      %li Les Bloomers : des centaines de professionnels qui se sont déjà donné le droit d’être heureux au travail, ils montrent la voie à ceux qui se cherchent.
      %li Les Bloomies : ceux-là sont déjà contaminés par l’orientation à la Bloomr et sont déjà en train de conseiller les nouveaux arrivants
