- content_for :title, 'Le bloomifesto'
- content_for :description, "Il existe des milliers de métiers à découvrir et autant à inventer. S'orienter est l’aventure de toute une vie. Bloomr veut donner l'envie d'y croquer à pleine dents."
- content_for :header_background, asset_path('header/header-bg.png')

#bloomifesto
  %section.intro
    %h1 Le bloomifesto
    .list-wrapper
      %p.subtitle Notre mission : donner à chacun toutes les cartes permettant de se construire une vie professionnelle épanouissante.

  %section
    %p.today Tu as envie de t’épanouir dans ta vie professionnelle. Tu as envie de te lever plein d’énergie le matin, de soulever des montagnes ou même juste des petites collines, de sentir chaque jour que tu apportes ta propre contribution et de savoir pourquoi tu travailles. Tu as envie d’exprimer pleinement qui tu es, d’apporter ta couleur au monde. Tu as envie de te sentir à ta place.
    %p 
      Et c’est possible. Qui que tu sois, quels que soit ton âge, ta situation, tes aspirations et tes priorités, c’est possible.  
      %br
      %br
      Mais pour ça, tu dois prendre ta vie professionnelle en main, en devenir scénariste et tenir le rôle principal.
      %br
      %br
      Il ne s’agit pas de décider maintenant ce que tu feras pour le restant de tes jours. Il n’y a pas de clé unique à trouver pour ouvrir la bonne porte. Il y a une multitude de portes possibles, et c’est à toi d’en façonner les clés. Et tu n’es de toute façon pas en mesure de savoir aujourd’hui ce qui t’épanouira dans 10 ans ou 20 ans. 
      %br
      %br
      Non, devenir scénariste de ta vie professionnelle veut dire acquérir les réflexes et les méthodes qui te permettront de construire étape par étape ton chemin professionnel, maintenant et pour toutes les années à venir. Tu seras ainsi armé.e pour naviguer dans le monde du travail, façonner ton projet au quotidien, aborder chaque transition avec douceur et sérénité et avancer avec confiance sur le chemin de ton épanouissement professionnel. 

  .spacer

  %section
    %h1.title Devenir scénariste de ta vie professionnelle veut dire…
    %p 
      Apprendre à te poser les bonnes questions pour bien te connaitre, identifier tes forces, tes talents, ce que tu aimes et à quoi tu aspires. 
      %br
      Apprendre à explorer le monde qui t’entoure et toutes les possibilités qu’il offre pour (ré)inventer comment toi, tu peux libérer ton potentiel et y faire ta place.
      %br
      Apprendre à aiguiser ton instinct et faire des choix sans chercher à tout rationaliser.
      %br
      Accepter de ne pas tout savoir à l’avance, d’avancer par tâtonnements, accueillir l’inattendu avec curiosité car c’est aussi la part de risque de chaque décision qui fait la magie d’un parcours.
      %br
      Apprendre à cultiver ta confiance en toi et en tes capacités.
      %br
      Apprendre à transcender les peurs qui t’empêchent d’avancer, à faire taire les voix dans ta tête qui te répètent que tu ne peux pas y arriver.
      %br
      Apprendre à agir, à expérimenter et à aller au bout des choses pour concrétiser tes rêves et avancer dans tes projets, parce que c’est dans l’action qu’on progresse le mieux.
      %br
      Apprendre à te nourrir de tes rencontres, à trouver une tribu avec qui tu te sentiras bien pour un bout de chemin.  
      %br
      Apprendre à faire tomber tes oeillères et à garder l’esprit alerte pour ouvrir ton horizon.
      %br
      Apprendre à oser te tromper, à apprendre de tes erreurs et à rebondir en cas d’échecs, de chocs, de bifurcations.
      %br
      Apprendre à adopter une attitude positive et proactive pour maintenir la flamme, réinventer ton quotidien avec créativité et voir dans ton travail une opportunité sans cesse renouvelée de découvrir, de progresser, d’inventer et de contribuer. 
      %br
      Apprendre à apprendre, à te former continuellement pour surfer sur les évolutions ultrarapides du monde du travail.
      %br
      Apprendre à rester toi, toujours, sans te soucier des attentes des uns et des injonctions des autres, sans chercher à entrer dans une case. Il n’y a pas de voie royale, pas de chemin tout tracé vers la réussite. Autorise-toi à exprimer ton grain de folie et à creuser tes propres sillons. 
      %br
      Apprendre à rester connecté.e à tes envies et à tes émotions pour rester aligné.e et anticiper les ajustements si tu sens que tu dérives.
      
  .spacer

  %section
    %p 
      Rassure-toi, il ne s’agit pas de réussir à maîtriser tout cela dès aujourd’hui, mais d’adopter la bonne attitude et le bon état d’esprit pour intégrer progressivement tous ces réflexes et les aiguiser tout au long de ta vie.  Tu réussiras ainsi à  construire une vie professionnelle qui a du sens pour toi, avec audace, optimisme et agilité.
      %br
      %br
      Ce n’est pas une course contre la montre mais l’aventure de toute une vie.
      %br
      Bloomr est à tes côtés pour t’accompagner à chaque étape de ton voyage professionnel.
  
  .spacer
