- content_for :title, 'Programme Bouygues'
- content_for :hide_header, true
- content_for :hide_footer, true

#programBouygues
  %ul
    %li.bloomr Bloomr
    %li.bouygues Bouygues

  %h2.forBouygues Le programme Bloomr pour Bouygues Telecom

  .centered
    %h1.title Bienvenue et merci pour l’intérêt que vous portez à ce nouveau programme&nbsp;!

    .woman

    %p.clap
      Tout d’abord, bravo !
      %br
      Si si bravo, car vous avez choisi de vous aventurer sur le chemin de votre développement personnel comme professionnel.

    .vue
    .movie

  .thanks
    %p
      Mais aussi <b>merci</b> car vous acceptez de jouer le rôle de «&nbsp;testeurs&nbsp;» dans le cadre de cette expérimentation, vos remarques et retours nous seront précieux pour que nous puissions aller plus loin dans le déploiement.
      %br
      %br
      Bloomr c’est quoi ? Une formidable opportunité pour prendre du temps pour vous. Dans un monde trépidant où vous jouez déjà plusieurs rôles, vous allez grâce à la plateforme Bloomr pouvoir réfléchir sur vous et votre projet. 
      %br
      %br
      Cheminer seul est parfois ardu … c’est pourquoi outre la qualité des ressources du portail vous pourrez vous appuyer sur <b>des coachs en ligne</b> ! 
      Pour ce test, nous vous remercions de nous faire part de l’ensemble de vos impressions qu’elles portent sur la plateforme, son contenu ou la façon dont vous avez vécu l’expérience.
      %br
      %br
      Merci et bon voyage !

    .wrapper
      %a.crazy-btn{ href: 'https://programs.bloomr.org' } Accéder au programme

  .side
    %h3.title La boite à outils

    = image_tag 'bouygues/itineo.jpg', width:210

    %p 
      En complément des modalités proposées dans le cadre de ce parcours, n’oubliez pas que vous avez accès en interne via le <b>portail itinéo</b>, à un ensemble de dispositifs pour vous accompagner dans votre réflexion et la construction de votre projet professionnel.
      %br
      %br
      Pour les découvrir, 
      %a.orange{ href: 'http://sps/sites/itineo/Pages/Accueil.aspx' } cliquez ici 

    %h3.title.contact Contact

    = image_tag 'bouygues/juliette.jpg'

    %p 
      Des questions concernant le programme ?
      Contactez 
      %a.orange{ href:'mailto:jcourtel@bouyguestelecom.fr' } Juliette COURTEL jcourtel@bouyguestelecom.fr
