- content_for :title, 'Programme Bouygues'
- content_for :hide_header, true
- content_for :hide_footer, true

#programBouygues
  %ul
    %li.bloomr Bloomr
    %li.bouygues Bouygues

  %h2.forBouygues Le programme Bloomr pour Bouygues Telecom

  .centered
    %h1.title De nouveaux outils pour vous accompagner dans votre évolution professionnelle

    .woman

    %p.clap
      Vous souhaitez prendre votre développement professionnel en main ? Bravo ! 

    .vue
    .movie

  .thanks
    %p
      Pour vous guider sur ce chemin, nous vous proposons le programme Bloomr, qui comporte trois modules pour vous aider à vous poser les bonnes questions, à construire votre projet et à passer à l’action.
      %br
      %br
      Ces modules sont accessibles via une plateforme en ligne hébergée chez Bloomr.
      Au programme :
      %ul
        %li Apprendre à mieux vous connaître et faire le point sur votre parcours
        %li Réfléchir à vos aspirations et préparer votre prochaine étape professionnelle
        %li Réveiller votre audace pour vous mettre en action avec confiance
      %br
      %br
      Chaque module comporte une série d’exercices pour avancer dans la réflexion, et de ressources pour creuser certains sujets.
      %br
      %br
      Parce que cheminer seul peut être ardu, vous serez accompagné.e par un coach en ligne.
      Vos échanges avec ce coach seront <b>strictement confidentiels</b>. Seuls les noms de ceux qui ont démarré un module et qui l’ont terminé sont communiqués aux RH.
      %br
      %br
      Afin d’identifier le module le plus adapté à votre situation et à vos aspirations pour commencer par là, nous vous proposons de remplir un court questionnaire :

    .wrapper
      %a.crazy-btn{ href: 'https://programs.bloomr.org' } Démarrer le questionnaire

  .side
    %h3.title La boite à outils

    = image_tag 'bouygues/itineo.jpg', width:210

    %p 
      En complément des modalités proposées dans le cadre de ce parcours, n’oubliez pas que vous avez accès en interne via le <b>portail itinéo</b>, à un ensemble de dispositifs pour vous accompagner dans votre réflexion et la construction de votre projet professionnel.
      %br
      %br
      Pour les découvrir, 
      %a.orange{ href: 'http://sps/sites/itineo/Pages/Accueil.aspx' } cliquez ici 

    %h3.title.contact Contact

    = image_tag 'bouygues/juliette.jpg'

    %p 
      Des questions concernant le programme ?
      Contactez 
      %a.orange{ href:'mailto:jcourtel@bouyguestelecom.fr' } Juliette COURTEL jcourtel@bouyguestelecom.fr
