- content_for :title, 'Programme Bouygues'
- content_for :hide_header, true
- content_for :hide_footer, true

#programBouygues
  %ul
    %li.bloomr Bloomr
    %li.bouygues Bouygues

  %h2.forBouygues Le programme Bloomr pour Bouygues Telecom

  .centered
    %h1.title Un nouvel outil pour construire votre projet professionnel

    .woman

    %p.clap
      Tout d'abord bravo !
      %br
      Si si bravo, car vous avez choisi de vous aventurer sur le chemin de votre développement personnel comme professionnel. 

    .vue
    .movie

  .thanks
    %p
      Pour vous guider dans votre réflexion et dans sa mise en œuvre, Bouygues Télécom en partenariat avec Bloom’r, vous propose de participer à ce programme composé de 3 modules complémentaires. Ils peuvent être suivis de manière distincte, selon les objectifs que vous vous êtes fixés&nbsp:
      %br
      %ul{ :style => "list-style:circle;display:list-item;width:100%;margin-bottom:0;" }
        %li{ :style => "width:400px;" } Apprendre à <b>mieux vous connaître</b> et faire le point sur votre parcours
        %li{ :style => "width:400px;" } Réfléchir à vos aspirations et <b>préparer votre prochaine étape</b> professionnelle
        %li{ :style => "width:400px;" } Réveiller votre audace pour <b>vous mettre en action</b> avec confiance
      %br
      Chaque module comporte une série d’exercices pour avancer dans la réflexion, et de ressources pour approfondir certains sujets.
      %br
      %br
      Et parce que cheminer seul peut être ardu, vous serez accompagné.e tout au long de votre parcours, par un <b>coach professionnel</b> avec lequel vous pourrez échanger :
      %br
      %ul{ :style => "list-style:circle;display:list-item;width:100%;margin-bottom:0;" }
        %li{ :style => "width:400px;" } Par écrit, quand vous le souhaitez, de manière illimitée
        %li{ :style => "width:400px;" } Par téléphone ou vidéo, aux étapes qui vous paraîtront les plus opportunes (sachant que vous bénéficiez d’un bonus d’1H de coaching pour l’ensemble de votre parcours)
      %br
      Tous vos échanges avec ce coach sont <b>strictement confidentiels</b>. Seuls les noms de ceux qui ont démarré un module et qui l’ont terminé sont communiqués aux RH.
      %br
      %br
      Afin de suivre le ou les modules les plus adapté.s à votre situation et à vos aspirations, nous vous proposons de répondre à un court questionnaire.
      %br
      %br
      
    .wrapper
      %a.crazy-btn{ href: 'https://bloomr.typeform.com/to/eKZ8st' } Démarrer le questionnaire

  .side
    %h3.title La boite à outils

    = image_tag 'bouygues/itineo.jpg', width:210

    %p 
      En complément des modalités proposées dans le cadre de ce parcours, n’oubliez pas que vous avez accès en interne via le <b>portail itinéo</b>, à un ensemble de dispositifs pour vous accompagner dans votre réflexion et la construction de votre projet professionnel.
      %br
      %br
      Pour les découvrir, 
      %a.orange{ href: 'http://sps/sites/itineo/Pages/Accueil.aspx' } cliquez ici 

    %h3.title.contact Contact

    = image_tag 'bouygues/juliette.jpg'

    %p 
      Des questions concernant le programme ?
      Contactez 
      %a.orange{ href:'mailto:jcourtel@bouyguestelecom.fr' } Juliette COURTEL jcourtel@bouyguestelecom.fr
