- content_for :title, 'Inspiration et réflexion pour trouver sa place professionnelle'
- content_for :description, 'Notre mission : donner à chacun toutes les cartes permettant de se construire à tout ge une vie professionnelle épanouissante.'
- content_for :header_background, asset_path('header/header-bg.png')

#concept
  %section.intro
    %h1 Le concept
    .list-wrapper
      %a{ href: bloomifesto_path }
        ←&nbsp;
        %span Le bloomifesto
      %p.subtitle Notre mission : donner à chacun toutes les cartes permettant de se construire une vie professionnelle épanouissante.
      %a.right{ href: qui_sommes_nous_path }
        %span L'équipe 
        →&nbsp;

  %section.description
    %ul.list-wrapper
      %li
        %span.concept-parcours
        %h2 Des programmes
        %p A suivre en ligne pour avancer sur le chemin de son épanouissement, en étant accompagné par des coachs professionnels.
      %li
        %span.concept-communaute
        %h2 Une communauté
        %p Des professionnels heureux dans leur travail qui témoignent pour inspirer tous ceux qui aimeraient l'être aussi.
      %li
        %span.concept-projet
        %h2 Un projet ambitieux
        %p Bloomr utilise le numérique pour projeter 10 000 personnes d’ici un an vers une vie professionnelle pleine de promesses.

  .spacer
  %section.motivations
    %h1.title Nos motivations
    .columns
      %span.concept-icon-aider
      %div
        %h2 Aider ceux qui s'interrogent à trouver leur place
        %p 
          Parce que trop de personnes subissent leurs choix, sans réfléchir à leurs potentialités et à l’étendue des possibles.
          %br
          %br
          Parce qu’une réflexion construite, inspirante et accompagnée par un tiers peut allumer une flamme et redonner confiance.
    .columns
      %div
        %h2 Les faire se projeter dans un avenir positif
        %p
          Parce que chacun de nous a en lui des ressources insoupçonnées, qui ne demandent qu’à s’exprimer.
          %br
          %br
          Parce qu’un métier qui permet d’utiliser ses forces et ses talents est un formidable facteur d’épanouissement.
      %span.concept-icon-positif
    .columns
      %span.concept-icon-federer
      %div
        %h2 Fédérer une communauté, au service d'une autre
        %p 
          Nous pensons qu'il est plus que jamais nécessaire de se regrouper pour transmettre et éclairer.
          %br
          %br
          Nous voulons innover collectivement pour tous ceux qui s'interrogent sur leur vie professionnelle.
