#concept
  %section.intro
    %h1 Le concept
    .list-wrapper
      %a{ href: qui_sommes_nous_path }
        ←&nbsp;
        %span L'équipe 
      %p.subtitle Notre mission : Donner à chacun toutes les cartes permettant de se construire une vie professionnelle épanouissante.
      %a.right{ href: bloomifesto_path }
        %span Le bloomifesto
        →&nbsp;

  %section.description
    %ul.list-wrapper
      %li
        %span.concept-parcours
        %h2 Un programme de réflexion
        %p Bloomr permet à tout âge de se construire une vie professionnelle épanouissante, grâce à un programme 100% numérique.
      %li
        %span.concept-communaute
        %h2 Une communauté
        %p Bloomr rassemble toutes les générations, et permet de s'entraider dans un univers humain, positif et bienveillant.
      %li
        %span.concept-projet
        %h2 Un projet ambitieux
        %p Bloomr utilise le numérique pour projeter 10 000 personnes d’ici un an vers une vie professionnelle pleine de promesses.

  .spacer
  %section.motivations
    %h1.title Nos motivations
    .columns
      %span.concept-icon-aider
      %div
        %h2 Aider ceux qui s'interrogent à trouver leur place
        %p 
          Parce que trop de personnes subissent leurs choix, sans réfléchir à leurs potentialités et à l’étendue des possibles.
          %br
          %br
          Parce qu’une réflexion construite, inspirante et collaborative peut allumer une flamme et redonner confiance.
    .columns
      %div
        %h2 Les faire se projeter dans un avenir positif
        %p
          Parce que chacun de nous a en lui des ressources insoupçonnées, qui ne demandent qu’à s’exprimer.
          %br
          %br
          Parce qu’un métier qui permet d’utiliser ses forces et ses talents est un formidable facteur d’épanouissement.
      %span.concept-icon-positif
    .columns
      %span.concept-icon-federer
      %div
        %h2 Fédérer une communauté, au service d'une autre
        %p 
          Nous pensons qu'il est plus que jamais nécessaire de se regrouper pour transmettre et éclairer.
          %br
          %br
          Nous voulons innover collectivement pour tous ceux qui s'interrogent sur leur orientation professionnelle.
