- content_for :title, "S'accomplir professionnellement"
- content_for :description, "Bloomr accompagne les particuliers et les entreprises pour aider tous ceux qui le souhaitent à devenir des acteurs conscients de leur développement professionnel."
- content_for :hide_header, true
- content_for :hide_footer, true

#home
  %section.header
    =image_tag('home/logo_black.svg', alt: 'bloomr')
    %h1 S'accomplir individuellement. Impacter collectivement.

  %section.biface
    %a{ :href => "/particuliers"} 
      %div.box
        =image_tag('home/logo.svg', alt: 'bloomr')
        =image_tag('home/b2c.png', class: 'resizable', alt: 'offre particuliers')
        %div.punchline.punchline-b2c
          %h2 Bloomr pour les particuliers
          %p Le bilan de compétences réinventé, éligible au CPF

    %a{ :href => "https://www.bloomr-impulse.com"}
      %div.box
        =image_tag('home/logo_impulse.svg', alt: 'bloomr impulse')
        =image_tag('home/b2b.png', class: "resizable", alt: 'offre entreprises')
        %div.punchline.punchline-b2b
          %h2 Bloomr pour les entreprises
          %p La formation à impact humain

  %section.footer
    %p
      =image_tag('home/separation.png', alt: 'séparation')
    %p Copyright Bloomr 2021 - Paris and everywhere - contact@bloomr.life
    %p
      %a{ :href => "https://programmes.bloomr.org/mentions-legales"} Mentions légales
    

