- content_for :title, "Orientation, reconversion : trouver un métier épanouissant"
- content_for :description, "Un site unique et positif pour aider chacun à trouver sa voie et construire sa vie professionnelle : tests, questionnaires, conseils et témoignages de pros"

#home
  %section.intro
    .catch
      %h1 La vie est trop courte pour s'ennuyer !
      %p 
        %span.home-separation
        %span.questions Prends ton épanouissement professionnel en main.

  %div.for.list-wrapper
    %section.know
      .img.home-boussole
      %h2 UN PROGRAMME DE RÉFLEXION
      %h1 Pour apprendre à te connaitre, savoir ce que tu veux, faire des choix et passer à l’action
      %p
        Des exercices, de l’entraide et de l’optimisme pour rassembler les bons indices et trouver ta place tout en restant zen.
        %br
        %br
        %b Déjà + de 7000 inscrits, de 14 à 59 ans !

      %a.crazy-btn{ href: program_path } Passe à l'action

    %section
      .img.home-mains
      %h2 DES MÉTIERS RACONTÉS PAR CEUX QUI LES VIVENT
      %h1 Pour explorer le champ </br>des possibles
      %p
        Les témoignages de pros qui aiment leur job sont une source d’inspiration qui t’ouvre la voie et les horizons.
        %br
        %br
        %br
        %a.good_job{ href: enrollment_index_path }Bien dans ton job ? Viens en parler

      %a.crazy-btn{ href: jobs_path } Découvre les métiers

  %section.blog
    .img.home-blog
    %h1.title Un zeste d’optimisme sur le blog...
    %p pour reprendre confiance en toi et en l'avenir.
    %ul.list-wrapper.blog-posts

    %a.crazy-btn{ href: 'https://blog.bloomr.org', target: '_blank' } Découvre le blog Bloomr

  %section.philosophy
    %h1.title La philosophie Bloomr
    %p.main Se frayer son chemin dans le monde professionnel est devenu un art. Se construire un parcours qui a du sens, l’aventure de toute une vie.
    %p.second
      Par où commencer pour trouver sa place dans ce monde ultra-mouvant, où tout est virtuellement possible ?
      %br
      %br
      Bloomr redonne des repères et guide avec bienveillance ceux qui cherchent leur voie vers une vie professionnelle épanouissante. A leur rythme et avec plaisir.
      %br
      %br
      Notre objectif est d’apprendre à chacun à s’orienter maintenant et pour le reste de la vie : développer les réflexes pour se connecter à ses envies, saisir les opportunités et faire des choix en toute confiance.

    %a{ href: bloomifesto_path } →&nbsp;En savoir plus

  %section.thanks
    %p.title Presse
    %p.sub Ceux qui relaient notre message
    %ul.list-wrapper
      %li
        %a.home-mondecampus{ href: 'https://drive.google.com/file/d/0B6t2xBTfe9gaY2s4c1djby1VN0E/view' }
      %li
        %a.home-mouv{ href: 'http://www.mouv.fr/player/reecouter?play=214587' }
      %li
        %a.home-socialter{ href: 'http://www.socialter.fr/fr/module/99999672/222/choisir_sa_prochaine_cole_comme_sur_tripadvisor' }
      %li
        %a.home-up{ href: 'http://www.up-inspirer.fr/27967-orientation-professionnelle-une-asso-bouscule-les-codes' }
      %li
        %a.home-lci{ href: 'https://youtu.be/RLQIkTN1Vp4' }

  %section.love-job
    %h1.title J'aime mon métier !<br/> Comment je peux vous aider ?
    %p.main Venez partager la passion de votre métier avec le monde&nbsp;entier, et ouvrir la voie à ceux qui cherchent la leur.
    %p.second Prenez quelques minutes pour raconter votre parcours.
    %a.crazy-btn{ href: enrollment_index_path } Je témoigne
