- content_for :title, "Bloomr : plateforme d'épanouissement professionnel, pour entreprises et particuliers"
- content_for :description, "Un site unique et positif pour construire une vie professionnelle épanouissante"

#home
  %section.intro
    .catch
      %h1 S'épanouir au travail, c'est possible !
      %p
        %span.home-separation
        %span.questions Prends les commandes de ton développement personnel et professionnel.

  %div.for.list-wrapper
    %section.know
      .img.home-boussole
      %h2 DES PROGRAMMES EN LIGNE
      %h1 Pour apprendre à te connaître, et développer ton potentiel unique
      %p
        Des exercices, de l’inspiration et de l’optimisme pour développer ton épanouissement tout en restant zen.
        %br
        %br
        %b Déjà + de 11000 inscrits, de 16 à 59 ans !

      %a.crazy-btn{ href: 'https://programmes.bloomr.org' } Découvre nos programmes

    %section
      .img.home-mains
      %h2 DES MÉTIERS RACONTÉS PAR DES PROFESSIONNELS
      %h1 Pour découvrir comment ils sont arrivés là et ce qui les rend heureux.
      %p
        Les témoignages de professionnels qui aiment leur job sont une source d’inspiration qui ouvre des horizons.
        %br
        %br
        %br
        %a.good_job{ href: enrollment_index_path }Bien dans ton job ? Viens en parler

      %a.crazy-btn{ href: jobs_path } Découvre les métiers

  %section.blog
    .img.home-blog
    %h1.title Un blog plein d’optimisme...
    %p pour booster ta confiance en toi et en l'avenir.
    -#%ul.list-wrapper.blog-posts

    %a.crazy-btn{ href: 'https://blog-bloomr.org', target: '_blank' } Découvre le blog Bloomr

  %section.philosophy
    %h1.title La philosophie Bloomr
    %p.main Se frayer son chemin dans le monde professionnel est devenu un art. Se construire un parcours épanouissant, l’aventure de toute une vie.
    %p.second
      Comment trouver sa place dans ce monde ultra-mouvant ? Comment développer son bien-être au quotidien ?
      %br
      %br
      Bloomr accompagne avec bienveillance ceux qui veulent s'épanouir durablement. A leur rythme et avec plaisir.
      %br
      %br
      Nous apprenons à chacun comment s’épanouir maintenant et pour le reste de la vie : se connecter à ce qui est bon pour soi, saisir les opportunités et avancer en toute confiance.
