- content_for :title, "Le digital et le coaching au service du plus grand nombre"
- content_for :description, "Bloomr accompagne les particuliers et les entreprises pour aider tous ceux qui le souhaitent à devenir des acteurs conscients de leur développement professionnel."
- content_for :hide_header, true
- content_for :hide_footer, true

#home
  %section.header
    =image_tag('home/logo_black.svg', alt: 'bloomr')
    %h1 Des programmes de développement professionnel en ligne, couplés à un accompagnement individuel et humain. 

  %section.biface
    %a{ :href => "/particuliers"} 
      %div.box
        =image_tag('home/logo.svg', alt: 'bloomr')
        =image_tag('home/b2c.png', alt: 'offre particuliers')
        %div.punchline.punchline-b2c
          %h2 Bloomr pour les particuliers
          %p Pour se construire une vie professionnelle épanouissante

    %a{ :href => "https://www.bloomr-impulse.com"}
      %div.box
        =image_tag('home/logo_impulse.svg', alt: 'bloomr impulse')
        =image_tag('home/b2b.png', alt: 'offre entreprises')
        %div.punchline.punchline-b2b
          %h2 Bloomr pour les entreprises
          %p Pour réinventer l'accompagnement des collaborateurs

  %section.footer
    %p
      =image_tag('home/separation.png', alt: 'séparation')
    %p Copyright Bloomr 2019 - Paris, Marseille, Lille, Nantes - contact@bloomr.life
    %p
      %a{ :href => "https://programmes.bloomr.org/mentions-legales"} Mentions légales
    

