#le-parcours
  #cover
    .container
      .row
        .col-md-10.col-md-offset-1#catch
          %h1 CHALLENGE TON ORIENTATION
          %p <b>Bloomr</b> est une association à but non lucratif qui t'accompagne vers une vie professionnelle pleine de promesses !
          %p Programme par email sur 12 semaines
          %p Décollage immédiat ;-)
          %p Merci aux <b>4000 personnes</b> qui se sont déjà lancées dans l'aventure !

      .row
        .col-md-10.col-md-offset-1
          =form_tag charges_path, id: 'payment' do
            .wrapper
              %script{  src: 'https://checkout.stripe.com/checkout.js',
                        class: 'stripe-button btn-payment',
                        data: { key: 'pk_test_gwg8v2Rba73NM4PPxoX0eAa8',
                                amount: '4000',
                                label: "JE M'INSCRIS",
                                name: 'Bloomr',
                                description: '1 parcours (40,00 €)',
                                currency: 'eur',
                                image: image_url('bloomr-120.png'),
                                locale: 'fr' }}

  #description.container
    .row
      .col-md-8.col-md-offset-2.quote
        %p.head C'est vous qui en parlez le mieux
        %p Maëlle, 17 ans
        %p "J'aime beaucoup ce parcours, car il m'apporte une connaissance de moi-même et une confiance en moi dont j'ai et aurais besoin pour avancer tout au long de ma vie. J'attends chaque semaine avec impatience ce mail de Bloomr, car je sais que grâce à lui, je vais probablement en apprendre un peu plus sur moi-même"

    .row
      .col-md-2.col-md-offset-2
        = image_tag 'icons/baluchon.png', width: '100px', height: '100px'
      .col-md-6
        %p.head Prendre le temps
        %p Réfléchir à son avenir ne se fait pas en deux jours. Bloomr t'accompagne sur plusieurs semaines, et te permet d'avancer à ton rythme.

    .row
      .col-md-2.col-md-push-6.col-md-offset-2
        = image_tag 'icons/skate.png', width: '100px', height: '100px'
      .col-md-6.col-md-pull-2
        %p.head S'amuser
        %p Se construire une vie professionnelle épanouissante peut être agréable. Bloomr te propose un parcours varié et surprenant, pour t'aider à trouver ta voie.
    .row
      .col-md-2.col-md-offset-2
        = image_tag 'icons/globe.png', width: '100px', height: '100px'
      .col-md-6
        %p.head S'entraider, échanger
        %p Bloomr c'est aussi une communauté de plusieurs centaines de professionnels heureux avec qui échanger.

    .row
      .col-md-2.col-md-push-6.col-md-offset-2
        = image_tag 'icons/chemin.png', width: '100px', height: '100px'
      .col-md-6.col-md-pull-2
        %p.head Agir
        %p La réflexion passe aussi par l'action. Bloomr t'accompagne, mais c'est toi qui agis.

  #ocean
    .container
      .row
        .col-md-12
          %h2 L'AVENIR EST A TOI

      .row
        .col-md-10.col-md-offset-1
          =form_tag charges_path, id: 'payment' do
            .wrapper
              %script{  src: 'https://checkout.stripe.com/checkout.js',
                        class: 'stripe-button btn-payment',
                        data: { key: 'pk_test_gwg8v2Rba73NM4PPxoX0eAa8',
                                amount: '4000',
                                label: "JE M'INSCRIS",
                                name: 'Bloomr',
                                description: '1 parcours (40,00 €)',
                                currency: 'eur',
                                image: image_url('bloomr-120.png'),
                                locale: 'fr' }}
