- content_for :title, "L'orientation positive et humaine"
- content_for :description, "Une combinaison d'inspiration et de réflexion pour faire éclore les pros épanouis de demain en les accompagnant dans leur orientation professionnelle"

#new_home
  .headlines
  .categories
    %section
      %h1 le blog
      %h2 le flow, secret du bonheur
      %a ➞ La suite !
      %a{ href: 'https://blog.bloomr.org' } ➞ Consulter le blog
    %section
      %h1 Les pros épanouis
      %h2 Les derniers bloomeurs inscrits sont ...
      .avatar-wrapper
        - users = User.published.last(8).each do |user|
          = image_tag user.avatar.url('thumb'), class: 'portrait-avatar', width: '104px', height: '104px', itemprop: 'image', alt: 'Photo de ' + user.first_name
      %a{ href: tribes_path } ➞ Voir les #{User.published.count} pros
    %section
      %h1 Le programme bloomr
      %h2 Pour ceux qui se sentent dés-orientés
      %a{ href: 'http://inscription.bloomr.org' } ➞ Rejoins-les
  %section.press
    %h1 Ils parlent de nous
    %p (merci à eux)
    %ul
      %li
        %a Le Monde Campus
      %li
        %a Mouv
      %li
        %a Socialter
      %li
        %a Up
      %li
        %a LCI
  %section.why
    %h1 Bloomr, c'est qui c'est, c'est pour quoi ...
    %h2 Notre mission : faire de l'orientation une aventure exitante et collective
    %p bla bla
    %a ➞ En savoir plus
  %section.solution
    %h1 Une solution qui sort de l'ordinaire pour t'aider à réfléchir
    %p Pour faire les bons choix, pas de miracle ...
    %p Le parcours Bloomr est un programme d'orientation
    %button
      je démarre l'aventure
