- content_for :title, "L'orientation positive et humaine"
- content_for :description, "Une combinaison d'inspiration et de réflexion pour faire éclore les pros épanouis de demain en les accompagnant dans leur orientation professionnelle"

#new_home
  %header
    %nav
      %ul
        %li
          %a A propos de Bloomr
          %ul.submenu
            %li
              %a{ href: le_concept_path } Le concept
            %li
              %a{ href: qui_sommes_nous_path } L'équipe
            %li
              %a Le manifesto
            %li
              %a L'écosystème Bloomr
            %li
              %a{ href: 'mailto:contact@bloomr.org' } Contact
        %li
          %a Vous êtes
          %ul.submenu
            %li
              %a Lycéen / Étudiant
            %li
              %a Adulte en reconversion
            %li
              %a{ href: 'http://parents.bloomr.org' } Parent
            %li
              %a{ href: enrollment_index_path } Un professionel heureux
            %li
              %a Une entreprise
        %li
          %a Bloomr
        %li
          %a{ href: 'http://inscription.bloomr.org' } Programme d'orientation
        %li
          %a{ href: tribes_path } Métiers
        %li
          %a{ href: 'https://blog.bloomr.org' } Blog
        %li
          %a Connexion
          .submenu.right
            %p Je suis ...
            %ul
              %li
                %a{ href: enrollment_index_path } Un pro heureux qui veut témoigner
              %li
                %a{ href: user_session_path } Un pro heureux qui veut accéder à son profil
              %li
                %a{ href: ENV['DISCOURSE_URL'] } Inscrit(e) au programme Bloomr
  .headlines
  .categories
    %section
      %h1 le blog
      %h2 le flow, secret du bonheur
      %a ➞ La suite !
      %a{ href: 'https://blog.bloomr.org' } ➞ Consulter le blog
    %section
      %h1 Les pros épanouis
      %h2 Les derniers bloomeurs inscrits sont ...
      .avatar-wrapper
        - users = User.published.last(8).each do |user|
          = image_tag user.avatar.url('thumb'), class: 'portrait-avatar', width: '104px', height: '104px', itemprop: 'image', alt: 'Photo de ' + user.first_name
      %a{ href: tribes_path } ➞ Voir les #{User.published.count} pros
    %section
      %h1 Le programme bloomr
      %h2 Pour ceux qui se sentent dés-orientés
      %a{ href: 'http://inscription.bloomr.org' } ➞ Rejoins-les
  %section.press
    %h1 Ils parlent de nous
    %p (merci à eux)
    %ul
      %li
        %a Le Monde Campus
      %li
        %a Mouv
      %li
        %a Socialter
      %li
        %a Up
      %li
        %a LCI
  %section.why
    %h1 Bloomr, c'est qui c'est, c'est pour quoi ...
    %h2 Notre mission : faire de l'orientation une aventure exitante et collective
    %p bla bla
    %a ➞ En savoir plus
  %section.solution
    %h1 Une solution qui sort de l'ordinaire pour t'aider à réfléchir
    %p Pour faire les bons choix, pas de miracle ...
    %p Le parcours Bloomr est un programme d'orientation
    %button
      je démarre l'aventure
  %footer
    %section
      %h1 Au fait, c'est quoi Bloomr ?
      %p bla bla
      %p bla bla
    %section
      %h1 A propos
      %ul
        %li
          %a Le concept Bloomr
        %li
          %a Equipe
        %li
          %a Manifesto
        %li
          %a Ecosystem Bloomr
        %li
          %a contact
        %li
          %a Le concept Bloomr
    %section
      %h1 Vous êtes
      %ul
        %li
          %a Lycéen / Etudiant
        %li
          %a Adulte
    %section
      %h1 Nos solution
      %ul
        %li
          %a Programme d'orientation
        %li
          %a Métiers
    %section
      %h1 L'orientation
      %ul
        %li
          %a Je suis perdu dans mon orientation
        %li
          %a J'ai des doutes par rapport à mon avenir
