#homepage
  .go-down
    %span.glyphicon.glyphicon-chevron-down

  #fullpage
    .section.first
      #header2
        %h1.sprite.sprite-logo-bloomr Bloomr
        %a#login
          Connexion
          %span.glyphicon.glyphicon-arrow-right

      .center-block
        %i.sprite-white-cloud-left.sprite.cloud-left
        %i.sprite.sprite-white-cloud-right.cloud-right
        #lost-in-orientation
          %i.sprite.sprite-icon-question.question
          %i.sprite.sprite-boyandgirl.people
          %h2 Perdu dans ton orientation ?
          %i.sprite.sprite-blue-cloud-1.cloud1
          %i.sprite.sprite-blue-cloud-2.cloud2
          %i.sprite.sprite-blue-cloud-3.cloud3

    .section.actions
      %h3
        <b>Bloomr</b> t'embarque dans une orientation de maboule !
        %br
        Tu veux ...
      .action
        .illustration
          =image_tag('home/bg-icon.png', class: 'bg-action')
          =image_tag('home/icon-journey.png', class: 'journey-action')
        %h4
          Y voir plus clair
          %br
          dans ton orientation
        %btn.btn.btn-primary
          Je suis le parcours

      .action{ style: 'top: 200px' }
        .illustration
          =image_tag('home/bg-icon.png', class: 'bg-action')
          =image_tag('home/icon-inspire.png', class: 'inspire-action')
        %h4
          être inspiré
          %br
          par des pros qui kiffent ?
        %btn.btn.btn-primary
          Je découvre les témoignages

      .action
        .illustration
          =image_tag('home/bg-icon.png', class: 'bg-action')
          =image_tag('home/icon-blog.png', class: 'blog-action')
        %h4
          Zoomer
          %br
          sur des sujets-clés ?
        %btn.btn.btn-primary
          Je lis le blog

    .section.i-love-my-job
      .sprite.sprite-blue-cloud-left.blue-cloud-left
      .sprite.sprite-blue-cloud-right.blue-cloud-right
      .sprite.sprite-icon-bloomer.flower1
      %h4 J'aime mon métier ! Comment je peux vous aider ?
      %p.subtitle Viens partager la passion de ton métier <br>au monde entier :
      %btn.btn.btn-primary je témoigne
      .sprite.sprite-icon-cestquoibloomr.cestquoi

    .section.what-is-it
      %h5 Au fait ... c'est quoi Bloomr ?
      %p.subtitle Bloomr fait éclore les pros épanouis de demain
      %p Aujourd'hui, beaucoup de jeunes perçoivent leur orientation comme un challenge insurmontable.
      %p Chez Bloomr, l'orientation est une aventure palpitante et pleine de promesses.
      %p Nous bousculons les codes en adoptant une approche positive, enthousiaste et rassurante pour <br>redonner confiance et faire éclore les professionnels épanouis de demain.

      %a Oh oui, dites m'en plus

    .section.links
      .column
        %h3 Je veux challenger mon orientation
        %ul
          %li Le parcours Bloomr
          %li Les témoignages des bloomers
          %li Le blog

      .column
        %h3 C'est quoi Bloomr ?
        %ul
          %li Concept
          %li Équipe
          %li Manifesto
          %li Partenaires
          %li Contact
          %li Bloomr expliqué aux parents

      .column
        %h3 Je veux aider
        %ul
          %li Connexion bloomer
          %li Je veux transmettre le plaisir d'exercer mon métier
          %li Je suis conseiller / prof

      .footer
        =image_tag('home/logo-bloomr-white.png')
        %span.glyphicon.glyphicon-chevron-up
        %p © Bloomr 2016, charte de confidentialité


:javascript
  $(document).ready(function() {
    var chevronDown = $('.glyphicon-chevron-down');
    var chevronUp = $('.glyphicon-chevron-up');
    $('#fullpage').fullpage({
        navigation: true,
        navigationPosition: 'right',
        afterLoad: function( anchorLink, index){
          console.log(index);
          if(index == 5) {
            chevronDown.hide(); 
          } else {
           chevronDown.show(); 
          }
        }
      }
    );
    chevronDown.click(function() { $.fn.fullpage.moveSectionDown(); });
    chevronUp.click(function() { $.fn.fullpage.moveTo(1); })
  });
