#homepage
  .go-down
    %span.glyphicon.glyphicon-chevron-down

  #fullpage
    .section.first
      #header2
        %h1.sprite.sprite-logo-bloomr Bloomr
        %a#login
          Connexion
          %span.glyphicon.glyphicon-arrow-right

      .center-block
        %i.sprite-white-cloud-left.sprite.cloud-left
        %i.sprite.sprite-white-cloud-right.cloud-right
        #lost-in-orientation.center
          %i.sprite.sprite-icon-question.question
          %i.sprite.sprite-boyandgirl.people
          %h2 Perdu dans ton orientation ?
          %i.sprite.sprite-blue-cloud-1.cloud1
          %i.sprite.sprite-blue-cloud-2.cloud2
          %i.sprite.sprite-blue-cloud-3.cloud3

    .section.actions
      %h3
        <b>Bloomr</b> t'embarque dans une orientation de maboule !
        %br
        Tu veux ...
      .action
        .illustration
          %i.sprite.sprite-bg-icon.bg-action
          %i.sprite.sprite-icon-journey.journey-action
        %h4
          Y voir plus clair
          %br
          dans ton orientation
        %a.crazy-btn
          Je suis le parcours

      .action{ style: 'top: 160px' }
        .illustration
          %i.sprite.sprite-bg-icon.bg-action
          %i.sprite.sprite-icon-inspire.inspire-action
        %h4
          être inspiré
          %br
          par des pros qui kiffent ?
        %a.crazy-btn.yellow
          Je découvre les témoignages

      .action
        .illustration
          %i.sprite.sprite-bg-icon.bg-action
          %i.sprite.sprite-icon-blog.blog-action
        %h4
          Zoomer
          %br
          sur des sujets-clés ?
        %a.crazy-btn.yellow
          Je lis le blog

    .section.i-love-my-job
      .center
        .sprite.sprite-blue-cloud-left.blue-cloud-left
        .sprite.sprite-blue-cloud-right.blue-cloud-right
        .sprite.sprite-icon-bloomer.flower1
        %h4 J'aime mon métier ! Comment je peux vous aider ?
        %p.subtitle Viens partager la passion de ton métier <br>au monde entier :
        %btn.crazy-btn Je témoigne

    .section.what-is-it
      .center
        .sprite.sprite-icon-cestquoibloomr.cestquoi
        %h5 Au fait ... c'est quoi Bloomr ?
        %p.subtitle Bloomr fait éclore les pros épanouis de demain
        %p.bloomifesto Aujourd'hui, beaucoup de jeunes perçoivent leur orientation comme un challenge insurmontable.
        %p.bloomifesto Chez Bloomr, l'orientation est une aventure palpitante et pleine de promesses.
        %p.bloomifesto Nous bousculons les codes en adoptant une approche positive, enthousiaste et rassurante pour <br>redonner confiance et faire éclore les professionnels épanouis de demain.

        %a Oh oui, dites m'en plus

    .section.links
      .center
        .column
          %h3 Je veux challenger mon orientation
          %ul
            %li Le parcours Bloomr
            %li Les témoignages des bloomers
            %li Le blog

        .column
          %h3 C'est quoi Bloomr ?
          %ul
            %li Concept
            %li Équipe
            %li Manifesto
            %li Partenaires
            %li Contact
            %li Bloomr expliqué aux parents

        .column
          %h3 Je veux aider
          %ul
            %li Connexion bloomer
            %li Je veux transmettre le plaisir d'exercer mon métier
            %li Je suis conseiller / prof

      .footer
        %i.sprite.sprite-logo-bloomr-white
        %span.glyphicon.glyphicon-chevron-up
        %p © Bloomr 2016, charte de confidentialité


:javascript
  $(document).ready(function() {
    var chevronDown = $('.glyphicon-chevron-down');
    var chevronUp = $('.glyphicon-chevron-up');
    $('#fullpage').fullpage({
        navigation: true,
        navigationPosition: 'right',
        afterLoad: function( anchorLink, index){
          console.log(index);
          if(index == 5) {
            chevronDown.hide();
          } else {
           chevronDown.show();
          }
        }
      }
    );
    chevronDown.click(function() { $.fn.fullpage.moveSectionDown(); });
    chevronUp.click(function() { $.fn.fullpage.moveTo(1); })
  });
