- content_for :title, 'La presse'
- content_for :description, "C’est à chacun de trouver le sens qu’il veut donner à sa vie professionnelle. Cette quête commence maintenant. Ils parlent de Bloomr et ça nous fait plaisir."
- content_for :header_background, asset_path('header/header-bg.png')

#press
  %section.intro
    %h1 Dans la presse
    .list-wrapper
      %a{ href: testimonies_path }
        ←&nbsp;
        %span Les Témoignages
      %p.subtitle Ils parlent de nous, et ça nous fait plaisir
      %a.right{ href: concept_path }
        %span Le concept
        →&nbsp;

  %section.centered.referral
    .lci
      %h1.title Interventions
      %h2 Bloomr sur LCI
      %p le 06/07/2016
      %iframe.show-phone{ width:'300', height:'150', src:'https://www.youtube.com/embed/RLQIkTN1Vp4', frameborder:'0' }
      %iframe.hide-phone{ width:'560', height:'315', src:'https://www.youtube.com/embed/RLQIkTN1Vp4', frameborder:'0' }

    .cp
      %h1.title Nos communiqués de presse
      %ul
        %li
          %p.date 13/03/2017
          .details
            %p Bloomr décolle - lancement de sa plateforme de réflexion professionnelle
            %a{ href: 'https://www.dropbox.com/sh/379scpjjz2ndk8y/AACzrcihiUrtgJXDopqs-u0Za?dl=0&preview=Bloomr+d%C3%A9colle+-+13_03_2017+-+lancement+de+sa+plateforme+de+r%C3%A9flexion+professionnelle.pdf' } Télécharger
        %li
          %p.date 14/12/2016
          .details
            %p Bloomr s'ouvre à l'investissement participatif
            %a{ href: 'https://www.dropbox.com/sh/379scpjjz2ndk8y/AACzrcihiUrtgJXDopqs-u0Za?dl=0&preview=Communiqu%C3%A9+-+14_12_2016+-+Bloomr+s%27ouvre+%C3%A0+l%27investissement+participatif.pdf' } Télécharger
        %li
          %p.date 01/06/2016
          .details
            %p Bloomr, l'orientation professionnelle positive et humaine, vers un avenir porteur de sens
            %a{ href: 'https://www.dropbox.com/sh/379scpjjz2ndk8y/AACzrcihiUrtgJXDopqs-u0Za?dl=0&preview=Communiqu%C3%A9+-+01_06_2016+-+Bloomr%2C+l%E2%80%99orientation+professionnelle+positive+et+humaine%2C+vers+un+avenir+porteur+de+sens.pdf' } Télécharger

    %h1.title Ils parlent de nous
    %ul.list-wrapper
      %li
        .press-letudiant
        %p 22-09-2016
        %h2 L'étudiant.fr
        %h3 EdTech : 10 start-up française à suivre
        %a{ href: 'http://www.letudiant.fr/educpros/opinions/edtech-10-start-up-francaises-a-suivre.html' } Lien vers l'article
      %li
        .press-wedemain
        %p 26-10-2016 
        %h2 We demain.fr
        %h3 Participative, connectée et optimiste : une start-up réinvente l'orientation professionnelle
        %a{ href: 'https://www.wedemain.fr/Participative-connectee-et-optimiste-une-start-up-reinvente-l-orientation-professionnelle_a2227.html' } Lien vers l'article
      %li
        .press-reussirmavie
        %p 09-03-2017
        %h2 Réussir ma vie
        %h3 Des startups misent sur le numérique pour aider les jeunes
        %a{ href: 'http://www.reussirmavie.net/Trouver-son-orientation-les-nouvelles-solutions-des-startups_a2518.html' } Lien vers l'article
      %li
        .press-mce
        %p 09-2016
        %h2 MCE TV
        %h3 Bloomr lance l'orientation positive et humaine des jeunes !
        %a{ href: 'http://mcetv.fr/mon-mag-campus/bloomr-lance-orientation-positive-humaine-jeunes-1509/' } Lien vers l'article
      %li
        .press-mondecampus
        %p 11/2015
        %h2 Le Monde CAMPUS
        %h3 Des «pros» passionnés racontent leur métier
        %a{ href: 'https://drive.google.com/file/d/0B6t2xBTfe9gaY2s4c1djby1VN0E/view' } Lien vers l'article
      %li
        .press-mouv
        %p le 21/11/2016
        %h2 MOUV'
        %h3 Quel métier choisir ? Bloomr t'ouvre la voie !
        %a{ href: 'http://www.mouv.fr/player/reecouter?play=214587' } Lien vers l'article
      %li
        .press-socialter
        %p le 09/03/2016
        %h2 socialter
        %h3 Donner la parole à l’expérience 
        %a{ href: 'http://www.socialter.fr/fr/module/99999672/222/choisir_sa_prochaine_cole_comme_sur_tripadvisor' } Lien vers l'article
      %li
        .press-up
        %p le 22/07/16
        %h2 UP magazine
        %h3 Orientation professionnelle : une asso bouscule les codes
        %a{ href: 'http://www.up-inspirer.fr/27967-orientation-professionnelle-une-asso-bouscule-les-codes' } Lien vers l'article
      %li
        .press-workup
        %p le 15/12/2015
        %h2 WORKUP
        %h3 À la découverte des métiers et de l'orientation professionnelle avec Bloom'r
        %a{ href: 'http://www.workuper.com/ressources/bloomr-l-orientation-3-0' } Lien vers l'article
      %li
        .press-skytea
        %p le 08/06/2016
        %h2 Skytea
        %h3 Bloom’r, quand orientation rime avec plaisir !
        %a{ href: 'http://skytea.fr/bloom-r-orientation-rime-plaisir/' } Lien vers l'article

  .journalism
    %section
      %h1.title Notre kit graphique
      %p Amis journalistes, vous pouvez utiliser notre charte graphique les yeux fermés (ou presque)
      %a.crazy-btn{ href: 'https://www.dropbox.com/sh/t59jkh1ou6cvo6y/AADy9VHXllSDXbPHhAx7DoA6a?dl=0', style: 'margin-top: 72px;' } Téléchargez le kit Bloomr

    %section
      %h1.title D'ailleurs, vous êtes journaliste ?
      %p et vous souhaitez parler de nous ?
      %a.crazy-btn{ href: 'mailto:contact@bloomr.org' } Contactez-nous !
