#press
  %section.intro
    %h1 Dans la presse
    .list-wrapper
      %a{ href: bloomifesto_path }
        ←&nbsp;
        %span Le bloomifesto
      %p.subtitle Ils parlent de nous, et ça nous fait plaisir
      %a.right{ href: qui_nous_sommes_path }
        %span L'équipe
        →&nbsp;

  %section.centered.referral
    .lci
      %h2 Intervention sur LCI
      %p le 06/07/2016
      %iframe.show-phone{ src: 'http://www.wat.tv/embedframe/134938chuPP3r13133910', frameborder: '0', style: 'width: 300px; height: 150px;' }
      %iframe.hide-phone{ src: 'http://www.wat.tv/embedframe/134938chuPP3r13133910', frameborder: '0', style: 'width: 600px; height: 300px;' }

    %ul.list-wrapper
      %li
        .press-mondecampus
        %p 11/2015
        %h2 Le Monde CAMPUS
        %a{ href: 'https://drive.google.com/file/d/0B6t2xBTfe9gaY2s4c1djby1VN0E/view' } Lien vers l'article
      %li
        .press-mouv
        %p le 21/11/2016
        %h2 MOUV'
        %a{ href: 'http://www.mouv.fr/player/reecouter?play=214587' } Lien vers l'article
      %li
        .press-socialter
        %p le 09/03/2016
        %h2 socialter
        %a{ href: 'http://www.socialter.fr/fr/module/99999672/222/choisir_sa_prochaine_cole_comme_sur_tripadvisor' } Lien vers l'article
      %li
        .press-up
        %p le 22/07/16
        %h2 UP magazine
        %a{ href: 'http://www.up-inspirer.fr/27967-orientation-professionnelle-une-asso-bouscule-les-codes' } Lien vers l'article
      %li
        .press-workup
        %p le 15/12/2015
        %h2 WORKUP
        %a{ href: 'http://www.workuper.com/ressources/bloomr-l-orientation-3-0' } Lien vers l'article
      %li
        .press-skytea
        %p le 08/06/2016
        %h2 Skytea
        %a{ href: 'http://skytea.fr/bloom-r-orientation-rime-plaisir/' } Lien vers l'article

  %section.journalism
    %h1.title Vous êtes journaliste ?
    %p et vous souhaitez parler de nous ?

    %a.crazy-btn{ href: 'mailto:contact@bloomr.org' } Contactez-nous !
