- content_for :title, "Programme de réflexion en ligne pour s'épanouir au travail - Bloomr"
- content_for :description, "Tu rêves de t'épanouir au travail mais ne sais pas par où commencer ? Le programme en ligne Bloomr: une solution originale pour réfléchir à ton avenir pro."

#program
  .intro
    .catch
      %h1 Tu rêves de t'épanouir au travail mais tu ne sais pas par où commencer&nbsp;?
      %p.subtitle Le programme Bloomr t’aide à sortir du flou. Décide quelles études suivre, dans quel métier te reconvertir, ou quelle sera la prochaine étape de ton parcours.

  %section
    %h1.title Une solution qui sort de l’ordinaire pour réfléchir à ton avenir
    %p.goodChoice Pour faire les bons choix, pas de recette miracle : il faut prendre le temps de se poser les bonnes questions.
    %p L’approche Bloomr c’est un cocktail d’exercices éclairants, d’entraide, d’optimisme et d’inspiration qui atterrit directement dans ta boite mail.

  %section.exercises
    %p Une série d'exercices originaux pour structurer ta réflexion et rassembler les bons indices 
    = image_tag 'program/missions.png'

  %section.advantages
    .list-wrapper
      %section
        %i.sprite.sprite-pen
        %h1 Des conseils positifs
        %p pour booster ta confiance en toi et en ton avenir 
      %section
        %i.sprite.sprite-dialog
        %h1 Un forum
        %p où les inscrits avancent ensemble et les coachs professionels répondent aux questions 
      %section
        %i.sprite.sprite-boy
        %h1 Des pros
        %p qui ont trouvé leur voie racontent leur métier pour faire découvrir de nouvelles pistes

    %a.crazy-btn{ href: payment_index_path, 'data-turbolinks'  => 'false'} Je m'inscris au programme
    %p.only pour seulement 19 €<br/> une seule fois et pour la vie (si si !)

  %section.progress
    %h1.title Le déroulement
    = image_tag 'program/progress.png'
    %ol
      %li Inscris-toi
      %li Reçoit les exercices par mails
      %li Viens chercher de l'aide sur le forum
      %li Fais des choix
      %li Passe à l'action

  %section.program
    %h1.title Au programme
    %h2 4 étapes. 21 exercices concrets 
    %p 
      Chaque exercice a été sélectionné par la coach de l’équipe et cible un thème précis. Il y en a pour tous les goûts : tests en ligne, questionnaires, mindmaps...
      <br/><br/>
      %span.motivation Le tout additionné de contenu inspirant pour garder la motiv'.
    = image_tag 'program/steps.png', class: 'hide-phone'


  %section.community
    %h1.title La force d'une communauté
    %p Pas facile de sortir du flou quand on n’a personne avec qui échanger. Avec Bloomr, tu n’es plus seul. L’inscription te donne accès à notre communauté sur un forum privé. Tu pourras partager ton expérience avec d’autres inscrits, échanger et recevoir des conseils.
    = image_tag 'program/forum.png'

  %section.mails
    %h1.title Un programme décontracté par mails
    .list-wrapper
      %p
        Tu recevras chaque exercice par mail. Le parcours se fait de chez toi, de manière autonome et à ton rythme.
        <br/><br/>
        Le programme est décontracté dans sa forme et positif dans son approche pour que tu restes zen et enthousiaste et que tu gardes l’esprit ouvert.
      %i.sprite.sprite-mail

  %section.warning
    %h1.title On préfère te prévenir ...
    %p
      Tu rêves peut être du test ultime ou d’une formule magique qui t’indiquerait le métier idéal. Selon nous, ça n’existe pas.
      <br/><br/>
      Avec le programme Bloomr, pas de réponses toutes faites: notre méthode te permet de trouver par toi-même une direction bien plus pertinente et qui vienne de toi. Mais pour ça, tu dois être prêt à y consacrer un peu de temps.
    %a.crazy-btn{ href: payment_index_path, 'data-turbolinks' => 'false' } Je suis prêt !

  %section.benefits
    %h1.title Ce que tu y gagnes
    %ul.list-wrapper
      %li
        %i.sprite.sprite-confiance
        %h3 Plus de confiance
        %p En toi et en l'avenir. You can do it !
      %li
        %i.sprite.sprite-reflexion
        %h3 Un cadre de réflexion
        %p Pour te poser les bonnes questions et sortir du flou
      %li
        %i.sprite.sprite-concret
        %h3 Du concret
        %p Des pistes pour avancer
      %li
        %i.sprite.sprite-bonne-attitude
        %h3 Le soutien d'une communauté
        %p Pour réfléchir et avancer à plusieurs
      %li
        %i.sprite.sprite-soutien
        %h3 La bonne attitude
        %p Curiosité, expérimentation, optimisme
      %li
        %i.sprite.sprite-reflexes
        %h3 Les bons réflexes
        %p Pour prendre en main ton avenir durablement

  %section.success
    %h1.title Ils ont avancé grâce à Bloomr ...
    %ul
      %li.trust
        %i.sprite.sprite-balloon1
        %p
          %span.number 80%
          %span.registered des inscrits
          <br/>ont une plus grande confiance dans leur avenir professionnel.
      %li
        %i.sprite.sprite-balloon2
        %p
          %span.number 84%
          %span.registered des inscrits
          <br/>y voient plus clair dans leur orientation.

  %section.subscription
    %h1.title Inscris-toi !
    %h2 C’est 19€ une seule fois, en tout et pour tout !
    %ul
      %li
        %i.sprite.sprite-done
        La totalité du programme par mails (21 exercices)
      %li
        %i.sprite.sprite-done
        L’accès au forum privé à vie

    %a.crazy-btn{ href: payment_index_path, 'data-turbolinks' => 'false' } Je m’inscris au programme

    %p.relative Si tu as un ami, un enfant, un petit-enfant ou une nièce perdue dans son orientation, offre lui le parcours
    %a.gift{ href: 'https://www.bloomr.org/partner/cadeau' } ➞ J'offre le programme

  .spacer
  %section.faq
    %h1.title FAQ

    %h4 Est-ce que c’est un abonnement où on doit payer régulièrement pour continuer ?
    %p Ce n’est pas un abonnement, on paye une seule fois en tout et pour tout.

    %h4 Ça commence quand ?
    %p Tout de suite : tu reçevras le premier mail dans l’heure qui suit ton inscription.

    %h4 Ça va me prendre combien de temps ?
    %p Nous encourageons les inscrits à faire le parcours à leur rythme. Tu peux donc le faire en 4 semaines comme en trois mois, selon tes disponibilités. Tu peux compter 30mn à 1h30 par mission, à raison d’une mission tous les un ou deux jours.

    %h4 Et si je suis en retard ?
    %p Pas de problème ! Tu continueras à recevoir les mails mais tu pourras attendre autant que tu veux avant de les ouvrir.

    %h4 Est-ce que je suis sûr de trouver mon prochain métier avec le parcours ?
    %p Le parcours Bloomr n’est pas une recette miracle. On ne peut pas te garantir d'un coup de baguette magique que tadaaaa, tu connaitras ton futur métier (personne ne peut te promettre ça). Ce parcours demande du temps de réflexion. Mais 84% de ceux qui ont fini le parcours ont pu grâce à cela avancer dans leur orientation.

    %h4 Est-ce que j'ai toujours accès à l'espace de discussion après avoir terminé le parcours ?
    %p Oui bien sûr, tu conserves l'accès au forum privé Bloomr, et tu pourras y revenir quand tu le souhaites pour continuer à échanger, poser des questions et partager ta situation.
