#templates
  %div{style: 'margin-bottom: 40px;'}
    %h1 Templates

  %div
    %a.crazy-btn
      Je suis le parcours

    %a.crazy-btn.yellow
      Je découvre les témoignages

  #home{style: 'margin-top: 30px;'}
    %p#transition
      %span
        on te propose ...
      %i.sprite.sprite-arrow-transition
