<% content_for :title, "Des professionnels passionnés parlent de leur métier" %>
<% content_for :og_title, "Bloomr - Des professionnels passionnés parlent de leur métier" %>
<% content_for :description, "Choisir un métier épanouissant grâce à une communauté de professionnels passionnés" %>
<% content_for :og_img_url, "http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,fl_progressive,h_1200,q_90,w_2000/v1/123077/7039448345_9741b31e11_k_rqcog0.jpg" %>

<%= render "shared/generic_intro" %>

<div class="container">
  <ul id="portraits_list" class="row">
    <li class="col-lg-6 col-md-8 col-sm-12 col-xs-12 parcours-card">
      <a href="http://inscription.bloomr.org">
        <div class="parcours">
          <p>participe à notre programme d'emails <br />et challenge ton orientation</p>
          <span class="inscription">Je m'inscris gratuitement !</span>
        </div>
      </a>
    </li>
    <% @portraits.each do |portrait| %>
        <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12" itemscope itemtype="http://schema.org/Person">
          <%= render "portraits/card", :portrait => portrait %>
        </li>
    <% end %>
  </ul>

  <% if @portraits.length > 0  %>
  <nav id="page-nav" style="display: none;">
    <a href="/portraits?page=<%=params[:page]+1%>">page suivante</a>
  </nav>
  <% end %>


  <%= render "shared/catchup_phrase" %>

  <script>
      $(function(){
          $('#portraits_list').infinitescroll({
              loading: {
                  finishedMsg: "<li><em>Félicitations, vous avez atteint la fin de la galerie</em></li>",
                  msgText: "<li><em>Chargement des prochains portraits...</em></li>"
              },
              navSelector  : '#page-nav',
              nextSelector : '#page-nav a',
              itemSelector : '.col-lg-3.col-md-4.col-sm-6.col-xs-12',
              bufferPx: 400
          });
      });
  </script>

</div>