<div class="container">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
      <h2 class="form-signin-heading">Log in</h2>

      <%= f.email_field :email, autofocus: true, placeholder: "Email", required: true, class: "form-control" %>
      <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control" %>

      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>

</div>