.toolbar{ style:'display:none;' }
  %a{ 'data-wysihtml5-command' => 'bold' } bold
  %a{ 'data-wysihtml5-command' => 'italic' } italic
  %a{ 'data-wysihtml5-command' => 'formatBlock', 'data-wysihtml5-command-value' => 'h1' } H1
  %a{ 'data-wysihtml5-command' => 'formatBlock', 'data-wysihtml5-command-value' => 'p' } P
