.toolbar{ style:'display:none; margin-bottom: 5px;' }
  .btn-group{ role: 'group' }
    %button.btn.btn-default{ 'data-wysihtml5-command' => 'bold',  :tabindex => '-1', :title => 'CTRL+B', :unselectable => 'on', style: 'font-weight: bold;'} Gras
    %button.btn.btn-default{ 'data-wysihtml5-command' => 'italic',  :tabindex => '-1', :title => 'CTRL+I', :unselectable => 'on', style: 'font-style: italic;' } Italique
    %button.btn.btn-default{ "data-wysihtml5-command" => "insertUnorderedList", :tabindex => "-1", :title => "Liste à puces", :unselectable => "on"}
      %span.glyphicon.glyphicon-list
