.full-blue
  .center
    %h1 Un email pour changer votre mot de passe vous a été envoyé !

    %br
    %p Il devrait arriver d'ici quelques minutes ...

    %p
      %br
      %br
      %a{ href: '/' } revenir à la page d'accueil
