- content_for :title, 'Mot de passe envoyé'
- content_for :hide_header, true
- content_for :hide_footer, true

.centered-square
  .center
    %h1 Un email pour changer votre mot de passe vous a été envoyé !

    %br
    %p Il devrait arriver d'ici quelques minutes ...

    %p
      %br
      %br
      %a{ href: '/' } revenir à la page d'accueil
