.container{ style: 'margin-top: 50px;' }
  .row
    .col-md-6.col-md-offset-3
      %h2 Un email pour changer votre mot de passe vous a été envoyé !

      %br
      %p Il devrait arriver d'ici quelques minutes ...

      %p
        %br
        %br
        %a{ href: '/' } revenir à la page d'accueil
