/**
 * Created by slehericey on 08/03/15.
 */

(function() {

    window.algolia = algoliasearch("<%= ENV['ALGOLIA_APP_ID'] %>", "<%= ENV['ALGOLIA_SEARCH_KEY'] %>");
    window.algolia.usersIndex = window.algolia.initIndex('User_<%= Rails.env %>');

    var charMap = {
        "à": "a",
        "á": "a",
        "â": "a",
        "é": "e",
        "è": "e",
        "ê": "e",
        "ë": "e",
        "É": "e",
        "ï": "i",
        "î": "i",
        "ô": "o",
        "ö": "o",
        "û": "u",
        "ù": "u",
        "ü": "u",
        "ñ": "n"
    };

    var normalize = function (input) {
        $.each(charMap, function (unnormalizedChar, normalizedChar) {
            var regex = new RegExp(unnormalizedChar, 'gi');
            input = input.replace(regex, normalizedChar);
        });
        return input;
    };

    var queryTokenizer = function (q) {
        var normalized = normalize(q);
        return Bloodhound.tokenizers.whitespace(normalized);
    };

    var keywords = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('normalized'),
        queryTokenizer: queryTokenizer,
        prefetch: {
            url: '/api/v1/keywords',
            filter: function(array) {
                return $.map(array, function (el) {
                    // Normalize the name - use this for searching
                    el.normalized = normalize(el.tag);
                    return el;
                });
            }
        }
    });

    // kicks off the loading/processing of `local` and `prefetch`
    keywords.initialize();

    var algoliaTtAdapter = window.algolia.usersIndex.ttAdapter({hitsPerPage: 5, attributesToSnippet: 'first_name:20,job_title:20,questions:15'});

    var find_good_question = function (el) {
        var question = _.find(el._snippetResult.questions, function(q){ return q.answer.matchLevel == 'full' });
        if(question){
            return '"... ' + question.answer.value + ' ..."';
        } else {
            return '';
        }
    };

    var suggestionPresentation = function(el) {
        return "<div>" + el._snippetResult.first_name.value + " - " + el._snippetResult.job_title.value + "</br>" + find_good_question(el) + "</div>";
    };

    document.addEventListener('page:change', function() {
        var $mobileSearch = $('.mobile-search .version2');

        var mobileSearchActive = false;

        $('a.searchButton').on('click', function(event) {
            event.preventDefault();
            if (!mobileSearchActive) {
                $mobileSearch.show('fast');
                $('input', $mobileSearch).focus();
                mobileSearchActive = true;
            } else {
                $mobileSearch.hide('fast');
                mobileSearchActive = false;
            }
        });

        var $search = $('.search-box');
        $search.typeahead({minLength: 2, hint : false},{
            name: 'job_title',
            limit: 200,
            display: function(el) { return el.first_name + " - " + el.job_title;  },
            source: algoliaTtAdapter,
            templates: {
                header: '<h5 style="margin-left: 10px; font-weight: bold; color: #7a7a7a;">Métier</h5>',
                suggestion: suggestionPresentation
            }
        },{
            name: 'keyword',
            display: function(el) { return el.tag + " (" + el.popularity + ")"; },
            source: keywords.ttAdapter(),
            templates: {
                header: '<h5 style="margin-left: 10px; font-weight: bold; color: #7a7a7a;">Mot-Clé</h5>'
            }
        });

        $search.on('typeahead:select', function (ev, suggestion) {
            if (suggestion.tag) {
                window.location = '/tag/' + suggestion.tag;
            } else {
                window.location = '/portraits/' + suggestion.objectID;
            }
        });

        if(!Modernizr.touch) {
            $search.focus();
        }

    });

})();