.actions2 {
  min-height: 150px;
  border: solid 1px #f3efe9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  > * {
    width: 32%;
  }

  .middle {
    border-right: solid 1px #f3efe9;
    border-left: solid 1px #f3efe9;

    .crazy-btn {
      @media(max-width: $max_phone_size){
        font-size: 14px;
      }
      display: block;
    }
  }

  a:hover { text-decoration: underline; }
}
