#my-books {
  background-color: #f6f6f6;
  padding: 30px 10px;

  ul {
    li {
      max-width: 600px;
      display: block;
      margin: 30px auto 0;
    }
  }
  .description {
    max-width: 450px;
  }

  a {
    margin-top: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    img {
      transform: rotate(-10deg);
      margin-right: 50px;
      transition: all 0.3s ease 0s;
    }
    .book-title {
      font-size: 22px;
      font-weight: 600;
      font-weight: bold;
    }
    .author {
      span { font-weight: 600; }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
