@import 'reset';

$main_margin: 15px;

$text_color: #3e3e3e;
$orange: #ee933f;
$light_orange: #fdf4e4;
$sky_blue: #e8f7ff;
$darker_sky_blue: #c1e0f2;
$grass_green: #5eb467;
$light_green: rgba(93, 180, 103, 0.26);
$indigo : #64c0c2;
$light_indigo : rgba(99, 191, 194, 0.3);

$max_phone_size: 480px;

@import 'responsive';

@import 'main';

@import 'new_header';
@import 'new_footer';

@import 'new_home';
@import 'new_home-sprite';

@import 'program';
@import 'program/sprite';

@import 'bred';
@import 'bred-sprite';

@import 'press';
@import 'press-sprite';

@import 'concept';
@import 'concept-sprite';

@import 'bloomifesto';

@import 'payment2';
@import 'payment2-sprite';

@import 'whoarewe';

@import 'jobs';
@import 'jobs-sprite';

@import 'enrollment';

@import 'card';

@import 'backgrounds';

@import 'tribes-show';

@import 'portraits2';
@import 'portrait-sprite';


@import 'tag';
