@import "bootstrap-sprockets";
@import "./bootstrap";

@import "header";
@import "footer";

@import "portraits";
@import "static";

body {
  padding-top: 70px;
  background-color: white;
}

/* Breadcrumb */
ol.breadcrumb {
  margin-top: 10px;
  font-size: 1.125em;
  background: transparent;
  > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
  }
}

.subheader {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  .intro-wrapper {
    background-color: #f5f5f5;
    .intro {
      color: #a6a6a6;
      padding: 15px 0px;
      font-size: 1.25em;
      text-align: center;
      em {
        color: #7a7a7a;
        font-style: normal;
        font-weight: bold;
      }
      a {
        font-weight: bold;
      }
    }
  }

  .browse-wrapper {
    background-color: #FFFFFF;
    .browse {
      ul.popular-tags {
        float: right;
        margin-top: 10px;
        li {
          display: inline-block;
          padding: 4px 6px;
          &:before {
            content: "#";
            color:#FF6622;
          }
          a {
            color: #a6a6a6;
          }
        }
      }
    }
  }
}

.catchup{
  font-size: 1.125em;
  text-align: center;
  font-weight: bold;
  a {
    font-size: 1.125em;
  }
}