@import "bootstrap-sprockets";
@import "./bootstrap";

@import "header";
@import "footer";

@import "portraits";

body {
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: white;
}

/* Breadcrumb */
ol.breadcrumb {
  margin-top: 10px;
  font-size: 1.125em;
  background: transparent;
  > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
  }
}