@import "bootstrap-sprockets";
@import "./bootstrap";

@import "header";
@import "footer";

@import "portraits";
@import "static";

body {
  padding-top: 70px;
  background-color: white;
}

/* Breadcrumb */
ol.breadcrumb {
  margin-top: 10px;
  font-size: 1.125em;
  background: transparent;
  > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
  }
}

.catchup{
  font-size: 1.125em;
  text-align: center;
  font-weight: bold;
  a {
    font-size: 1.125em;
  }
}