#bloomifesto {
  .intro {
    background: image-url('header/header-bg.png');
    color: #FFF;
    min-height: 300px;
    max-width: none;
    margin: 0;
    padding-top: 150px;
    text-align: center;

    > * {
      max-width: 1024px;
      margin: 0 auto;
    }

    .list-wrapper > * { max-width: inherit; }

    h1 {
      font-family: Satisfy;
      font-size: 44px;
      line-height: 0.8;
      letter-spacing: 1.4px;
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      margin: auto;

      // change !
      max-width: 600px;

      @media (max-width: 699px) { 
        flex-basis: 100%;
        order: -1;
      }
    }

    a {
      font-family: Satisfy;
      font-size: 18px;

      span { border-bottom: 1px solid #FFF; }
    }
  }

  .spacer {
    width: 50px;
    height: 2px;
    background-color: $orange;
    margin: 0 auto;
  }

  section {
    max-width: 620px;
    margin: 50px auto;
    padding: 0 10px;
  }

  .today {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.8px;
    margin-bottom: 25px;
  }

  .title { text-align: center; }

  .points { 
    margin-top: 15px;
    margin-left: 60px;
    list-style: initial;
  }
}
