#templates {
  padding-left: 30px;
}

.crazy-btn {
  font-weight: bold;
  background-color: #ef892c;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  position: relative;
  font-size: 18px;
  transition: all 0.3s ease 0s;
  top: 0px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  &:after {
    content: "";
    height: 10px;
    width: 80%;
    background-color: #b8e5ff;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto auto;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    top: 5px;
    background-color: darken(#ef892c, 10%);
    text-decoration: none;
    color: white;
    &:after {
      bottom: -5px;
      height: 5px;
    }
  }
  &.yellow {
    background-color: #f0ad30;
    &:hover {
      background-color: darken(#f0ad30, 10%);
    }
  }
}

.full-blue {
  background-color: $blue; //TODO remove blue from home.css
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  .center {
    background-color: white;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    color: #3e3e3e;
    box-shadow: 0px 0px 15px 0px darken($blue, 10%);
    position: relative;
    h1 {
      font-family: "Satisfy",cursive;
      font-size: 36px;
      color: #f0ad30;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
    input[type='text'], input[type='email'], input[type='password'], input[type='submit'] {
      border: 2px #e6f6ff;
      font-size: 18px;
      padding: 10px;
      margin: 10px auto;
      font-style: italic;
      z-index: 1;
      position: relative;
      width: 350px;
      border-radius: 5px;
      display: block;
      &.blue {
        background-color: $blue;
      }
      &.crazy-btn {
        width: 250px;
        font-style: normal;
      }
    }
    .shadow {
      height: 10px;
      width: 80%;
      background-color: #b8e5ff;
      border-radius: 0 0 5px 5px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      margin: auto auto;
    }
    a.close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: darken($blue, 10%);
      font-weight: bold;
      font-size: 24px;
    }
    a.link-center {
      display: block;
      margin: 10px auto;
      color: #3e3e3e;
      cursor: pointer;
      margin: 10px auto 10px;
    }
    a.blue-under {
        border-bottom: 3px solid $blue;
        margin-bottom: 20px;
        padding-bottom: 17px;
    }
    .oeil {
      display: inline-block;
      border: 2px solid #f0ad30;
      border-radius: 5px;
      padding: 10px;
      margin: auto auto 0;
    }
  }
}
