.concept-communaute { width: 161px; height: 132px; background: image-url('concept/sprite.png') 0px -7px no-repeat; }
.concept-icon-aider { width: 121px; height: 147px; background: image-url('concept/sprite.png') -161px 0px no-repeat; }
.concept-icon-federer { width: 121px; height: 103px; background: image-url('concept/sprite.png') -282px -22px no-repeat; }
.concept-icon-positif { width: 121px; height: 111px; background: image-url('concept/sprite.png') -403px -18px no-repeat; }
.concept-parcours { width: 144px; height: 124px; background: image-url('concept/sprite.png') -524px -11px no-repeat; }
.concept-projet { width: 175px; height: 117px; background: image-url('concept/sprite.png') -668px -15px no-repeat; }
