#enrollment {
  .sprite {
      background-image: image-url('login/sprite.png');
      background-repeat: no-repeat;
      display: block;
  }

  .dev-card {
      width: 180px;
      height: 216px;
      background-position: -5px -5px;
  }

  .parole-card {
      width: 180px;
      height: 217px;
      background-position: -195px -5px;
  }

  .radis-card {
      width: 180px;
      height: 217px;
      background-position: -5px -232px;
  }
  .center {
    a.galerie {
      display: block;
      cursor: pointer;
      color: #3e3e3e;
      @media (max-width: 767px) {
        ul {
          display: none;
        }
      }
      ul {
        padding-top: 20px;
        margin-bottom: 30px;
      }
      ul>li {
        display: inline-block;
        transition: transform 0.5s ease 0s;
        &:nth-child(1){
        transform: translate(15px) rotate(2deg);
        }
        &:nth-child(2){
        transform: translate(0px) rotate(-10deg);
        }
        &:nth-child(3){
        transform: translate(-20px) rotate(2deg);
        }
      }
      &:hover {
        text-decoration: none;
        .oeil {
          text-decoration: underline;
        }
        ul>li {
          &:nth-child(1){
          transform: translate(0px) rotate(-3deg);
          }
          &:nth-child(2){
          transform: translate(-2px) rotate(-15deg);
          }
          &:nth-child(3){
          transform: translate(-10px) rotate(7deg);
          }
        }
      }
    }
  }
}
