#footer {
  /*
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  */

  @media(min-width: 768px) {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  background-color: #dadddd;
  text-align: center;
  color: #666;
  padding-top: 20px;
  padding-bottom: 10px;
}