 footer {
   background: #f0ad30 asset-data-url('footer/footer.png');
   color: white;
   padding: 30px 40px 50px;
   .wrapper {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
   }
   section {
     margin-top: 20px;
     width: 140px;
     &:first-child {
       width: 200px;
     }
   }

   .top { 
     font-size: 16px; 
     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-weight: 300; 
   }

   p,a { font-size: 12px; }

   .copyright { text-align: center; }

   .wrapper2 {
     align-items: center;
   }

   .spacer {
     flex-grow: 1;
     background-color: white;
     height: 1px;
   }

   .bloomr {
     background: asset-data-url('footer/bloomr.png'); 
     width: 74px;
     height: 41px;
     margin: 20px;
   }
 }
