#header {
  padding-top: 10px;
  background-color: white;
  border-bottom: 1px solid #DDD;

  button.navbar-toggle {
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-right: 0;
    span.icon-bar {
      background-color: #ff6622;
    }
  }

  a.navbar-brand {
    background: image-url("sprite-desktop.png") left 0px top 6px no-repeat;
    width: 70px;
    height: 50px;
    margin-left: 10px;
  }

  .navbar-collapse {
    background-color: #FA6B03;
    text-align: center;
    ul.nav li {
      a {
        color: white;

        .icon-twitter-white{
          vertical-align: middle;
        }

        .icon-facebook-white {
          vertical-align: middle;
          position: relative;
          top: -4px;
        }

        &:hover {
          background-color: white;
          opacity: 0.8;
          color: #ff6622;
          .icon-facebook-white {
            background-color: $orange;
          }
          .icon-twitter-white {
            background-color: $orange;
          }
        }
      }

      &.social {
        font-style: italic;
        span {
          margin-right: 10px;
        }
      }

    }
  }

  .navbar-collapse.in {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  }


  .navbar-nav.search-and-idea {
    margin: 0 15px 0 auto;

    li {
      display: inline-block;
      a {
        color:#A6A6A6;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
        &.active {
          color: $orange;
          text-decoration: underline;
        }

        &.searchButton {
          padding-left: 40px;
          .icon-search {
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }

        &.blog {
          padding-left: 60px;
          .icon-blog {
            position: absolute;
            left: 10px;
            top: 8px;
          }
        }

        &.btn-primary {
          color: white;
          font-weight: bold;
          padding-right: 15px;
          padding-left: 15px;
          margin-left: 15px;
          box-shadow: 0px 1px 3px 0px #656565;
          &:hover {
            background-color: white;
            color: #ff6622;
            box-shadow: none;
          }
        }
      }

      @media (min-width: $screen-md-min) {
        &.search-wrapper {
          border-left: 1px solid #aeaeae;
          a {
            margin-left: 10px;
          }
        }
      }

      @media (min-width: $screen-sm-min) {
        &.twitter-wrapper {
          border-left: 1px solid #aeaeae;
          a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}