#header {
  height: 70px;
  padding-top: 10px;
  background-color: white;
  border-bottom: 1px solid #DDD;

  button.navbar-toggle {
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-right: 0;
    span.icon-bar {
      background-color: #ff6622;
    }
  }

  a.navbar-brand {
    background-image: image_url("logo-97.png");
    width: 97px;
    height: 57px;
    margin-left: 10px;
  }

  .boiteAIdee {
    background: image-url("icons/icon-boiteidee-complet.png") no-repeat;
    display: inline-block;
    height: 22px;
    width: 17px;
    cursor: pointer;
  }

  .twitter {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: image-url("icons/twitter.png") no-repeat;
    vertical-align: middle;
  }
  .facebook {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: image-url("icons/facebook.png") no-repeat;
    vertical-align: middle;
    position: relative;
    top: -4px;
  }

  ul.nav {
    li {
      a {
        font-size: 16px;
      }
      &.social {
        font-style: italic;
        span {
          margin-right: 10px;
        }
      }
    }
  }


  .navbar-collapse {
    background-color: #FA6B03;
    text-align: center;
    ul.nav li a {
      color: white;
      &:hover {
        background-color: white;
        opacity: 0.8;
        color: #ff6622;
        .facebook {
          background: image-url("icons/facebook-orange.png") no-repeat;
        }
        .twitter {
          background: image-url("icons/twitter-orange.png") no-repeat;
        }
      }
    }
  }

  .navbar-collapse.in {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
    margin-top: 3px;
  }


  .navbar-nav.search-and-idea {
    margin-right: 15px;
    margin-top: 0px;
    > li {
      display: inline-block;
      > a.searchButton {
        color: $slightly_light_orange !important;
      }
      > a.btn-primary {
        margin-left: 15px;
      }
    }
  }

  a.btn-primary {
    color: white;
    font-weight: bold;
    padding-right: 15px;
    margin-right: 0px;
    padding-left: 15px;
    margin-left: 0px;
    box-shadow: 0px 1px 3px 0px #656565;
    &:hover {
      background-color: white;
      color: #ff6622;
      box-shadow: none;
    }
  }
}