#header {
  padding-top: 10px;
  background-color: #ee933f;
  border-bottom: 1px solid #DDD;
  font-size: 14px;

  button.navbar-toggle {
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-right: 0;
    span.icon-bar {
      background-color: #ee933f;
    }
  }

  a.navbar-brand {
    background: image-url('header/logo.png');
    width: 74px;
    height: 41px;
    margin-left: 10px;
  }

  .navbar-collapse {
    background-color: #ee933f;
    text-align: center;
    ul.nav li {
      a {
        color: white;
        .icon-twitter-white{
          vertical-align: middle;
        }
        .icon-facebook-white {
          vertical-align: middle;
          position: relative;
          top: -4px;
        }
        &:hover {
          color: #ee933f;
          background-color: white;
          opacity: 0.8;
          .icon-facebook-white {
            background-color: $orange;
          }
          .icon-twitter-white {
            background-color: $orange;
          }
        }
      }

      &.social {
        font-style: italic;
        span {
          margin-right: 10px;
        }
      }

    }
  }

  .navbar-collapse.in {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  }

  .navbar-nav.search-and-idea {
    margin: 0 15px 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    li {
      display: inline-block;
      a {
        color: white;
        letter-spacing: 0.4px;
        &.active {
          text-decoration: underline;
        }
        &:hover{
          background-color: #ee933f;
        }

        &.searchButton { }

        &.framed {
          padding-right: 15px;
          padding-left: 15px;
          border-radius: 7px;
          border: solid 1px #ffffff;
          &:hover {
            background-color: white;
            color: #ff6622;
          }
        }
      }

      @media (min-width: $screen-md-min) {
        &.search-wrapper { }
      }

      @media (min-width: $screen-sm-min) {
        &.twitter-wrapper {
          border-left: 1px solid rgba(174, 174, 174, 0.5);
          a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
