.home-blog { width: 41px; height: 47px; background: image-url('home/sprite.png') 0px -43px no-repeat; }
.home-boussole { width: 109px; height: 98px; background: image-url('home/sprite.png') -41px -18px no-repeat; }
.home-fill-1 { width: 96px; height: 41px; background: image-url('home/sprite.png') -150px -46px no-repeat; }
.home-fusee { width: 222px; height: 134px; background: image-url('home/sprite.png') -246px 0px no-repeat; }
.home-lci { width: 159px; height: 104px; background: image-url('home/sprite.png') -468px -15px no-repeat; }
.home-mains { width: 109px; height: 93px; background: image-url('home/sprite.png') -627px -20px no-repeat; }
.home-mondecampus { width: 158px; height: 104px; background: image-url('home/sprite.png') -736px -15px no-repeat; }
.home-mouv { width: 159px; height: 77px; background: image-url('home/sprite.png') -894px -28px no-repeat; }
.home-separation { width: 9px; height: 77px; background: image-url('home/sprite.png') -1053px -28px no-repeat; }
.home-socialter { width: 160px; height: 43px; background: image-url('home/sprite.png') -1062px -45px no-repeat; }
.home-up { width: 157px; height: 103px; background: image-url('home/sprite.png') -1222px -15px no-repeat; }
