#home {

  .header {
    border-top: 4px solid #f29f1c;
    padding-top: 30px;
    padding-bottom: 20px;
  
    .logo {
      font-family: Satisfy;
      font-size: 36px;  
    }

    h1 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #3e3e3e;
    }

    p {
      padding-top: 10px;
      font-family: OpenSans;
      font-size: 16px;
      text-align: center;
      line-height: 1.22;
      color: #3e3e3e;   
    }

  }

  .footer {
    p {
      padding-top: 10px;
      font-family: OpenSans;
      font-size: 14px;
      text-align: center;
      line-height: 1.22;
      color: #3e3e3e;         
    }

    a {
      text-decoration: underline;
    }

  }

  .biface {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .box {
      width: 100%;
      height: 431px;
      margin-bottom : 10px;
      margin-left : 30px;
      margin-right : 30px;
      margin-top : 10px;      
      } 
    
    .who {
      margin-left: 35px;
      margin-top: 20px;
      font-family: OpenSans;
      font-size: 16px;
      font-style: italic;
      line-height: 1.22;
      color: #3e3e3e;
      }
    }

    .b2b {
      background: image-url('home/b2b.png') no-repeat;
      background-size: 100%;
    }

    .b2c {
      background: image-url('home/b2c.png') no-repeat;
      background-size: 95%;
    }

    div.punchline {
      width: 92%;
      height: 536px;
      padding-top: 246px;
      padding-left: 38px;
    }

    .punchline-b2c {
      background: content-box image-url('home/orange.png') no-repeat;
      background-size: 100%;
    }

    .punchline-b2b {
      background: content-box image-url('home/green.png') no-repeat;
      background-size: 100%;
    }


    .punchline {
      text-align: center;

      h2 {
        padding-top: 20px;
        font-family: Satisfy;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.35;
        text-align: center;
        letter-spacing: -0.83px;
        color: #ffffff;

        @media(max-width: $max_phone_size) {
          font-size: 24px;
        }

        @media(min-width: $max_phone_size + 1) {
          font-size: 36px;
        }
      }

      p {
        font-family: OpenSans;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #ffffff;

        @media(max-width: $max_phone_size) {
          font-size: 14px;
        }

        @media(min-width: $max_phone_size + 1) {
          font-size: 18px;
        }


      } 
    } 
}