$blue: #E8F7FF;
$font-color: #3E3E3E;

.sprite {
  background-image: image-url('home/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow-bottom {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.sprite-arrow-transition {
    width: 50px;
    height: 50px;
    background-position: -65px -5px;
}

.sprite-bg-icon {
    width: 120px;
    height: 129px;
    background-position: -125px -5px;
}

.sprite-blue-cloud-1 {
    width: 185px;
    height: 85px;
    background-position: -255px -5px;
}

.sprite-blue-cloud-2 {
    width: 60px;
    height: 40px;
    background-position: -450px -5px;
}

.sprite-blue-cloud-3 {
    width: 85px;
    height: 52px;
    background-position: -520px -5px;
}

.sprite-blue-cloud-left {
    width: 334px;
    height: 635px;
    background-position: -615px -5px;
}

.sprite-blue-cloud-right {
    width: 583px;
    height: 1028px;
    background-position: -959px -5px;
}

.sprite-boyandgirl {
    width: 184px;
    height: 142px;
    background-position: -1552px -5px;
}

.sprite-connexion-arrow {
    width: 9px;
    height: 7px;
    background-position: -1746px -5px;
}

.sprite-connexion-arrow-white {
    width: 9px;
    height: 7px;
    background-position: -1765px -5px;
}

.sprite-ditesmenplus-arrow {
    width: 14px;
    height: 8px;
    background-position: -1784px -5px;
}

.sprite-icon-blog {
    width: 58px;
    height: 62px;
    background-position: -1808px -5px;
}

.sprite-icon-bloomer {
    width: 49px;
    height: 44px;
    background-position: -1876px -5px;
}

.sprite-icon-cestquoibloomr {
    width: 127px;
    height: 71px;
    background-position: -450px -77px;
}

.sprite-icon-inspire {
    width: 75px;
    height: 48px;
    background-position: -5px -77px;
}

.sprite-icon-journey {
    width: 92px;
    height: 72px;
    background-position: -1746px -77px;
}

.sprite-icon-menu-white-inspire {
    width: 61px;
    height: 38px;
    background-position: -1876px -59px;
}

.sprite-icon-menu-white-journey {
    width: 66px;
    height: 53px;
    background-position: -255px -107px;
}

.sprite-icon-question {
    width: 32px;
    height: 65px;
    background-position: -331px -107px;
}

.sprite-logo-bloomr {
    width: 116px;
    height: 63px;
    background-position: -5px -159px;
}

.sprite-logo-bloomr-white {
    width: 98px;
    height: 53px;
    background-position: -131px -159px;
}

.sprite-logo-blr-white {
    width: 82px;
    height: 63px;
    background-position: -1848px -107px;
}

.sprite-white-cloud-left {
    width: 583px;
    height: 1028px;
    background-position: -5px -1043px;
}

.sprite-white-cloud-right {
    width: 334px;
    height: 635px;
    background-position: -1552px -180px;
}

@keyframes right_left {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 0px;
  }
}

@keyframes left_right {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    right: 0px;
  }
}


@keyframes oscillation {
  50% { transform: rotate(10deg); }
}

@keyframes turn {
  from {
    transform: rotate(45deg);
    opacity: 0;
    top: -20px;
    left: 40%;
  }
  50% {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-45deg);
    opacity: 0;
    top: -60px;
    left: 60%;
  }
}

@keyframes explosion {
  from {
    transform: scale(0.7);
  }
  30% { opacity: 0; }
  80% { transform: scale(1); }
  to {
    opacity: 1;
  }
}

.explosion {
  animation-duration: 4s;
  animation-name: explosion;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  opacity: 0;
}

#home {
  color: $font-color;
  .go-down {
    @media (max-width: 767px) {
      display: none;
    }
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    #transition {
      height: 90px;
      text-align: center;
      font-size: 30px;
      color: #f09335;
      font-family: "Satisfy",cursive;
      position: relative;
      cursor: pointer;
      transition: opacity 0.5s ease 0s;
      span {
        display: block;
        &:before {
        content: "";
        height: 2px;
        width: 100px;
        background-color: #b8e5ff;
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        margin: auto auto;
        }
      }
      i {
        margin: 5px auto 0;
        transition: margin 0.5s ease 0s;
      }
      &:hover {
        i {
          margin-top: 10px;
        }
      }
    }
  }
  .center {
    padding: 0 10px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    @media (min-width: 768px) {
      bottom: 70px;
    }
  }
  .section.first {
    position: relative;
    background-color: $blue;
    #header2 {
      position: absolute;
      background-color: #FFF;
      width: 100%;
      z-index: 10;
      h1 {
        margin: 10px 5px;
        @media (min-width: 768px) {
          margin: 10px auto;
        }
        text-indent: -3333px;
      }
      #login {
        position: absolute;
        top: 30px;
        right: 0px;
        @media (min-width: 768px) {
          right: 60px;
        }
        font-weight: bold;
        font-size: 18px;
        color: #3e3e3e;
        cursor: pointer;
        span {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .center-block {
      position: relative;
      height: 100%;
      .cloud-left {
        @media (max-width: 767px) {
          display: none;
        }
        position: absolute;
        top: -110px;
        left: -200px;
      }
      .cloud-right {
        @media (max-width: 767px) {
          display: none;
        }
        position: absolute;
        right: 0;
        top: -100px;
      }
      #lost-in-orientation {
        cursor: pointer;
        height: 240px;
        top: 90px;
        .people {
          margin:0 auto;
          display:block;
          position: relative;
          .question {
            @media(max-width: 767px) {
              visibility: hidden;
            }
            position: relative;
            top: -25px;
            margin: 0 auto;
            &.q2 {
              top: -80px;
              left: 30px;
              position: absolute;
              animation-delay: 2s;
            }
            &.q3 {
              top: 0px;
              left: -55px;
              position: absolute;
              animation-delay: 700ms;
            }
            &.q5 {
              top: -75px;
              right: 30px;
              position: absolute;
              animation-delay: 2500ms;
            }
          }
          .q4 {
            top: 10px;
            right: -50px;
            position: absolute;
            transform: rotate(20deg);
            .question {
              animation-delay: 1s;
            }
          }
        }
        h2 {
          font-family: "Satisfy",cursive;
          @media (min-width: 768px) {
            font-size: 60px;
          }
          font-size: 40px;
          font-style: normal;
        }
        .cloud1 {
          position: absolute;
          top: 0px;
          left: 350px;
          z-index: 1;
          animation-duration: 40s;
          animation-name: right_left;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        .cloud2 {
          position: absolute;
          top: 80px;
          left: 285px;
          animation-duration: 20s;
          animation-name: right_left;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        .cloud3 {
          position: absolute;
          right: 40%;
          top: 10px;
          animation-duration: 20s;
          animation-name: left_right;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
  }
  .actions {
    overflow: hidden;
    background-color: $blue;
    text-align: center;
    position: relative;
    .center-for-small {
      height: 580px;
      position: absolute;
      top: 0px;
      bottom: 70px;
      margin: auto;
      left: 0px;
      right: 0px;
      @media (max-width: 767px) {
        height: 480px;
        bottom: 0;
      }
    }
    h3 {
      font-size: 18px;
      margin-top: 5px;
      @media (min-width: 768px) {
        font-size: 34px;
        margin-top: 20px;
        span {
          font-size: 20px;
        }
      }
    }
    .action {
      padding-top: 10px;
      @media (min-width: 768px) {
        width: 33.33%;
        float: left;
        position: relative;
        top: 10px;
      }
      text-align: center;
      .bg-action {
        display: inline-block;
      }
      .illustration {
        @media (max-width: 767px) {
          display: none;
        }
        position: relative;
        width: 160px;
        margin: 0 auto 10px;
        .journey-action {
          position: absolute;
          left: 36px;
          top: 25px;
        }
        .inspire-action {
          position: absolute;
          left: 44px;
          top: 34px;
        }
        .blog-action {
          position: absolute;
          left: 50px;
          top: 25px;
        }
      }
      h4 {
        font-weight: semi-bold;
        @media (min-width: 768px) {
          font-size: 20px;
          margin-bottom: 35px;
        }
      }
      btn {
        @media (min-width: 768px) {
          margin-top: 20px;
        }
        margin-bottom: 20px;
        background-color: #E47800;
      }
    }
  }

  .section.i-love-my-job {
    .center {
      height: 230px;
      @media (min-width: 768px) {
        height: 320px;
      }
    }
    position: relative;
    text-align: center;
    overflow:hidden;
    .flower1 {
      position: absolute;
      animation-duration: 20s;
      animation-name: turn;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      z-index: 1;
    }
    .blue-cloud-left {
      @media (max-width: 767px) {
        display: none;
      }
      position: absolute;
      left: 0;
      top: 100px;
      z-index: -1;
    }
    .blue-cloud-right {
      @media (max-width: 767px) {
        display: none;
      }
      position: absolute;
      right: -300px;
      top: 100px;
      z-index: -1;
    }
    h4 {
      // margin-top: 80px;
      font-size: 24px;
      @media (min-width: 768px) {
        font-size: 46px;
      }
      font-family: "Satisfy",cursive;
    }
    .subtitle {
      margin-top: 20px;
      margin-bottom: 40px;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    .btn {
      font-size: 30px;
      margin-top: 10px;
    }
  }
  .section.what-is-it {
    .center {
      height: 440px;
    }
    position: relative;
    text-align: center;
    .cestquoi {
      @media (max-width: 767px) {
        display:none;
      }
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    h5 {
      font-size: 30px;
      @media (min-width: 768px) {
        font-size: 50px;
      }
      color: #f0ad30;
      font-family: "Satisfy",cursive;
    }
      p.subtitle {
        font-size: 26px;
    @media (max-width: 767px) {
        font-size: 18px;
      }
    }
    p,a {
      font-size: 15px;
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p.bloomifesto.last {
      @media (max-width: 767px) {
        display: none;
      }
    }
    a {
      margin: 20px 0 100px;
      display: inline-block;
      color: #3e3e3e;
      text-decoration: underline;
      span {
        margin-left: 10px;
      }
    }
  }
  .links {
    .center {
      height: 360px;
      @media (min-width: 768px) {
        height: 200px;
      }
      bottom: 120px;
    }
    position: relative;
    background-color: #FCF1DB;
    overflow: hidden;
    .column {
      text-align: left;
      padding-left: 5px;
      padding-right: 5px;
      @media (min-width: 768px) {
        width: 33.33%;
        float: left;
        padding-left: 40px;
      }
      ul {
        list-style: none;
        padding: 0;
        a {
          color: $font-color;
        }
        @media (max-width: 767px) {
          li {
            margin-right: 15px;
            margin-bottom: 15px;
            float: left;
          }
        }
      }
      h3 {
        clear: both;
        @media (min-width: 768px) {
          font-size: 22px;
        }
        font-family: Satisfy;
      }
    }
    .footer {
      text-align: center;
      background-color: #F0AD30;
      clear: both;
      position: absolute;
      bottom: 0px;
      width: 100%;
      i {
        margin: 20px auto;
      }
      p {
        margin-top: 20px;
        font-size: 14px;
        color: #FFF;
      }
      .lift {
        @media (max-width: 767px) {
          display: none;
        }
        position: absolute;
        right: 0;
        width: 300px;
        top: 15px;
        font-size: 22px;
        color: white;
        i {
          top: 0;
          vertical-align: middle;
          display: inline-block;
          position: relative;
          transition: top 0.5s ease 0s;
        }
        &:hover {
          cursor: pointer;
          i {
            top: -10px;
          }
        }
      }
    }
  }
}
