$blue: #E8F7FF;

.sprite {
  background-image: image-url('home/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-bg-icon {
  width: 120px;
  height: 129px;
  background-position: -5px -5px;
}

.sprite-blue-cloud-1 {
  width: 185px;
  height: 85px;
  background-position: -135px -5px;
}

.sprite-blue-cloud-2 {
  width: 60px;
  height: 40px;
  background-position: -330px -5px;
}

.sprite-blue-cloud-3 {
  width: 85px;
  height: 52px;
  background-position: -400px -5px;
}

.sprite-blue-cloud-left {
  width: 334px;
  height: 635px;
  background-position: -495px -5px;
}

.sprite-blue-cloud-right {
  width: 583px;
  height: 1028px;
  background-position: -839px -5px;
}

.sprite-boyandgirl {
  width: 184px;
  height: 142px;
  background-position: -1432px -5px;
}

.sprite-connexion-arrow {
  width: 9px;
  height: 7px;
  background-position: -1626px -5px;
}

.sprite-connexion-arrow-white {
  width: 9px;
  height: 7px;
  background-position: -1645px -5px;
}

.sprite-ditesmenplus-arrow {
  width: 14px;
  height: 8px;
  background-position: -1664px -5px;
}

.sprite-icon-blog {
  width: 58px;
  height: 62px;
  background-position: -1688px -5px;
}

.sprite-icon-bloomer {
  width: 49px;
  height: 44px;
  background-position: -1756px -5px;
}

.sprite-icon-cestquoibloomr {
  width: 127px;
  height: 71px;
  background-position: -1756px -59px;
}

.sprite-icon-inspire {
  width: 75px;
  height: 48px;
  background-position: -135px -140px;
}

.sprite-icon-journey {
  width: 92px;
  height: 72px;
  background-position: -220px -140px;
}

.sprite-icon-menu-white-inspire {
  width: 61px;
  height: 38px;
  background-position: -1815px -5px;
}

.sprite-icon-menu-white-journey {
  width: 66px;
  height: 53px;
  background-position: -322px -140px;
}

.sprite-icon-question {
  width: 32px;
  height: 65px;
  background-position: -1893px -5px;
}

.sprite-logo-bloomr {
  width: 116px;
  height: 63px;
  background-position: -1626px -140px;
}

.sprite-logo-bloomr-white {
  width: 98px;
  height: 53px;
  background-position: -1752px -140px;
}

.sprite-logo-blr-white {
  width: 82px;
  height: 63px;
  background-position: -398px -140px;
}

.sprite-white-cloud-left {
  width: 583px;
  height: 1028px;
  background-position: -5px -1043px;
}

.sprite-white-cloud-right {
  width: 334px;
  height: 635px;
  background-position: -1432px -213px;
}

@keyframes right_left {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 0px;
  }
}

@keyframes left_right {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    right: 0px;
  }
}


@keyframes oscillation {
  50% { transform: rotate(10deg); }
}

@keyframes turn {
  from {
    transform: rotate(45deg);
    opacity: 0;
    top: 60px;
    left: 40%;
  }
  50% {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-45deg);
    opacity: 0;
    top: 20px;
    left: 60%;
  }
}


#homepage {
  .go-down {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
    .glyphicon-chevron-down {
      font-size: 60px;
      cursor: pointer;
    }
  }
  .section.first {
    position: relative;
    background-color: $blue;
    #header2 {
      position: absolute;
      background-color: #FFF;
      width: 100%;
      z-index: 10;
      h1 {
        margin: 10px 5px;
        @media (min-width: 768px) {
          margin: 10px auto;
        }
        text-indent: -3333px;
      }
      #login {
        position: absolute;
        top: 30px;
        right: 0px;
        @media (min-width: 768px) {
          right: 60px;
        }
        font-weight: bold;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        span {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .center-block {
      position: relative;
      height: 100%;
      .cloud-left {
        @media (max-width: 767px) {
          display: none;
        }
        position: absolute;
        top: -110px;
        left: -200px;
      }
      .cloud-right {
        @media (max-width: 767px) {
          display: none;
        }
        position: absolute;
        right: 0;
        top: -100px;
      }
      #lost-in-orientation {
        position: absolute;
        height: 400px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        .question {
          position: relative;
          top: -25px;
          margin: 0 auto;
          animation-duration: 10s;
          animation-name: oscillation;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          transform: rotate(-5deg);
        }
        .people {
          margin:0 auto;
          display:block;
          position: relative;
        }
        h2 {
          font-family: "Satisfy",cursive;
          @media (min-width: 768px) {
            font-size: 60px;
          }
          font-size: 40px;
          font-style: normal;
        }
        .cloud1 {
          position: absolute;
          top: 0px;
          left: 350px;
          z-index: 1;
          animation-duration: 40s;
          animation-name: right_left;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        .cloud2 {
          position: absolute;
          top: 80px;
          left: 285px;
          animation-duration: 20s;
          animation-name: right_left;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        .cloud3 {
          position: absolute;
          right: 40%;
          top: 10px;
          animation-duration: 20s;
          animation-name: left_right;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
  }
  .actions {
    overflow: hidden;
    background-color: $blue;
    text-align: center;
    h3 {
      font-size: 18px;
      @media (min-width: 768px) {
        font-size: 34px;
        margin-top: 60px;
      }
    }
    .action {
      @media (min-width: 768px) {
        width: 33.33%;
        float: left;
        position: relative;
        top: 50px;
      }
      text-align: center;
      .illustration {
        @media (max-width: 767px) {
          display: none;
        }
        position: relative;
        width: 160px;
        height: 172px;
        margin: 0 auto;
        .journey-action {
          position: absolute;
          left: 36px;
          top: 25px;
        }
        .inspire-action {
          position: absolute;
          left: 44px;
          top: 34px;
        }
        .blog-action {
          position: absolute;
          left: 50px;
          top: 25px;
        }
      }
      h4 {
        font-weight: semi-bold;
        @media (min-width: 768px) {
          font-size: 26px;
        }
      }
      btn {
        @media (min-width: 768px) {
          margin-top: 20px;
        }
        margin-bottom: 20px;
        background-color: #E47800;
      }
    }
  }

  .section.i-love-my-job {
    position: relative;
    text-align: center;
    overflow:hidden;
    background-color: #EBEBEB;
    .flower1 {
      position: absolute;
      animation-duration: 20s;
      animation-name: turn;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      z-index: 1;
    }
    .blue-cloud-left {
      @media (max-width: 767px) {
        display: none;
      }
      position: absolute;
      left: 0;
      top: 100px;
    }
    .blue-cloud-right {
      @media (max-width: 767px) {
        display: none;
      }
      position: absolute;
      right: -300px;
      top: 100px;
    }
    h4 {
      font-size: 18px;
      @media (min-width: 768px) {
        font-size: 40px;
      }
      font-family: "Satisfy",cursive;
    }
    .subtitle {
      margin-top: 20px;
      @media (min-width: 768px) {
        font-size: 30px;
      }
    }
    .btn {
      font-size: 30px;
      margin-top: 10px;
    }
    .cestquoi {
      position: relative;
      top: 50px;
      margin: 0 auto;
    }
  }
  .section.what-is-it {
    text-align: center;
    h5 {
      @media (min-width: 768px) {
        font-size: 50px;
      }
      color: #f0ad30;
      font-family: "Satisfy",cursive;
    }
    @media (min-width: 768px) {
     p,a {
        font-size: 20px;
      }
    }
    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    a {
      margin: 20px 0 100px;
      display: inline-block;
      color: #3e3e3e;
      text-decoration: underline;
    }
  }
  .links {
    background-color: #FCF1DB;
    overflow: hidden;
    .column {
      padding-left: 5px;
      padding-right: 5px;
      @media (min-width: 768px) {
        width: 33.33%;
        float: left;
        padding: 20px 0 20px 40px;
      }
      ul {
        list-style: none;
        padding: 0;
        @media (max-width: 767px) {
          li {
            margin-right: 15px;
            margin-bottom: 15px;
            float: left;
          }
        }
      }
      h3 {
        clear: both;
        @media (min-width: 768px) {
          font-size: 26px;
        }
        font-family: Satisfy;
      }
    }
    .footer {
      text-align: center;
      background-color: #F0AD30;
      clear: both;
      position: absolute;
      bottom: 0px;
      width: 100%;
      p {
        margin-top: 20px;
        font-size: 14px;
        color: #FFF;
      }
    }
  }
}
