$blue: #E8F7FF;

.sprite {
  background-image: image-url('home/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-bg-icon {
  width: 160px;
  height: 172px;
  background-position: -5px -5px;
}

.sprite-blue-cloud-1 {
  width: 185px;
  height: 85px;
  background-position: -175px -5px;
}

.sprite-blue-cloud-2 {
  width: 60px;
  height: 40px;
  background-position: -370px -5px;
}

.sprite-blue-cloud-3 {
  width: 85px;
  height: 52px;
  background-position: -440px -5px;
}

.sprite-blue-cloud-left {
  width: 334px;
  height: 635px;
  background-position: -535px -5px;
}

.sprite-blue-cloud-right {
  width: 583px;
  height: 1028px;
  background-position: -879px -5px;
}

.sprite-boyandgirl {
  width: 184px;
  height: 142px;
  background-position: -1472px -5px;
}

.sprite-connexion-arrow {
  width: 12px;
  height: 9px;
  background-position: -1666px -5px;
}

.sprite-connexion-arrow-white {
  width: 12px;
  height: 9px;
  background-position: -1688px -5px;
}

.sprite-ditesmenplus-arrow {
  width: 19px;
  height: 10px;
  background-position: -1710px -5px;
}

.sprite-icon-blog {
  width: 62px;
  height: 60px;
  background-position: -1739px -5px;
}

.sprite-icon-bloomer {
  width: 65px;
  height: 58px;
  background-position: -1811px -5px;
}

.sprite-icon-cestquoibloomr {
  width: 127px;
  height: 71px;
  background-position: -370px -73px;
}

.sprite-icon-inspire {
  width: 100px;
  height: 64px;
  background-position: -1811px -73px;
}

.sprite-icon-journey {
  width: 122px;
  height: 96px;
  background-position: -175px -147px;
}

.sprite-icon-menu-white-inspire {
  width: 81px;
  height: 51px;
  background-position: -1666px -147px;
}

.sprite-icon-menu-white-journey {
  width: 88px;
  height: 70px;
  background-position: -1757px -147px;
}

.sprite-icon-question {
  width: 43px;
  height: 87px;
  background-position: -307px -147px;
}

.sprite-logo-bloomr {
  width: 154px;
  height: 84px;
  background-position: -5px -227px;
}

.sprite-logo-bloomr-white {
  width: 130px;
  height: 71px;
  background-position: -360px -227px;
}

.sprite-logo-blr-white {
  width: 109px;
  height: 84px;
  background-position: -1472px -227px;
}

.sprite-white-cloud-left {
  width: 583px;
  height: 1028px;
  background-position: -5px -1043px;
}

.sprite-white-cloud-right {
  width: 334px;
  height: 635px;
  background-position: -1591px -227px;
}

@keyframes right_left {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 0px;
  }
}

@keyframes left_right {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
    right: 0px;
  }
}


@keyframes oscillation {
  50% { transform: rotate(10deg); }
}

@keyframes turn {
  from {
    transform: rotate(45deg);
    opacity: 0;
    top: 60px;
    left: 40%;
  }
  50% {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-45deg);
    opacity: 0;
    top: 20px;
    left: 60%;
  }
}


#homepage {
  .section.first {
    position: relative;
    background-color: $blue;
    #header2 {
      position: absolute;
      background-color: #FFF;
      height: 100px;
      width: 100%;
      z-index: 10;
      h1 {
        margin: 0 auto;
        text-indent: -3333px;
      }
      #login {
        position: absolute;
        top: 30px;
        right: 60px;
        font-weight: bold;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        span {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .center-block {
      position: relative;
      height: 100%;
      .cloud-left {
        position: absolute;
        top: -110px;
        left: -200px;
      }
      .cloud-right {
        position: absolute;
        right: 0;
        top: -100px;
      }
      #lost-in-orientation {
        position: absolute;
        height: 400px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        .question {
          position: relative;
          top: -25px;
          margin: 0 auto;
          animation-duration: 10s;
          animation-name: oscillation;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          transform: rotate(-5deg);
        }
        .people {
          margin:0 auto;
          display:block;
          position: relative;
        }
        h2 {
          font-family: "Satisfy",cursive;
          font-size: 60px;
          font-style: normal;
        }
        .cloud1 {
          position: absolute;
          top: 0px;
          left: 350px;
          z-index: 1;
          animation-duration: 40s;
          animation-name: right_left;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        .cloud2 {
          position: absolute;
          top: 80px;
          left: 285px;
          animation-duration: 20s;
          animation-name: right_left;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        .cloud3 {
          position: absolute;
          right: 40%;
          top: 10px;
          animation-duration: 20s;
          animation-name: left_right;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
    .go-down {
      position: absolute;
      bottom: 30px;
      width: 100%;
      text-align: center;
      .glyphicon-chevron-down {
        font-size: 60px;
        cursor: pointer;
      }
    }
  }


  .actions {
    overflow: hidden;
    background-color: $blue;
    text-align: center;
    h3 {
      font-size: 34px;
      margin-top: 60px;
    }
    .action {
      width: 33.33%;
      text-align: center;
      float: left;
      position: relative;
      top: 50px;
      .illustration {
        position: relative;
        width: 160px;
        height: 172px;
        margin: 0 auto;
        .journey-action {
          position: absolute;
          left: 25px;
          top: 30px;
        }
        .inspire-action {
          position: absolute;
          left: 30px;
          top: 50px;
        }
        .blog-action {
          position: absolute;
          left: 50px;
          top: 50px;
        }
      }
      h4 {
        font-weight: semi-bold;
        font-size: 26px;
      }
      btn {
        margin-top: 20px;
        background-color: #E47800;
      }
    }
  }

  .i-love-my-job {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 60px 3000px;
      border-color: $blue $blue #EBEBEB;
      display: block;
    }
    position: relative;
    text-align: center;
    overflow:hidden;
    background-color: #EBEBEB;
    .flower1 {
      position: absolute;
      animation-duration: 20s;
      animation-name: turn;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      z-index: 1;
    }
    .blue-cloud-left {
      position: absolute;
      left: 0;
      top: 100px;
    }
    .blue-cloud-right {
      position: absolute;
      right: -300px;
      top: 100px;
    }
    h4 {
      position: relative;
      font-size: 40px;
      font-family: "Satisfy",cursive;
    }
    .subtitle {
      margin-top: 20px;
      font-size: 30px;
    }
    .btn {
      font-size: 30px;
      margin-top: 10px;
    }
    .cestquoi {
      position: relative;
      top: 450px;
      margin: 0 auto;
      display: block;
    }
    h5 {
      margin-top: 300px;
      color: #f0ad30;
      font-size: 50px;
      font-family: "Satisfy",cursive;
    }
    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p,a {
      font-size: 20px;
    }
    a {
      margin: 20px 0 100px;
      display: inline-block;
      color: #3e3e3e;
      text-decoration: underline;
    }
  }
  .links {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 60px 3000px;
      border-color: #EBEBEB #EBEBEB #FCF1DB;
      display: block;
    }
    background-color: #FCF1DB;
    overflow: hidden;
    .section {
      width: 33.33%;
      float: left;
      padding: 20px 0 20px 40px;
      ul {
        list-style: none;
        padding: 0;
      }
      h3 {
        font-size: 26px;
        font-family: Satisfy;
      }
    }
  }
  .footer {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 60px 3000px;
      border-color: #FCF1DB #FCF1DB #F0AD30;
      display: block;
      margin-bottom: 20px;
    }
    text-align: center;
    background-color: #F0AD30;
    overflow: hidden;
    p {
      margin-top: 20px;
      font-size: 14px;
      color: #FFF;
    }
  }
}
