#jobs {

  > * { padding: 40px 10px; }

  .round { border-radius: 31px; }

  .top {
    padding-top: 80px;
    text-align: center;

    h1 { margin: 40px auto; max-width: 400px; }

    input.search { 
      height: 50px;
      border-radius: 4px;
      border: solid 2px #b9b6af;
      padding: 5px 10px;
      margin-right: 20px;
      min-width: 300px;
    }
  }

  .grey-spacer {
    max-width: 930px;
    height: 2px;
    border: solid 1px #e6e0d4;
    margin: 0 auto;
    padding: 0;
  }

  .results {
    text-align: left;

    ul { 
      height: inherit;
      max-width: 600px;
      max-height: 0;
      margin: auto;
      opacity: 1;
      transition: opacity .25s ease-in-out, max-height 0.5s ease-out;
    }

    li { 
      margin: 15px 0; 
    }

    a { 
      display: flex; align-items: center;
      border-radius: 4px;
      border: solid 2px transparent;
      padding: 5px;

      &:hover {
        border-color: #b9b6af;
      }
    }

    img { margin-right: 15px; min-width: 62px; height: 62px; }
    .details { margin-right: 15px; min-width: 170px; }
    .firstName { font-size: 14px; }
    q { font-style: italic; }
    em { font-weight: bold; }
  }

  .bloomeurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 930px;
    margin: auto;

    > section {
      align-items: stretch;
      position: relative;

      @media(max-width: $max_phone_size) {
        text-align: center;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
      }

      @media(min-width: $max_phone_size + 1) {
        max-width: 260px;
      }
    }

    .of-the-month {
      .columns {
        display: flex;
        @media(max-width: $max_phone_size) {
          justify-content: center;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
      }
      h2, q, .suggestion { font-size: 15px; }

      q { margin: 15px 0; display: inline-block; }
      .suggestion { font-weight: bold; margin-bottom: 5px;}

      img { margin-right: 15px; }
      img.book-picture { margin: auto 15px auto 0; }

      .book-title, .author { font-size: 12px; }
      .author { color: rgba(62, 62, 62, 0.6); margin-top: 5px; }

      @media(max-width: $max_phone_size) {
        .book-details { max-width: 200px; }
      }
    }

    .last {
      ul { 
        display: flex;
        flex-wrap: wrap;

        @media(max-width: $max_phone_size) {
          justify-content: center;
        }
      }

      li { margin: 5px; }
    }

    .tribes {
      li { margin: 15px 0; }

      a { 
        align-items: center;
        display: flex; 

        span {
          font-size: 15px;
          font-weight: bold;
        }
        .icon { margin-right: 10px; }
      }
    }


    .crazy-btn { margin-top: 30px; }

    li { list-style: none; }

    h1 { font-size: 26px; }

  }

  .trend, .program, .dictionnary { text-align: center; }

  .trend {
    .keyword-0 { font-size: 54px; }
    .keyword-1 { font-size: 44px; }
    .keyword-2 { font-size: 34px; }
    .keyword-3 { font-size: 24px; }
    .keyword-4 { font-size: 18px; }

    p {
      margin: 15px 0 40px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  .program { 
    background-color: $sky_blue;
    padding-top: 60px;
    padding-bottom: 60px;

    > * { max-width: 600px; margin: auto }

    .title { color: $indigo; }

    p {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.7px;
      text-align: center;
      color: #4a4a4a;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

  .dictionnary {
    h1 {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
