// Place all the styles related to the bloomies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#me {
  .menu {
    padding-top: 20px;
    text-align: center;
    #first_name {
      margin-top: 15px;
      font-size: 20px;
    }
  }
  .questions {
    padding-top: 30px;
    label {
      margin-bottom: 10px;
    }
    .form-group {
      margin-top: 40px;
      .editor {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 15px;
        line-height: 2;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
