//TODO: responsive pour smartphone < 480px;
#new_home {
  margin: 0 $main_margin;

  .press, .why, .solution {
    padding: 30px 15px;
    h1 {
      font-family: Satisfy;
      font-size: 32px;
      letter-spacing: 1px;
      color: #ee933f;
    }
  }
  .headlines {
    height: 250px;
    background-color: yellow;
  }
  .categories {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    min-height: 350px;
    section {
       width: 33%;
       padding: 0 5%;
       img {
         border-radius: 52px;
       }
     }
     .avatar-wrapper {
        max-width: 320px;
     }
   }
   .press {
     text-align: center;
     ul {
       display: flex;
       justify-content: space-around;
     }
   }
   .why {
     text-align: center;
     background-color: #FCF2DA;
     min-height: 300px;
   }
 }
