//TODO: responsive pour smartphone < 480px;

.down { transform: rotate(90deg); }

header.new_header {
  @media (max-width: $max_phone_size) {
    color: white;
    font-size: 14px;
    $mobile_header_height: 65px;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 11;
      overflow: auto;
      opacity: 0.95;
    }

    .top { 
      height: $mobile_header_height;
      background-color: $orange;
      display: flex; 
      justify-content: space-between;
      > a { margin: 15px 20px; }
    }
    .logo { 
      background-image: image-url('new_header/initials.png');
      width: 45px;
      height: 35px;
      font-size: 0;
    }
    .menu {
      border-radius: 4px;
      border: solid 1px #ffffff;
      padding: 5px 15px;
    }

    nav > ul { display: none; }
    nav.visible { 
      height: 100%; 
      > ul { display: block; }
    }

    nav > ul {
      top: $mobile_header_height;
      height: calc(100% - #{$mobile_header_height});
      background-color: $orange;
      text-align: left;
      > li {
        margin: 0 20px;
        border-bottom: solid 1px #ffffff;
        font-size: 18px;
        line-height: 1.7;
        &:last-child { border: none; }
        > a {
          padding: 20px 0;
        }
      }
      .submenu { 
        display: none;
        color: $orange;
        background-color: white;
        margin: 0 -20px;
        padding: 0 20px;

        li {
          padding: 10px 0;
          border-bottom: 1px solid #e6e0d4;
          &:last-child { border: none; }
        }
      }
      a {
        display: flex;
        justify-content: space-between;
      }

      .iam { color: $text_color; }
    }
  }
  @media (min-width: $max_phone_size + 1px) {
    nav {
      position: fixed;
      left: 0;
      right: 0;
      max-width: 3000px;
      margin: 0 auto;
      z-index: 10;
      color: white;
      background-color: transparent;
      transition: background-color 500ms;
      > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
        flex-wrap: wrap;
        > li {
          position: relative;
          padding: 0 5px;
          letter-spacing: 0.5px;
          .submenu {
            display: none;
          }
          > a { 
            cursor: pointer;
          }
        }
        a:hover { text-decoration: underline;  }
      }
      .logo {
        width: 80px;
        height: 68px;
        font-size: 0;
        background-image: image-url('new_header/white_logo.png');
        display: inline-block;
        position: relative;
        top: -10px;
      }
    }
    .submenu {
      &:before {
        content: '';
        position: absolute;
        box-shadow: 1px 1px 1px #e7e1d6;
        top: -5px;
        width: 10px;
        height: 10px;
        background-color: #FFF;
        transform: rotate(-135deg);
      }
      color: $text_color;
      position: absolute;
      z-index: 10;
      padding: 15px;
      border-radius: 5px;
      background-color: #FFF;
      box-shadow: 0 2px 4px 0 #e7e1d6;
      border: solid 1px #e6e0d4;
      white-space: nowrap;
      top: 30px;
      &.right {
        right: 0;
        &:before {
          right: 20px; 
        } 
      }
    }
  }
}
