//TODO: responsive pour smartphone < 480px;

header.new_header {
  nav {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1024px;
    z-index: 10;
    color: white;
    background-color: transparent;
    transition: background-color 500ms;
    > ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      flex-wrap: wrap;
      > li {
        position: relative;
        padding: 0 5px;
        .submenu {
          display: none;
        }
      }
    }
  }
  .submenu {
    &:before {
      content: '';
      position: absolute;
      box-shadow: 1px 1px 1px #e7e1d6;
      top: -5px;
      width: 10px;
      height: 10px;
      background-color: #FFF;
      transform: rotate(-135deg);
    }
    color: $text_color;
    position: absolute;
    z-index: 10;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 #e7e1d6;
    border: solid 1px #e6e0d4;
    white-space: nowrap;
    top: 30px;
    &.right {
      right: 0;
      &:before {
       right: 20px; 
      } 
    }
  }
}
