.payment2-cards { width: 99px; height: 30px; background: image-url('payment2/sprite.png') 0px -3px no-repeat; }
.payment2-paypal { width: 121px; height: 36px; background: image-url('payment2/sprite.png') -99px 0px no-repeat; }
