#payment {

  &.flexy { 
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    background: image-url('header/header-bg.png');
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;

    .left {
      display: flex;
      align-items: center;
    }

    .back { font-size: 13px }
    .sub { font-size: 18px; font-weight: 600; }

    @media(max-width: $max_phone_size) {
      .second { max-width: 200px; }
    }

    .white-logo {
      background-image: image-url('header/white_logo.png');
      width: 80px;
      height: 68px;
      display: block;
      margin-right: 30px;
    }

    b { font-weight: 800; }
  }
  .main {
    text-align: center;
    input {
      background-color: #f3efe9;
      border: solid 1px #e6e0d4;
      border-radius: 2px;
      display: block; 
      margin: 5px auto;
      padding: 10px;
      width: 300px;
    }

    .cc-exp, .cc-cvc {
      display: inline-block;
      width: 145px;
      text-align: center;
    }

    .cc-exp { margin-right: 10px; }

    button {
      display: block;
      margin: 20px auto;
      width: 300px;
    }
  }

  .title { margin-top: 30px; }

  .last-step {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    margin: 20px 0;
  }

  .and { margin-top: 25px; }

  .flash-messages {
    p {
      color: #b94a48;
      background-color: #f2dede;
      border-color: #eed3d7;
      width: 300px;
      margin: 20px auto;
      padding: 10px;
    }
  }

  .payment2-cards { margin: 10px auto 30px; }
  .payment2-paypal {
    display: inline-block; 
    font-size: 0; 
    top: 3px;
    position: relative;
    margin-left: 5px;
  }

  .paypal {
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #efefef;
    border: solid 2px #d0d0d0;
    margin: 0 auto 30px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cgu {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
    line-height: 1.5;

    a { text-decoration: underline; }
  }

  .thanks {
    flex-grow: 1;
    text-align: center;
    
    p { font-weight: 600; }

    a.boxed {
      border-radius: 8px;
      border: solid 3px #e6e0d4;
      display: block;
      height: 218px;
      margin: 40px auto 5px;
      width: 317px;
    }

    a.download { text-decoration: underline; }
    a.go_home { 
      color: $orange; 
      font-size: 16px;
      display: block;
      margin: 30px auto;
    }

    a.walking {
      border-radius: 7px;
      border: solid 2px $orange;
      width: 300px;
      padding: 15px 30px;
      color: $orange;
      font-size: 16px;
      display: block;
      margin: 30px auto;
    }
  }


  footer {
    height: 50px;
    background: none;
    background-color: rgba(242, 239, 232, 0.6);
    a {
      background: image-url('header/transparent_logo.png') center;
      display: block;
      width: 55px;
      height: 30px;
      font-size: 0;
    }
  }
}
