.background-0 {
  background-image: image-url("patterns/leather.png"); // thepatternlibrary
}
.background-1 {
  background-image: image-url("patterns/purple-cross.png"); // thepatternlibrary
}
.background-2 {
  background-image: image-url("patterns/colorful-triangles.png"); //http://www.backgroundlabs.com/item/abstract-triangle-pattern/
}
.background-3 {
  background-image: image-url("patterns/red-green-collage.jpg"); // thepatternlibrary
}
.background-4 {
  background-image: image-url("patterns/yellow-triangles.jpg"); // backgroundlabs.com
}
.background-5 {
  background-image: image-url("patterns/diamond-shaped-retro.png"); // backgroundlabs.com
}
.background-6 {
  background-image: image-url("patterns/abstrakt-tile.jpg"); // http://www.dinpattern.com/
}
.background-7 {
  background-image: image-url("patterns/starliner.png"); // dinpattern.com
}
.background-8 {
  background-image: image-url("patterns/gridded-blue.png"); // dinpattern.com
}
.background-9 {
  background-image: image-url("patterns/triangles.png");
}
.background-10 {
  background-image: image-url("patterns/wild-sea.png");
}
.background-11 {
  background-image: image-url("patterns/white-wood.jpg");
}
.background-12 {
  background-image: image-url("patterns/congruent_pentagon.png");
}
.background-13 {
  background-image: image-url("patterns/canvas-orange.png");
}
.background-14 {
  background-image: image-url("patterns/food.png");
}
.background-15 {
  background-image: image-url("patterns/restaurant-2.png");
}
.background-16 {
  background-image: image-url("patterns/green_modern_floral.png");
}
.background-17 {
  background-image: image-url("patterns/modern_cirles.png");
}
.background-18 {
  background-image: image-url("patterns/modern_floral_red.png");
}
.background-19 {
  background-image: image-url("patterns/snowflake2.png");
}
.background-20 {
  background-image: image-url("patterns/yellow_floral.png");
}
.background-21 {
  background-image: image-url("patterns/yellow_swirls.png");
}

ul#portraits_list {

  .parcours-card {
    margin-bottom: 10px;
    .parcours{
      height: 316px;
      background: image-url("parcours.jpg") center;
      border-radius: 10px 10px 0 0;
      box-shadow: 0px 1px 3px 0px #656565;
      text-align: center;
      position: relative;
      p {
        padding-top: 150px;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      a {
        background-color: #278555;
        margin-top: 20px;
        padding: 10px;
        color: white;
        font-weight: bold;
        display: inline-block;
        border-radius: 10px;
        text-shadow: 0px 2px black;
      }
    }
  }

@media (max-width: 991px) {
    margin-top: 30px;
    list-style: none;
    padding-left: 0;
    a {
      color: #333;
      text-decoration: none;
      display: block;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 10px;
      box-shadow: 0px 1px 3px 0px #656565;
    }
    img.portrait-avatar {
      border-radius: 52px;
      margin: 20px 20px;
      float: left;
    }
    .overlay {
      background-color: white;
      opacity: 0.8;
      overflow: hidden;
      height: 145px;
      padding-left: 10px;
      padding-right: 10px;
      img {
        display: none;
      }
      blockquote {
        display: none;
      }
      span.btn {
        display: none;
      }
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  @media (min-width: 992px) {
    margin-top: 30px;
    padding-left: 0px;
    list-style: none;

    > li {
      overflow: hidden;
      margin-bottom: 25px;
      padding-bottom: 5px;
      a {
        color: inherit;
        > div {
          padding-top: 0;
          position: relative;
          top: 1px;
          height: 316px;
          transition: padding 0.35s;
          text-align: center;
          border-radius: 10px 10px 0px 0px;
          box-shadow: 0px 1px 3px 0px #656565;
          overflow: hidden;

          img.portrait-avatar {
            height: 104px;
            width: 104px;
            border-radius: 52px;
            position: relative;
            top: 50px;
          }

          .overlay {
            transition: opacity 0.35s, transform 0.35s;
            position: absolute;
            top: 0px;
            bottom: 0px;
            background: #ffffff;
            opacity: 0.85;
            padding: 10px;
            //strange hack to get full width on some cards
            width: 101%;
            h3 {
              font-size: 16px;
              margin: 0px;
              padding: 10px 0px 5px;
            }
            h2 {
              font-size: 18px;
              font-weight: bold;
              padding: 5px 0px 2px;
              height: 64px;
            }
            img {
              position: relative;
              top: 8px;
              background: #ffffff;
              padding: 5px;
            }
            blockquote {
              border-top: 1px solid gray;
              border-left: 0;
              background-color: white;
              height: 120px;
              margin-bottom: 10px;
              padding-left: 0px;
              padding-right: 0px;
            }
            span.btn-primary {
              font-weight: bold;
              padding-right: 15px;
              margin-right: 0px;
              padding-left: 15px;
              margin-left: 0px;
              background-color: white;
              color: #ff6622;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

//add nice transition if not touch device and big screen
.no-touch {
  @media (min-width: 992px) {
    ul#portraits_list {
      li {
        a {
          > div {
            .overlay {
              transform: translate3d(0, 198px, 0);
            }
          }
          &:hover {
            > div {
              .overlay {
                border-radius: 10px 10px 0px 0px;
                transform: translate3d(0, 0px, 0);
              }
            }
          }
        }
      }
    }
  }
}

#portrait_details {
  .portrait-love-job {
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 50px;
    border-left: medium none;
    font-style: italic;
    font-size: 25px;
    line-height: 1.5;
    &:before {
      background-image: image-url('icons/icon-quote.png');
      display: block;
      width: 17px;
      height: 14px;
      position: absolute;
      left: 15px;
      top: 45px;
    }
    &:after {
      background-image: image-url('icons/icon-quote-close.png');
      display: inline-block;
      width: 17px;
      height: 14px;
      position: relative;
      top: -8px;
    }
  }
  .portrait-main {
    ul.portrait-questions {
      border-top: 2px solid #DDD;
      padding-top: 30px;
      padding-left: 0px;
      > li {
        list-style-type: none;
        margin: 0 0 30px;
        .portrait-question-title {
          line-height: 1.5;
          font-size: 22px;
          margin: 0;
          padding-bottom: 20px;
        }
        .portrait-question-answer {
          font-size: 18px;
          line-height: 1.5;
          margin: 0;
        }
      }
    }
    .portrait-infos {
      text-align: center;
      border-bottom: 1px solid gray;
      img.portrait-avatar {
        height: 140px;
        width: 140px;
        border-radius: 70px;
      }
    }
    .other-questions-coming {
      padding-top: 2em;
      font-size: 1.125em;
      text-align: right;
    }
    .portrait-footer {
      margin-top: 30px;
      text-align: center;
      a.btn {
        font-size: 18px;
        .glyphicon {
          top: 3px;
          padding-right: 10px;
        }
      }
    }
    .merci {
      margin-bottom: 40px;
      font-size: 1.7em;
      line-height: 1.5em;
    }
  }
}

/* Side comments theming fix */
.side-comment .marker {
  background: $orange;
}

// Always display the comment bubble, but lighter
.commentable-section {
  .side-comment {
    .marker {
      display: block;
      background: $light_orange;
      width: 28px;
      height: 24px;
      border-radius: 6px;
      span {
        width: 28px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
      }
      &:after {
        border-color: $light_orange transparent;
      }
      &:before {
        width: 28px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
      }
    }
  }
  &:hover {
    .side-comment {
      .marker {
        background: $orange;
        &:after {
          border-color: $orange transparent;
        }
      }
    }
  }
}

/* Hide side comments on mobile */
@media (max-width: 640px) {
  .side-comment {
    display: none;
  }
}

#portrait_details_2 {
  .portrait_header {
    color: white;
    text-align: center;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 102, 34, 0.8);
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    .portrait-avatar {
      height: 104px;
      width: 104px;
      border-radius: 52px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
      top: 15px;
      z-index: 11;
      box-shadow: 0px 1px 10px 0px black;
    }
    h3, h1, p, ul {
      z-index: 11;
      position: relative;
    }
    h3, h1 {
      font-size: 28px;
      span {
        font-weight: bold;
      }
    }
    h3 {
      margin-top: 35px;
    }
    h1 {
      margin-top: 5px;
    }
    .keywords {
      text-align: left;
      margin-top: 15px;
      padding-bottom: 10px;
      .mark {
        width: 20px;
        height: 3px;
        margin-bottom: 5px;
        background-color: white;
        z-index: 11;
        position: relative;
        font-size: 0;
      }
      p {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0;
      }
      a.social-share-button{
        position: relative;
        z-index: 11;
        margin-right: 25px;
        img {
          width: 18px;
        }
        &:hover {
          text-decoration: none;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        font-size: 16px;
        li {
          display: inline-block;
          margin-right: 5px;
          a {
            color: white;
            text-decoration: underline;
          }
          &:before {
            content: "#";
          }
        }
      }
    }
  }
  .container-wrapper {
    background-color: rgb(246,246,246);
  }

  .actions2 {
    background-color: white;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
    > div {
      padding-top: 15px;
      display: inline-block;
      width: 32%;
      height: 100%;
      vertical-align: top;
      a {
        color: #333;
      }
      a.btn {
        color: white;
        margin-bottom: 15px;
        box-shadow: 0px 1px 3px 0px #656565;
        font-weight: bold;
      }
      span {
        display: block;
      }
    }
    .middle {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      .btn {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .enrollment {
    background-color: #F6F6F6;
    min-height: 100px;
    p {
      text-align:center;
      padding-top: 30px;
      font-size: 1.5em;
      span {
        font-family: 'Satisfy',cursive;
        color: $orange;
      }
      a.btn {
        font-weight: bold;
        box-shadow: 0px 1px 3px 0px #656565;
      }
    }
  }

}
