$orange: #FF6622 !default;

#portraits_list {
  padding-left: 0px;
  list-style: none;

  > li {
    > a {
      color: #333333;
      text-decoration: none;
      .panel {
        .panel-heading {
          text-align: center;
          h2 {
            font-weight: bold;
          }
        }
        .panel-body {
          .portrait-infos {
            img.portrait-avatar {
              height: 104px;
              width: 104px;
              border-radius: 52px;
              float: left;
            }
            .portrait-infos-right {
              overflow: hidden;
              padding-left: 10px;
            }
            border-bottom: 1px solid gray;
            padding-bottom:15px;
            overflow: hidden; /* clear the float */
          }
          .portrait-love-job {
            padding: 15px 0;
            margin-bottom: 0;
            border-bottom: 1px solid gray;
            font-weight: bold;
          }
          .portrait-keywords {
            margin-bottom: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            list-style: none;
            li:before {
              content: '\2605';
              color: $orange;
              padding-right: 8px;
            }
            border-bottom: 1px solid gray;
          }
          .portrait-specifically {
            padding-top: 15px;
          }

        }
      }
    }
    > a:hover {
      .panel {
        border: 1px solid #BBBBBB;
        background-color: #F9F9F9;
      }
    }
  }


}

#portrait_details {
  .panel {
    .panel-body {
      .portrait-sidebar {
        border-right: 1px dotted gray;
        h2.portrait-job-title {
          font-size: 16px;
          margin-top: 0px;
          margin-bottom: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          font-weight: bold;
          border-bottom: 1px solid gray;
        }
        .portrait-keywords {
          margin-bottom: 0;
          padding-top: 15px;
          padding-bottom: 15px;
          list-style: none;
          li:before {
            content: '\2605';
            color: $orange;
            padding-right: 8px;
          }
          border-bottom: 1px solid gray;
        }
        .portrait-love-job {
          padding: 15px 0;
          margin-bottom: 0;
          font-weight: bold;
        }
      }
      .portrait-main {
        .portrait-infos {
          text-align: center;
          border-bottom: 1px solid gray;
          img.portrait-avatar {
            height: 140px;
            width: 140px;
            border-radius: 70px;
          }
        }
      }
      .portrait-specifically {
        padding-top: 15px;
      }
    }
  }
}