$orange: #FF6622 !default;

#portraits_list {
  .panel {
    .panel-heading {
      text-align: center;
      height: 56px;
      h2 {
        font-weight: bold;
      }
    }
    .panel-body {
      .portrait-infos {
        img.portrait-avatar {
          height: 104px;
          width: 104px;
          border-radius: 52px;
        }
        .portrait-infos-right {
          float: right;
        }
        border-bottom: 1px solid gray;
        padding-bottom:15px;
      }
      .portrait-love-job {
        height: 110px;
        padding: 15px 0;
        margin-bottom: 0;
        border-bottom: 1px solid gray;
        font-weight: bold;
      }
      .portrait-keywords {
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        list-style: none;
        li:before {
          content: '\2605';
          color: $orange;
          padding-right: 8px;
        }
        border-bottom: 1px solid gray;
      }
      .portrait-specifically {
        padding-top: 15px;
      }

    }
  }
}