.portrait-back-bag { width: 47px; height: 84px; background: image-url('portrait/sprite.png') 0px -46px no-repeat; }
.portrait-brain { width: 61px; height: 84px; background: image-url('portrait/sprite.png') -47px -46px no-repeat; }
.portrait-cloud { width: 46px; height: 31px; background: image-url('portrait/sprite.png') -108px -73px no-repeat; }
.portrait-cloud-left { width: 76px; height: 34px; background: image-url('portrait/sprite.png') -154px -71px no-repeat; }
.portrait-company-size-1 { width: 81px; height: 177px; background: image-url('portrait/sprite.png') -230px 0px no-repeat; }
.portrait-company-size-2 { width: 81px; height: 177px; background: image-url('portrait/sprite.png') -311px 0px no-repeat; }
.portrait-company-size-3 { width: 81px; height: 177px; background: image-url('portrait/sprite.png') -392px 0px no-repeat; }
.portrait-facebook { width: 24px; height: 24px; background: image-url('portrait/sprite.png') -473px -76px no-repeat; }
.portrait-flag-off { width: 56px; height: 84px; background: image-url('portrait/sprite.png') -497px -46px no-repeat; }
.portrait-flag-on { width: 56px; height: 84px; background: image-url('portrait/sprite.png') -553px -46px no-repeat; }
.portrait-hand { width: 54px; height: 84px; background: image-url('portrait/sprite.png') -609px -46px no-repeat; }
.portrait-icon-book { width: 28px; height: 22px; background: image-url('portrait/sprite.png') -663px -77px no-repeat; }
.portrait-icon-book-on { width: 28px; height: 22px; background: image-url('portrait/sprite.png') -691px -77px no-repeat; }
.portrait-icon-quote { width: 17px; height: 14px; background: image-url('portrait/sprite.png') -719px -81px no-repeat; }
.portrait-icon-quote-close { width: 17px; height: 14px; background: image-url('portrait/sprite.png') -736px -81px no-repeat; }
.portrait-location-inside { width: 54px; height: 84px; background: image-url('portrait/sprite.png') -753px -46px no-repeat; }
.portrait-location-outside { width: 60px; height: 84px; background: image-url('portrait/sprite.png') -807px -46px no-repeat; }
.portrait-luggage { width: 28px; height: 22px; background: image-url('portrait/sprite.png') -867px -77px no-repeat; }
.portrait-luggage-on { width: 28px; height: 22px; background: image-url('portrait/sprite.png') -895px -77px no-repeat; }
.portrait-quote { width: 28px; height: 22px; background: image-url('portrait/sprite.png') -923px -77px no-repeat; }
.portrait-quote-on { width: 28px; height: 22px; background: image-url('portrait/sprite.png') -951px -77px no-repeat; }
.portrait-team-0 { width: 184px; height: 88px; background: image-url('portrait/sprite.png') -979px -44px no-repeat; }
.portrait-team-1 { width: 184px; height: 88px; background: image-url('portrait/sprite.png') -1163px -44px no-repeat; }
.portrait-team-2 { width: 184px; height: 88px; background: image-url('portrait/sprite.png') -1347px -44px no-repeat; }
.portrait-team-3 { width: 184px; height: 88px; background: image-url('portrait/sprite.png') -1531px -44px no-repeat; }
.portrait-team-4 { width: 184px; height: 88px; background: image-url('portrait/sprite.png') -1715px -44px no-repeat; }
.portrait-team-5 { width: 184px; height: 88px; background: image-url('portrait/sprite.png') -1899px -44px no-repeat; }
.portrait-tent { width: 60px; height: 84px; background: image-url('portrait/sprite.png') -2083px -46px no-repeat; }
.portrait-twitter { width: 32px; height: 32px; background: image-url('portrait/sprite.png') -2143px -72px no-repeat; }
.portrait-v-ko { width: 44px; height: 84px; background: image-url('portrait/sprite.png') -2175px -46px no-repeat; }
.portrait-v-ok { width: 44px; height: 84px; background: image-url('portrait/sprite.png') -2219px -46px no-repeat; }
