// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#le-parcours {
  #cover {
    background-size: cover;
    background-image: image-url("jumper.jpg");
    background-position: 49% 50%;
    background-repeat: no-repeat no-repeat;
    .logged_user {
      color:white;
    }
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    #catch {
      text-align: center;
      color: white;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
        margin-top: 20px;
        b {
          font-size: 20px;
        }
      }
    }
  }
  .wrapper {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    .stripe-button-el {
      background-image: none;
      background-color: $orange;
      margin-top: 30px;
      margin-bottom: 30px;
      span {
        background: $orange;
        font-size: 20px;
      }
    }
  }
  #description {
    .row {
      margin-top: 20px;
    }
    p {
      font-size: 20px;
    }
    .quote {
      text-align: center;
    }
    .head {
      font-size: 22px;
      color: $orange;
      text-align: center;
    }
    img {
      display: block;
      margin: 20px auto;
    }
  }
  #ocean {
    margin-top: 30px;
    background-size: cover;
    background-image: image-url("ocean.jpg");
    background-position: 49% 50%;
    background-repeat: no-repeat no-repeat;
    h2 {
      text-align: center;
      color: white;
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
}
#thank_you {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
  color: #666;
  .mail {
    color: $orange;
  }
}
