// Place all the styles related to the testimonies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#testimony {
  .intro {
    background: image-url('header/header-bg.png');
    color: #FFF;
    min-height: 300px;
    padding-top: 150px;
    text-align: center;

    > * {
      max-width: 1024px;
      margin: 0 auto;
    }

    .list-wrapper > * { max-width: inherit; }

    h1 {
      font-family: Satisfy;
      font-size: 44px;
      line-height: 0.8;
      letter-spacing: 1.4px;
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      margin: auto;

      // change !
      max-width: 600px;

      @media (max-width: 699px) { 
        flex-basis: 100%;
        order: -1;
      }
    }

    a {
      font-family: Satisfy;
      font-size: 18px;

      span { border-bottom: 1px solid #FFF; }
    }
  }

  section {
    padding: 0 20px;
  }

  ul { text-align: center; }

  li {
    margin: 50px auto;
    text-align: left;
  }

  .testi-0, .testi-1, .testi-4 {
    max-width: 620px;
  }

  .testi-2, .testi-3 {
    max-width: 250px;
    display: inline-block;
    vertical-align: top;
  }

  .testi-2 {
    @media(min-width: $max_phone_size + 1) {
      margin-right: 80px;
    }
  }


  p.main { 
    position: relative;
    @media(min-width: $max_phone_size + 1) {
      &::before { 
        position: absolute;
        content: "«";
        color: $orange;
        font-size: 40px;
        top: -25px;
        left: -30px;
      }
      &::after { 
        position: absolute;
        content: "»";
        color: $orange;
        font-size: 40px;
        bottom: -16px;
        right: -20px;
      }
    }
  }

  .legend {
    margin-top: 10px;

    > * { vertical-align: middle; }

    img {
      border-radius: 25px;
      margin-right: 10px;
    }

    .text { 
      color: $orange;
      display: inline-block;
      opacity: 0.8;
      font-size: 18px;
      line-height: 1.9;
      letter-spacing: -0.3px;
    }
  }

  .legend.no-photo {
    margin-top: 20px;
    color: $orange;
  }
}
