// Place all the styles related to the Tribes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tribes {
  .cards {
    h2 {
      //make the title take the whole place
      height: 90px;
      line-height: 90px;
    }
  }
}
