// Place all the styles related to the Tribes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tribes {
  margin-top: 65px;
  .feather {
    display: block;
    margin: 55px auto 0px;
  }
  h1 {
    text-align: center;
    font-family: Satisfy;
    font-size: 32px;
    letter-spacing: 1px;
    color: #ee933f;
  }
  h3 {
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    color: #3e3e3e;
  }
  .tribe-cards {
    margin-top: 45px;
  }

  .mess {
    font-family: Satisfy;
    font-size: 32px;
    letter-spacing: 1px;
    text-align: center;
    color: #ee933f;
    border-top: solid 1px #e6e0d4;
    padding-top: 35px;
    display: inline-block;
  }
}

.tribe-cards {
  padding-left: 0px;
  list-style: none;
  a {
    outline: 0;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    margin-bottom: 20px;
  }
  .wrapper {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #e7e1d6;
    border: solid 1px #e6e0d4;
    text-align: center;
    padding: 20px;
    height: 370px;
    .img-wrapper {
      height: 140px;
      width: 140px;
      margin: 0 auto;
      border-radius: 65px;
      display: flex;
      img {
        display: block;
        margin: auto;
      }
    }
    h2 {
      font-family: Satisfy;
      font-size: 32px;
      letter-spacing: 1px;
      color: #3e3e3e;
    }
    .members {
      font-family: Satisfy;
      font-size: 22px;
      letter-spacing: 0.7px;
      text-align: center;
      color: #c7af99;
      display: block;
      margin-bottom: 20px;
    }
    .tag {
      font-family: 'Open Sans';
      font-size: 14px;
      letter-spacing: 0.4px;
      text-align: center;
      color: #3e3e3e;
      display: block;
    }
    &.lesécolos {
      .img-wrapper {
        background-color: rgba(138,87,42,0.48);
      }
      .members {
        color: rgba(138,87,42,0.48); 
      }
    }
    &.lescréatifs {
      .img-wrapper {
        background-color: #c6acd8;
      }
      .members {
        color: #c6acd8;
      }
    }
    &.leshumanistes {
      .img-wrapper {
        background-color: #f0ad30;
      }
      .members {
        color: #f0ad30;
      }
    }
    &.lesorga {
      .img-wrapper {
        background-color: rgba(208,1,27, 0.45);
      }
      .members {
        color: rgba(208,1,27, 0.45);
      }
    }
    &.les30 {
      .img-wrapper {
        background-color: rgba(73,143,225, 0.68);
      }
      .members {
        color: rgba(73,143,225, 0.68);
      }
    }
    &.lesscientifiques {
      .img-wrapper {
        background-color: rgba(126,210,33,0.56);
      }
      .members {
        color: rgba(126,210,33,0.56);
      }
    }
  }
}

#tribes-show {
  margin-top: 85px;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    font-family: "Satisfy", cursive;
  }
  h2 {
    text-align: center;
  }
}
