<h3>Bloomr</h3>
<p>
  <a>Les bloomeurs</a>
  <a>Déconnexion</a>
</p>

<p>
Salut Simon !
Les 3.0, Les créatifs
{{!--
{{#link-to 'whatsnew'}}Quoi de neuf ?{{/link-to}} {{#link-to 'interview'}}Mon témoignage{{/link-to}}
--}}
</p>

{{outlet}}
