<div>
  <label>Vous êtes :</label>
  <input type='text' value='{{ model.jobTitle }}'/>
</div>
{{#each model.questions as |question| }}
  <div style='margin: 20px 0;'>
    <label>{{ question.title }}</label>
    <input style='display: block; width: 100%; height: 50px;' type='text' value='{{ question.answer }}'/>
  </div>
{{/each}}
