.container
  .row{ style: 'margin-top: 20px;' }
    .col-md-10.col-md-offset-1

      %p Merci beaucoup pour votre achat #{ @email }
      %p Vous allez rapidement recevoir vos premiers emails
      %p Stay Tuned 
