#thank_you
  .container
    .row
      .col-md-10.col-md-offset-1
        %p Merci beaucoup <span class='mail'>#{ @email }</span>
        %p tu vas rapidement recevoir tes premiers emails.
        %p A très vite !
